In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from numpy import nan
import matplotlib.pyplot as plt

In [2]:
input_file = 'most-recent-cohorts-all-data-elements-1.csv'
column_template = 'column_heading_template.csv'
forbes_data = 'ForbesFrom MAtt.csv'
#there were simply too many wierd columns in the original data set of columns.  I went in and deleted several
#in the master excel file and regenerated the column template.
column_template_2 = 'column_heading_template_2.csv'
path = './data/'
path2 = './data_documentation/'

In [3]:
df = pd.read_csv(path+input_file, low_memory=False)

In [4]:
df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,PrivacySuppressed,PrivacySuppressed,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,National Accrediting Commission of Career Arts...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,Accrediting Commission of Career Schools and C...,www.hci.edu/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,Council on Occupational Education,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.loc[1,'UNITID']

100663

In [6]:
len(df)

6806

In [7]:
df.replace(to_replace = 'PrivacySuppressed', value = nan, inplace = True)

In [8]:
df.loc[df['OPEID6'] == 21997, 'MN_EARN_WNE_P8']

23    NaN
Name: MN_EARN_WNE_P8, dtype: object

In [9]:
column_heading_df = pd.read_csv(path2 + column_template_2)

In [10]:
column_heading_df

,dev-category,NAME OF DATA ELEMENT,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,academics,"Bachelor's degree in Agriculture, Agriculture ...",program.bachelors.agriculture,integer,CIP01BACHL,(blank),(blank),IPEDS,ibid
1,academics,Bachelor's degree in Architecture And Related ...,program.bachelors.architecture,integer,CIP04BACHL,(blank),(blank),IPEDS,ibid
2,academics,"Bachelor's degree in Area, Ethnic, Cultural, G...",program.bachelors.ethnic_cultural_gender,integer,CIP05BACHL,(blank),(blank),IPEDS,ibid
3,academics,Bachelor's degree in Biological And Biomedical...,program.bachelors.biological,integer,CIP26BACHL,(blank),(blank),IPEDS,ibid
4,academics,"Bachelor's degree in Business, Management, Mar...",program.bachelors.business_marketing,integer,CIP52BACHL,(blank),(blank),IPEDS,ibid
...,...,...,...,...,...,...,...,...,...
105,student,Share of female students,demographics.female_share,float,FEMALE,(blank),(blank),NSLDS,Data element describes the earnings cohort (wi...
106,student,Share of first-generation students,demographics.first_generation,float,FIRST_GEN,(blank),(blank),NSLDS,Data element describes the earnings cohort (wi...
107,student,Share of married students,demographics.married,float,MARRIED,(blank),(blank),NSLDS,Data element describes the earnings cohort (wi...
108,student,Share of students who received a Pell Grant wh...,students_with_pell_grant,float,PELL_EVER,(blank),(blank),NSLDS,Data element describes the earnings cohort (wi...
109,student,Share of veteran students,demographics.veteran,float,VETERAN,(blank),(blank),NSLDS,Data element describes the earnings cohort (wi...

In [11]:
complete_variable_name_list = df.columns.to_list()
complete_variable_name_list

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'ACCREDAGENCY',
 'INSTURL',
 'NPCURL',
 'SCH_DEG',
 'HCM2',
 'MAIN',
 'NUMBRANCH',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'ST_FIPS',
 'REGION',
 'LOCALE',
 'LOCALE2',
 'LATITUDE',
 'LONGITUDE',
 'CCBASIC',
 'CCUGPROF',
 'CCSIZSET',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'SATWR25',
 'SATWR75',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCM25',
 'ACTCM75',
 'ACTEN25',
 'ACTEN75',
 'ACTMT25',
 'ACTMT75',
 'ACTWR25',
 'ACTWR75',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'CIP01CERT1',
 'CIP01CERT2',
 'CIP01ASSOC',
 'CIP01CERT4',
 'CIP01BACHL',
 'CIP03CERT1',
 'CIP03CERT2',
 'CIP03ASSOC',
 'CIP03CERT4',
 'CIP03BACHL',
 'CIP04CERT1',
 'CIP04CERT2',
 'CIP04ASSOC',
 'CIP04CERT4',
 'CIP04BACHL',
 'CIP05CERT1',
 'CIP05CERT2',
 'CIP05ASSOC',
 'CIP05CERT4',
 'CIP05BACHL',
 'CIP09CERT1',
 'CIP09CERT2',
 'CIP09ASSOC',
 'CIP09CERT4',
 'CIP09BACHL',
 'CIP10CERT1',
 'CIP10CERT2',
 'CIP10ASSOC',
 'CIP10CERT4',
 'CIP10BACHL',
 'CIP11CERT1',
 'CIP11CERT2',
 'CIP11ASSOC',
 'CIP11CERT4',
 'CIP11BACHL',
 'CIP12CERT1',
 'CIP12CERT2',
 'CIP12ASSOC',
 'CIP12CERT4',
 'CIP12BACHL',
 'CIP13CERT1',
 'CIP13CERT2',
 'CIP13ASSOC',
 'CIP13CERT4',
 'CIP13BACHL',
 'CIP14CERT1',
 'CIP14CERT2',
 'CIP14ASSOC',
 'CIP14CERT4',
 'CIP14BACHL',
 'CIP15CERT1',
 'CIP15CERT2',
 'CIP15ASSOC',
 'CIP15CERT4',
 'CIP15BACHL',
 'CIP16CERT1',
 'CIP16CERT2',
 'CIP16ASSOC',
 'CIP16CERT4',
 'CIP16BACHL',
 'CIP19CERT1',
 'CIP19CERT2',
 'CIP19ASSOC',
 'CIP19CERT4',
 'CIP19BACHL',
 'CIP22CERT1',
 'CIP22CERT2',
 'CIP22ASSOC',
 'CIP22CERT4',
 'CIP22BACHL',
 'CIP23CERT1',
 'CIP23CERT2',
 'CIP23ASSOC',
 'CIP23CERT4',
 'CIP23BACHL',
 'CIP24CERT1',
 'CIP24CERT2',
 'CIP24ASSOC',
 'CIP24CERT4',
 'CIP24BACHL',
 'CIP25CERT1',
 'CIP25CERT2',
 'CIP25ASSOC',
 'CIP25CERT4',
 'CIP25BACHL',
 'CIP26CERT1',
 'CIP26CERT2',
 'CIP26ASSOC',
 'CIP26CERT4',
 'CIP26BACHL',
 'CIP27CERT1',
 'CIP27CERT2',
 'CIP27ASSOC',
 'CIP27CERT4',
 'CIP27BACHL',
 'CIP29CERT1',
 'CIP29CERT2',
 'CIP29ASSOC',
 'CIP29CERT4',
 'CIP29BACHL',
 'CIP30CERT1',
 'CIP30CERT2',
 'CIP30ASSOC',
 'CIP30CERT4',
 'CIP30BACHL',
 'CIP31CERT1',
 'CIP31CERT2',
 'CIP31ASSOC',
 'CIP31CERT4',
 'CIP31BACHL',
 'CIP38CERT1',
 'CIP38CERT2',
 'CIP38ASSOC',
 'CIP38CERT4',
 'CIP38BACHL',
 'CIP39CERT1',
 'CIP39CERT2',
 'CIP39ASSOC',
 'CIP39CERT4',
 'CIP39BACHL',
 'CIP40CERT1',
 'CIP40CERT2',
 'CIP40ASSOC',
 'CIP40CERT4',
 'CIP40BACHL',
 'CIP41CERT1',
 'CIP41CERT2',
 'CIP41ASSOC',
 'CIP41CERT4',
 'CIP41BACHL',
 'CIP42CERT1',
 'CIP42CERT2',
 'CIP42ASSOC',
 'CIP42CERT4',
 'CIP42BACHL',
 'CIP43CERT1',
 'CIP43CERT2',
 'CIP43ASSOC',
 'CIP43CERT4',
 'CIP43BACHL',
 'CIP44CERT1',
 'CIP44CERT2',
 'CIP44ASSOC',
 'CIP44CERT4',
 'CIP44BACHL',
 'CIP45CERT1',
 'CIP45CERT2',
 'CIP45ASSOC',
 'CIP45CERT4',
 'CIP45BACHL',
 'CIP46CERT1',
 'CIP46CERT2',
 'CIP46ASSOC',
 'CIP46CERT4',
 'CIP46BACHL',
 'CIP47CERT1',
 'CIP47CERT2',
 'CIP47ASSOC',
 'CIP47CERT4',
 'CIP47BACHL',
 'CIP48CERT1',
 'CIP48CERT2',
 'CIP48ASSOC',
 'CIP48CERT4',
 'CIP48BACHL',
 'CIP49CERT1',
 'CIP49CERT2',
 'CIP49ASSOC',
 'CIP49CERT4',
 'CIP49BACHL',
 'CIP50CERT1',
 'CIP50CERT2',
 'CIP50ASSOC',
 'CIP50CERT4',
 'CIP50BACHL',
 'CIP51CERT1',
 'CIP51CERT2',
 'CIP51ASSOC',
 'CIP51CERT4',
 'CIP51BACHL',
 'CIP52CERT1',
 'CIP52CERT2',
 'CIP52ASSOC',
 'CIP52CERT4',
 'CIP52BACHL',
 'CIP54CERT1',
 'CIP54CERT2',
 'CIP54ASSOC',
 'CIP54CERT4',
 'CIP54BACHL',
 'DISTANCEONLY',
 'UGDS',
 'UG',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITENH',
 'UGDS_BLACKNH',
 'UGDS_API',
 'UGDS_AIANOLD',
 'UGDS_HISPOLD',
 'UG_NRA',
 'UG_UNKN',
 'UG_WHITENH',
 'UG_BLACKNH',
 'UG_API',
 'UG_AIANOLD',
 'UG_HISPOLD',
 'PPTUG_EF',
 'PPTUG_EF2',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'NPT41_PROG',
 'NPT42_PROG',
 'NPT43_PROG',
 'NPT44_PROG',
 'NPT45_PROG',
 'NPT41_OTHER',
 'NPT42_OTHER',
 'NPT43_OTHER',
 'NPT44_OTHER',
 'NPT45_OTHER',
 'NPT4_048_PUB',
 'NPT4_048_PRIV',
 'NPT4_048_PROG',
 'NPT4_048_OTHER',
 'NPT4_3075_PUB',
 'NPT4_3075_PRIV',
 'NPT4_75UP_PUB',
 'NPT4_75UP_PRIV',
 'NPT4_3075_PROG',
 'NPT4_3075_OTHER',
 'NPT4_75UP_PROG',
 'NPT4_75UP_OTHER',
 'NUM4_PUB',
 'NUM4_PRIV',
 'NUM4_PROG',
 'NUM4_OTHER',
 'NUM41_PUB',
 'NUM42_PUB',
 'NUM43_PUB',
 'NUM44_PUB',
 'NUM45_PUB',
 'NUM41_PRIV',
 'NUM42_PRIV',
 'NUM43_PRIV',
 'NUM44_PRIV',
 'NUM45_PRIV',
 'NUM41_PROG',
 'NUM42_PROG',
 'NUM43_PROG',
 'NUM44_PROG',
 'NUM45_PROG',
 'NUM41_OTHER',
 'NUM42_OTHER',
 'NUM43_OTHER',
 'NUM44_OTHER',
 'NUM45_OTHER',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'PCTPELL',
 'C150_4',
 'C150_L4',
 'C150_4_POOLED',
 'C150_L4_POOLED',
 'POOLYRS',
 'PFTFTUG1_EF',
 'D150_4',
 'D150_L4',
 'D150_4_POOLED',
 'D150_L4_POOLED',
 'C150_4_WHITE',
 'C150_4_BLACK',
 'C150_4_HISP',
 'C150_4_ASIAN',
 'C150_4_AIAN',
 'C150_4_NHPI',
 'C150_4_2MOR',
 'C150_4_NRA',
 'C150_4_UNKN',
 'C150_4_WHITENH',
 'C150_4_BLACKNH',
 'C150_4_API',
 'C150_4_AIANOLD',
 'C150_4_HISPOLD',
 'C150_L4_WHITE',
 'C150_L4_BLACK',
 'C150_L4_HISP',
 'C150_L4_ASIAN',
 'C150_L4_AIAN',
 'C150_L4_NHPI',
 'C150_L4_2MOR',
 'C150_L4_NRA',
 'C150_L4_UNKN',
 'C150_L4_WHITENH',
 'C150_L4_BLACKNH',
 'C150_L4_API',
 'C150_L4_AIANOLD',
 'C150_L4_HISPOLD',
 'C200_4',
 'C200_L4',
 'D200_4',
 'D200_L4',
 'RET_FT4',
 'RET_FTL4',
 'RET_PT4',
 'RET_PTL4',
 'C200_4_POOLED',
 'C200_L4_POOLED',
 'POOLYRS200',
 'D200_4_POOLED',
 'D200_L4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'CDR2',
 'CDR3',
 'DEATH_YR2_RT',
 'COMP_ORIG_YR2_RT',
 'COMP_4YR_TRANS_YR2_RT',
 'COMP_2YR_TRANS_YR2_RT',
 'WDRAW_ORIG_YR2_RT',
 'WDRAW_4YR_TRANS_YR2_RT',
 'WDRAW_2YR_TRANS_YR2_RT',
 'ENRL_ORIG_YR2_RT',
 'ENRL_4YR_TRANS_YR2_RT',
 'ENRL_2YR_TRANS_YR2_RT',
 'UNKN_ORIG_YR2_RT',
 'UNKN_4YR_TRANS_YR2_RT',
 'UNKN_2YR_TRANS_YR2_RT',
 'LO_INC_DEATH_YR2_RT',
 'LO_INC_COMP_ORIG_YR2_RT',
 'LO_INC_COMP_4YR_TRANS_YR2_RT',
 'LO_INC_COMP_2YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_ORIG_YR2_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR2_RT',
 'LO_INC_ENRL_ORIG_YR2_RT',
 'LO_INC_ENRL_4YR_TRANS_YR2_RT',
 'LO_INC_ENRL_2YR_TRANS_YR2_RT',
 'LO_INC_UNKN_ORIG_YR2_RT',
 'LO_INC_UNKN_4YR_TRANS_YR2_RT',
 'LO_INC_UNKN_2YR_TRANS_YR2_RT',
 'MD_INC_DEATH_YR2_RT',
 'MD_INC_COMP_ORIG_YR2_RT',
 'MD_INC_COMP_4YR_TRANS_YR2_RT',
 'MD_INC_COMP_2YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_ORIG_YR2_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR2_RT',
 'MD_INC_ENRL_ORIG_YR2_RT',
 'MD_INC_ENRL_4YR_TRANS_YR2_RT',
 'MD_INC_ENRL_2YR_TRANS_YR2_RT',
 'MD_INC_UNKN_ORIG_YR2_RT',
 'MD_INC_UNKN_4YR_TRANS_YR2_RT',
 'MD_INC_UNKN_2YR_TRANS_YR2_RT',
 'HI_INC_DEATH_YR2_RT',
 'HI_INC_COMP_ORIG_YR2_RT',
 'HI_INC_COMP_4YR_TRANS_YR2_RT',
 'HI_INC_COMP_2YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_ORIG_YR2_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR2_RT',
 'HI_INC_ENRL_ORIG_YR2_RT',
 'HI_INC_ENRL_4YR_TRANS_YR2_RT',
 'HI_INC_ENRL_2YR_TRANS_YR2_RT',
 'HI_INC_UNKN_ORIG_YR2_RT',
 'HI_INC_UNKN_4YR_TRANS_YR2_RT',
 'HI_INC_UNKN_2YR_TRANS_YR2_RT',
 'DEP_DEATH_YR2_RT',
 'DEP_COMP_ORIG_YR2_RT',
 'DEP_COMP_4YR_TRANS_YR2_RT',
 'DEP_COMP_2YR_TRANS_YR2_RT',
 'DEP_WDRAW_ORIG_YR2_RT',
 'DEP_WDRAW_4YR_TRANS_YR2_RT',
 'DEP_WDRAW_2YR_TRANS_YR2_RT',
 'DEP_ENRL_ORIG_YR2_RT',
 'DEP_ENRL_4YR_TRANS_YR2_RT',
 'DEP_ENRL_2YR_TRANS_YR2_RT',
 'DEP_UNKN_ORIG_YR2_RT',
 'DEP_UNKN_4YR_TRANS_YR2_RT',
 'DEP_UNKN_2YR_TRANS_YR2_RT',
 'IND_DEATH_YR2_RT',
 'IND_COMP_ORIG_YR2_RT',
 'IND_COMP_4YR_TRANS_YR2_RT',
 'IND_COMP_2YR_TRANS_YR2_RT',
 'IND_WDRAW_ORIG_YR2_RT',
 'IND_WDRAW_4YR_TRANS_YR2_RT',
 'IND_WDRAW_2YR_TRANS_YR2_RT',
 'IND_ENRL_ORIG_YR2_RT',
 'IND_ENRL_4YR_TRANS_YR2_RT',
 'IND_ENRL_2YR_TRANS_YR2_RT',
 'IND_UNKN_ORIG_YR2_RT',
 'IND_UNKN_4YR_TRANS_YR2_RT',
 'IND_UNKN_2YR_TRANS_YR2_RT',
 'FEMALE_DEATH_YR2_RT',
 'FEMALE_COMP_ORIG_YR2_RT',
 'FEMALE_COMP_4YR_TRANS_YR2_RT',
 'FEMALE_COMP_2YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_ORIG_YR2_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR2_RT',
 'FEMALE_ENRL_ORIG_YR2_RT',
 'FEMALE_ENRL_4YR_TRANS_YR2_RT',
 'FEMALE_ENRL_2YR_TRANS_YR2_RT',
 'FEMALE_UNKN_ORIG_YR2_RT',
 'FEMALE_UNKN_4YR_TRANS_YR2_RT',
 'FEMALE_UNKN_2YR_TRANS_YR2_RT',
 'MALE_DEATH_YR2_RT',
 'MALE_COMP_ORIG_YR2_RT',
 'MALE_COMP_4YR_TRANS_YR2_RT',
 'MALE_COMP_2YR_TRANS_YR2_RT',
 'MALE_WDRAW_ORIG_YR2_RT',
 'MALE_WDRAW_4YR_TRANS_YR2_RT',
 'MALE_WDRAW_2YR_TRANS_YR2_RT',
 'MALE_ENRL_ORIG_YR2_RT',
 'MALE_ENRL_4YR_TRANS_YR2_RT',
 'MALE_ENRL_2YR_TRANS_YR2_RT',
 'MALE_UNKN_ORIG_YR2_RT',
 'MALE_UNKN_4YR_TRANS_YR2_RT',
 'MALE_UNKN_2YR_TRANS_YR2_RT',
 'PELL_DEATH_YR2_RT',
 'PELL_COMP_ORIG_YR2_RT',
 'PELL_COMP_4YR_TRANS_YR2_RT',
 'PELL_COMP_2YR_TRANS_YR2_RT',
 'PELL_WDRAW_ORIG_YR2_RT',
 'PELL_WDRAW_4YR_TRANS_YR2_RT',
 'PELL_WDRAW_2YR_TRANS_YR2_RT',
 'PELL_ENRL_ORIG_YR2_RT',
 'PELL_ENRL_4YR_TRANS_YR2_RT',
 'PELL_ENRL_2YR_TRANS_YR2_RT',
 'PELL_UNKN_ORIG_YR2_RT',
 'PELL_UNKN_4YR_TRANS_YR2_RT',
 'PELL_UNKN_2YR_TRANS_YR2_RT',
 'NOPELL_DEATH_YR2_RT',
 'NOPELL_COMP_ORIG_YR2_RT',
 'NOPELL_COMP_4YR_TRANS_YR2_RT',
 'NOPELL_COMP_2YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_ORIG_YR2_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR2_RT',
 'NOPELL_ENRL_ORIG_YR2_RT',
 'NOPELL_ENRL_4YR_TRANS_YR2_RT',
 'NOPELL_ENRL_2YR_TRANS_YR2_RT',
 'NOPELL_UNKN_ORIG_YR2_RT',
 'NOPELL_UNKN_4YR_TRANS_YR2_RT',
 'NOPELL_UNKN_2YR_TRANS_YR2_RT',
 'LOAN_DEATH_YR2_RT',
 'LOAN_COMP_ORIG_YR2_RT',
 'LOAN_COMP_4YR_TRANS_YR2_RT',
 'LOAN_COMP_2YR_TRANS_YR2_RT',
 'LOAN_WDRAW_ORIG_YR2_RT',
 'LOAN_WDRAW_4YR_TRANS_YR2_RT',
 'LOAN_WDRAW_2YR_TRANS_YR2_RT',
 'LOAN_ENRL_ORIG_YR2_RT',
 'LOAN_ENRL_4YR_TRANS_YR2_RT',
 'LOAN_ENRL_2YR_TRANS_YR2_RT',
 'LOAN_UNKN_ORIG_YR2_RT',
 'LOAN_UNKN_4YR_TRANS_YR2_RT',
 'LOAN_UNKN_2YR_TRANS_YR2_RT',
 'NOLOAN_DEATH_YR2_RT',
 'NOLOAN_COMP_ORIG_YR2_RT',
 'NOLOAN_COMP_4YR_TRANS_YR2_RT',
 'NOLOAN_COMP_2YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_ORIG_YR2_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_ORIG_YR2_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_ORIG_YR2_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR2_RT',
 'FIRSTGEN_DEATH_YR2_RT',
 'FIRSTGEN_COMP_ORIG_YR2_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR2_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_ORIG_YR2_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_ORIG_YR2_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_ORIG_YR2_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR2_RT',
 'NOT1STGEN_DEATH_YR2_RT',
 'NOT1STGEN_COMP_ORIG_YR2_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR2_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_ORIG_YR2_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_ORIG_YR2_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_ORIG_YR2_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR2_RT',
 'DEATH_YR3_RT',
 'COMP_ORIG_YR3_RT',
 'COMP_4YR_TRANS_YR3_RT',
 'COMP_2YR_TRANS_YR3_RT',
 'WDRAW_ORIG_YR3_RT',
 'WDRAW_4YR_TRANS_YR3_RT',
 'WDRAW_2YR_TRANS_YR3_RT',
 'ENRL_ORIG_YR3_RT',
 'ENRL_4YR_TRANS_YR3_RT',
 'ENRL_2YR_TRANS_YR3_RT',
 'UNKN_ORIG_YR3_RT',
 'UNKN_4YR_TRANS_YR3_RT',
 'UNKN_2YR_TRANS_YR3_RT',
 'LO_INC_DEATH_YR3_RT',
 'LO_INC_COMP_ORIG_YR3_RT',
 'LO_INC_COMP_4YR_TRANS_YR3_RT',
 'LO_INC_COMP_2YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_ORIG_YR3_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR3_RT',
 'LO_INC_ENRL_ORIG_YR3_RT',
 'LO_INC_ENRL_4YR_TRANS_YR3_RT',
 'LO_INC_ENRL_2YR_TRANS_YR3_RT',
 'LO_INC_UNKN_ORIG_YR3_RT',
 'LO_INC_UNKN_4YR_TRANS_YR3_RT',
 'LO_INC_UNKN_2YR_TRANS_YR3_RT',
 'MD_INC_DEATH_YR3_RT',
 'MD_INC_COMP_ORIG_YR3_RT',
 'MD_INC_COMP_4YR_TRANS_YR3_RT',
 'MD_INC_COMP_2YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_ORIG_YR3_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR3_RT',
 'MD_INC_ENRL_ORIG_YR3_RT',
 'MD_INC_ENRL_4YR_TRANS_YR3_RT',
 'MD_INC_ENRL_2YR_TRANS_YR3_RT',
 'MD_INC_UNKN_ORIG_YR3_RT',
 'MD_INC_UNKN_4YR_TRANS_YR3_RT',
 'MD_INC_UNKN_2YR_TRANS_YR3_RT',
 'HI_INC_DEATH_YR3_RT',
 'HI_INC_COMP_ORIG_YR3_RT',
 'HI_INC_COMP_4YR_TRANS_YR3_RT',
 'HI_INC_COMP_2YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_ORIG_YR3_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR3_RT',
 'HI_INC_ENRL_ORIG_YR3_RT',
 'HI_INC_ENRL_4YR_TRANS_YR3_RT',
 'HI_INC_ENRL_2YR_TRANS_YR3_RT',
 'HI_INC_UNKN_ORIG_YR3_RT',
 'HI_INC_UNKN_4YR_TRANS_YR3_RT',
 'HI_INC_UNKN_2YR_TRANS_YR3_RT',
 'DEP_DEATH_YR3_RT',
 'DEP_COMP_ORIG_YR3_RT',
 'DEP_COMP_4YR_TRANS_YR3_RT',
 'DEP_COMP_2YR_TRANS_YR3_RT',
 'DEP_WDRAW_ORIG_YR3_RT',
 'DEP_WDRAW_4YR_TRANS_YR3_RT',
 'DEP_WDRAW_2YR_TRANS_YR3_RT',
 'DEP_ENRL_ORIG_YR3_RT',
 'DEP_ENRL_4YR_TRANS_YR3_RT',
 'DEP_ENRL_2YR_TRANS_YR3_RT',
 'DEP_UNKN_ORIG_YR3_RT',
 'DEP_UNKN_4YR_TRANS_YR3_RT',
 'DEP_UNKN_2YR_TRANS_YR3_RT',
 'IND_DEATH_YR3_RT',
 'IND_COMP_ORIG_YR3_RT',
 'IND_COMP_4YR_TRANS_YR3_RT',
 'IND_COMP_2YR_TRANS_YR3_RT',
 'IND_WDRAW_ORIG_YR3_RT',
 'IND_WDRAW_4YR_TRANS_YR3_RT',
 'IND_WDRAW_2YR_TRANS_YR3_RT',
 'IND_ENRL_ORIG_YR3_RT',
 'IND_ENRL_4YR_TRANS_YR3_RT',
 'IND_ENRL_2YR_TRANS_YR3_RT',
 'IND_UNKN_ORIG_YR3_RT',
 'IND_UNKN_4YR_TRANS_YR3_RT',
 'IND_UNKN_2YR_TRANS_YR3_RT',
 'FEMALE_DEATH_YR3_RT',
 'FEMALE_COMP_ORIG_YR3_RT',
 'FEMALE_COMP_4YR_TRANS_YR3_RT',
 'FEMALE_COMP_2YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_ORIG_YR3_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR3_RT',
 'FEMALE_ENRL_ORIG_YR3_RT',
 'FEMALE_ENRL_4YR_TRANS_YR3_RT',
 'FEMALE_ENRL_2YR_TRANS_YR3_RT',
 'FEMALE_UNKN_ORIG_YR3_RT',
 'FEMALE_UNKN_4YR_TRANS_YR3_RT',
 'FEMALE_UNKN_2YR_TRANS_YR3_RT',
 'MALE_DEATH_YR3_RT',
 'MALE_COMP_ORIG_YR3_RT',
 'MALE_COMP_4YR_TRANS_YR3_RT',
 'MALE_COMP_2YR_TRANS_YR3_RT',
 'MALE_WDRAW_ORIG_YR3_RT',
 'MALE_WDRAW_4YR_TRANS_YR3_RT',
 'MALE_WDRAW_2YR_TRANS_YR3_RT',
 'MALE_ENRL_ORIG_YR3_RT',
 'MALE_ENRL_4YR_TRANS_YR3_RT',
 'MALE_ENRL_2YR_TRANS_YR3_RT',
 'MALE_UNKN_ORIG_YR3_RT',
 'MALE_UNKN_4YR_TRANS_YR3_RT',
 'MALE_UNKN_2YR_TRANS_YR3_RT',
 'PELL_DEATH_YR3_RT',
 'PELL_COMP_ORIG_YR3_RT',
 'PELL_COMP_4YR_TRANS_YR3_RT',
 'PELL_COMP_2YR_TRANS_YR3_RT',
 'PELL_WDRAW_ORIG_YR3_RT',
 'PELL_WDRAW_4YR_TRANS_YR3_RT',
 'PELL_WDRAW_2YR_TRANS_YR3_RT',
 'PELL_ENRL_ORIG_YR3_RT',
 'PELL_ENRL_4YR_TRANS_YR3_RT',
 'PELL_ENRL_2YR_TRANS_YR3_RT',
 'PELL_UNKN_ORIG_YR3_RT',
 'PELL_UNKN_4YR_TRANS_YR3_RT',
 'PELL_UNKN_2YR_TRANS_YR3_RT',
 'NOPELL_DEATH_YR3_RT',
 'NOPELL_COMP_ORIG_YR3_RT',
 'NOPELL_COMP_4YR_TRANS_YR3_RT',
 'NOPELL_COMP_2YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_ORIG_YR3_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR3_RT',
 'NOPELL_ENRL_ORIG_YR3_RT',
 'NOPELL_ENRL_4YR_TRANS_YR3_RT',
 'NOPELL_ENRL_2YR_TRANS_YR3_RT',
 'NOPELL_UNKN_ORIG_YR3_RT',
 'NOPELL_UNKN_4YR_TRANS_YR3_RT',
 'NOPELL_UNKN_2YR_TRANS_YR3_RT',
 'LOAN_DEATH_YR3_RT',
 'LOAN_COMP_ORIG_YR3_RT',
 'LOAN_COMP_4YR_TRANS_YR3_RT',
 'LOAN_COMP_2YR_TRANS_YR3_RT',
 'LOAN_WDRAW_ORIG_YR3_RT',
 'LOAN_WDRAW_4YR_TRANS_YR3_RT',
 'LOAN_WDRAW_2YR_TRANS_YR3_RT',
 'LOAN_ENRL_ORIG_YR3_RT',
 'LOAN_ENRL_4YR_TRANS_YR3_RT',
 'LOAN_ENRL_2YR_TRANS_YR3_RT',
 'LOAN_UNKN_ORIG_YR3_RT',
 'LOAN_UNKN_4YR_TRANS_YR3_RT',
 'LOAN_UNKN_2YR_TRANS_YR3_RT',
 'NOLOAN_DEATH_YR3_RT',
 'NOLOAN_COMP_ORIG_YR3_RT',
 'NOLOAN_COMP_4YR_TRANS_YR3_RT',
 'NOLOAN_COMP_2YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_ORIG_YR3_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_ORIG_YR3_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_ORIG_YR3_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR3_RT',
 'FIRSTGEN_DEATH_YR3_RT',
 'FIRSTGEN_COMP_ORIG_YR3_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR3_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_ORIG_YR3_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_ORIG_YR3_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_ORIG_YR3_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR3_RT',
 'NOT1STGEN_DEATH_YR3_RT',
 'NOT1STGEN_COMP_ORIG_YR3_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR3_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_ORIG_YR3_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_ORIG_YR3_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_ORIG_YR3_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR3_RT',
 'DEATH_YR4_RT',
 'COMP_ORIG_YR4_RT',
 'COMP_4YR_TRANS_YR4_RT',
 'COMP_2YR_TRANS_YR4_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_4YR_TRANS_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'ENRL_ORIG_YR4_RT',
 'ENRL_4YR_TRANS_YR4_RT',
 'ENRL_2YR_TRANS_YR4_RT',
 'UNKN_ORIG_YR4_RT',
 'UNKN_4YR_TRANS_YR4_RT',
 'UNKN_2YR_TRANS_YR4_RT',
 'LO_INC_DEATH_YR4_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_COMP_4YR_TRANS_YR4_RT',
 'LO_INC_COMP_2YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR4_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR4_RT',
 'LO_INC_ENRL_ORIG_YR4_RT',
 'LO_INC_ENRL_4YR_TRANS_YR4_RT',
 'LO_INC_ENRL_2YR_TRANS_YR4_RT',
 'LO_INC_UNKN_ORIG_YR4_RT',
 'LO_INC_UNKN_4YR_TRANS_YR4_RT',
 'LO_INC_UNKN_2YR_TRANS_YR4_RT',
 'MD_INC_DEATH_YR4_RT',
 'MD_INC_COMP_ORIG_YR4_RT',
 'MD_INC_COMP_4YR_TRANS_YR4_RT',
 'MD_INC_COMP_2YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_ORIG_YR4_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR4_RT',
 'MD_INC_ENRL_ORIG_YR4_RT',
 'MD_INC_ENRL_4YR_TRANS_YR4_RT',
 'MD_INC_ENRL_2YR_TRANS_YR4_RT',
 'MD_INC_UNKN_ORIG_YR4_RT',
 'MD_INC_UNKN_4YR_TRANS_YR4_RT',
 'MD_INC_UNKN_2YR_TRANS_YR4_RT',
 'HI_INC_DEATH_YR4_RT',
 'HI_INC_COMP_ORIG_YR4_RT',
 'HI_INC_COMP_4YR_TRANS_YR4_RT',
 'HI_INC_COMP_2YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_ORIG_YR4_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR4_RT',
 'HI_INC_ENRL_ORIG_YR4_RT',
 'HI_INC_ENRL_4YR_TRANS_YR4_RT',
 'HI_INC_ENRL_2YR_TRANS_YR4_RT',
 'HI_INC_UNKN_ORIG_YR4_RT',
 'HI_INC_UNKN_4YR_TRANS_YR4_RT',
 'HI_INC_UNKN_2YR_TRANS_YR4_RT',
 'DEP_DEATH_YR4_RT',
 'DEP_COMP_ORIG_YR4_RT',
 'DEP_COMP_4YR_TRANS_YR4_RT',
 'DEP_COMP_2YR_TRANS_YR4_RT',
 'DEP_WDRAW_ORIG_YR4_RT',
 'DEP_WDRAW_4YR_TRANS_YR4_RT',
 'DEP_WDRAW_2YR_TRANS_YR4_RT',
 'DEP_ENRL_ORIG_YR4_RT',
 'DEP_ENRL_4YR_TRANS_YR4_RT',
 'DEP_ENRL_2YR_TRANS_YR4_RT',
 'DEP_UNKN_ORIG_YR4_RT',
 'DEP_UNKN_4YR_TRANS_YR4_RT',
 'DEP_UNKN_2YR_TRANS_YR4_RT',
 'IND_DEATH_YR4_RT',
 'IND_COMP_ORIG_YR4_RT',
 'IND_COMP_4YR_TRANS_YR4_RT',
 'IND_COMP_2YR_TRANS_YR4_RT',
 'IND_WDRAW_ORIG_YR4_RT',
 'IND_WDRAW_4YR_TRANS_YR4_RT',
 'IND_WDRAW_2YR_TRANS_YR4_RT',
 'IND_ENRL_ORIG_YR4_RT',
 'IND_ENRL_4YR_TRANS_YR4_RT',
 'IND_ENRL_2YR_TRANS_YR4_RT',
 'IND_UNKN_ORIG_YR4_RT',
 'IND_UNKN_4YR_TRANS_YR4_RT',
 'IND_UNKN_2YR_TRANS_YR4_RT',
 'FEMALE_DEATH_YR4_RT',
 'FEMALE_COMP_ORIG_YR4_RT',
 'FEMALE_COMP_4YR_TRANS_YR4_RT',
 'FEMALE_COMP_2YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_ORIG_YR4_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR4_RT',
 'FEMALE_ENRL_ORIG_YR4_RT',
 'FEMALE_ENRL_4YR_TRANS_YR4_RT',
 'FEMALE_ENRL_2YR_TRANS_YR4_RT',
 'FEMALE_UNKN_ORIG_YR4_RT',
 'FEMALE_UNKN_4YR_TRANS_YR4_RT',
 'FEMALE_UNKN_2YR_TRANS_YR4_RT',
 'MALE_DEATH_YR4_RT',
 'MALE_COMP_ORIG_YR4_RT',
 'MALE_COMP_4YR_TRANS_YR4_RT',
 'MALE_COMP_2YR_TRANS_YR4_RT',

In [12]:
filtered_variable_name_list = column_heading_df['VARIABLE NAME'].unique().tolist()
filtered_variable_name_list

['CIP01BACHL',
 'CIP04BACHL',
 'CIP05BACHL',
 'CIP26BACHL',
 'CIP52BACHL',
 'CIP09BACHL',
 'CIP10BACHL',
 'CIP11BACHL',
 'CIP46BACHL',
 'CIP13BACHL',
 'CIP15BACHL',
 'CIP14BACHL',
 'CIP23BACHL',
 'CIP19BACHL',
 'CIP16BACHL',
 'CIP51BACHL',
 'CIP54BACHL',
 'CIP43BACHL',
 'CIP22BACHL',
 'CIP24BACHL',
 'CIP25BACHL',
 'CIP27BACHL',
 'CIP47BACHL',
 'CIP29BACHL',
 'CIP30BACHL',
 'CIP03BACHL',
 'CIP31BACHL',
 'CIP12BACHL',
 'CIP38BACHL',
 'CIP40BACHL',
 'CIP48BACHL',
 'CIP42BACHL',
 'CIP44BACHL',
 'CIP41BACHL',
 'CIP45BACHL',
 'CIP39BACHL',
 'CIP49BACHL',
 'CIP50BACHL',
 'PRGMOFR',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'CUML_DEBT_P10',
 'CUML_DEBT_P25',
 'CUML_DEBT_P75',
 'CUML_DEBT_P90',
 'CUML_DEBT_N',
 'PCTFLOAN',
 'LOAN_EVER',
 'DEBT_MDN',
 'C150_4',
 'C150_4_POOLED',
 'DEP_COMP_ORIG_YR6_RT',
 'WDRAW_ORIG_YR2_RT',
 'COSTT4_A',
 'COSTT4_P',
 'NPT4_PUB',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'MN_EARN_WNE_P6',
 'OPEID6',
 'OPEID',
 'LATITUDE',
 'LONGITUDE',
 'UNITID',
 'AVGFACSAL',
 'CCBASIC',
 'CCUGPROF',
 'CITY',
 'CONTROL',
 'LOCALE2',
 'ST_FIPS',
 'MAIN',
 'MENONLY',
 'WOMENONLY',
 'INSTNM',
 'INEXPFTE',
 'LOCALE',
 'TUITFTE',
 'NUMBRANCH',
 'SCH_DEG',
 'PREDDEG',
 'PFTFAC',
 'REGION',
 'STABBR',
 'INSTURL',
 'ZIP',
 'AGE_ENTRY',
 'FAMINC_IND',
 'FAMINC',
 'AGE_ENTRY_SQ',
 'LNFAMINC',
 'LNFAMINC_IND',
 'MD_FAMINC',
 'MEDIAN_HH_INC',
 'AGEGE24',
 'UG25ABV',
 'DEPENDENT',
 'FEMALE',
 'FIRST_GEN',
 'MARRIED',
 'PELL_EVER',
 'VETERAN']

In [13]:
filtered_df = df.copy()

In [14]:
for variable in complete_variable_name_list:
    if variable not in filtered_variable_name_list:
        filtered_df.drop(columns = variable, inplace = True)

In [15]:
filtered_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,INSTURL,SCH_DEG,MAIN,...,VETERAN,FIRST_GEN,FAMINC,MD_FAMINC,FAMINC_IND,LNFAMINC,LNFAMINC_IND,MEDIAN_HH_INC,MN_EARN_WNE_P6,PRGMOFR
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,3.0,1,...,0.003138732,0.3658280922,32362.826114,23553,10340.346032,NaN,NaN,49720.22,28400,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu,3.0,1,...,0.0031675051,0.341223671,51306.674306,34489,30607.18029,NaN,NaN,55735.22,39400,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,3.0,1,...,0.0405405405,0.5125,21079.472973,15033.5,20596.158491,NaN,NaN,53683.7,35400,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,3.0,1,...,NaN,0.3101321586,61096.588949,44787,27941.821963,NaN,NaN,58688.62,40300,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu,3.0,1,...,NaN,0.3434343434,31684.382188,22080.5,8551.802974,NaN,NaN,46065.2,24400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,https://www.gmc.edu/index.cms,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,https://www.gmc.edu/index.cms,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,www.hci.edu/,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
filtered_df.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'INSTURL', 'SCH_DEG', 'MAIN',
       ...
       'VETERAN', 'FIRST_GEN', 'FAMINC', 'MD_FAMINC', 'FAMINC_IND', 'LNFAMINC',
       'LNFAMINC_IND', 'MEDIAN_HH_INC', 'MN_EARN_WNE_P6', 'PRGMOFR'],
      dtype='object', length=110)

In [17]:
column_heading_df['dev-category'].unique()

array(['academics', 'admissions', 'aid', 'completion', 'cost', 'earnings',
       'root', 'school', 'student'], dtype=object)

In [18]:
#PREDEG == 3 is the university is predominately a 4 year school.
filtered_4_year_df = filtered_df.loc[df['PREDDEG'] == 3, :]
filtered_4_year_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,INSTURL,SCH_DEG,MAIN,...,VETERAN,FIRST_GEN,FAMINC,MD_FAMINC,FAMINC_IND,LNFAMINC,LNFAMINC_IND,MEDIAN_HH_INC,MN_EARN_WNE_P6,PRGMOFR
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,3.0,1,...,0.003138732,0.3658280922,32362.826114,23553,10340.346032,NaN,NaN,49720.22,28400,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu,3.0,1,...,0.0031675051,0.341223671,51306.674306,34489,30607.18029,NaN,NaN,55735.22,39400,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,3.0,1,...,0.0405405405,0.5125,21079.472973,15033.5,20596.158491,NaN,NaN,53683.7,35400,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,3.0,1,...,NaN,0.3101321586,61096.588949,44787,27941.821963,NaN,NaN,58688.62,40300,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu,3.0,1,...,NaN,0.3434343434,31684.382188,22080.5,8551.802974,NaN,NaN,46065.2,24400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,492069,4276100,42761,Champion Christian College,Hot Springs,AR,71913,championchristiancollege.com,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6314,492689,1067401,10674,Texas Tech University Health Sciences Center-E...,El Paso,TX,79905-2827,elpaso.ttuhsc.edu/,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6318,492759,638521,6385,Chamberlain University-Louisiana,Jefferson,LA,70121,https://www.chamberlain.edu/,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6319,492801,246100,2461,Drury University-College of Continuing Profess...,Springfield,MO,65802,www.drury.edu/ccps/,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6322,492962,180500,1805,Indiana Institute of Technology-College of Pro...,Fort Wayne,IN,46803,cps.indianatech.edu/,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
filtered_4_year_df['OPEID'].dtypes

dtype('int64')

In [20]:
college_ranking_df = pd.read_csv(path2+forbes_data)

In [21]:
college_ranking_df['OPEID'].dtypes

dtype('float64')

In [22]:
college_ranking_df = college_ranking_df.fillna(0)

In [23]:
college_ranking_df['OPEID'] = college_ranking_df['OPEID'].astype('int')
college_ranking_df

,UNITID,OPEID,OPEID6,Rank,Name,City,State,Public/Private,Undergraduate Population,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,166027.0,215500,2155.0,1,Harvard University,Cambridge,MA,Private,13844,31120,14327.0,49870.0,69600,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,243744.0,130500,1305.0,2,Stanford University,Stanford,CA,Private,8402,17534,13261.0,50134.0,69109,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,130794.0,142600,1426.0,3,Yale University,New Haven,CT,Private,6483,12974,18627.0,50897.0,71290,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,166683.0,217800,2178.0,4,Massachusetts Institute of Technology,Cambridge,MA,Private,4680,11466,20771.0,43248.0,67430,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,186131.0,262700,2627.0,5,Princeton University,Princeton,NJ,Private,5659,8273,9327.0,48088.0,66150,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,188030.0,265700,2657.0,646,New Mexico State University,Las Cruces,NM,Public,13379,14432,8625.0,9582.0,34720,96700.0,64.0,910.0,1160.0,18.0,23.0,www.nmsu.edu
646,151324.0,180700,1807.0,647,Indiana State University,Terre Haute,IN,Public,13626,13763,13012.0,9297.0,32938,85600.0,85.0,900.0,1110.0,17.0,23.0,www.indstate.edu
647,232025.0,370900,3709.0,648,Emory & Henry College,Emory,VA,Private,1094,1226,19340.0,27155.0,48100,70700.0,72.0,988.0,1170.0,19.0,25.0,www.ehc.edu
648,197230.0,290100,2901.0,649,Wells College,Aurora,NY,Private,488,516,22828.0,30207.0,55180,0.0,80.0,0.0,0.0,0.0,0.0,www.wells.edu
649,198215.0,291400,2914.0,650,Catawba College,Salisbury,NC,Private,1336,1463,19807.0,23662.0,44921,78100.0,42.0,930.0,1100.0,18.0,23.0,www.catawba.edu

In [24]:
#this will give us only the schools that have a rnaking from forbes and ones that we have on our list
filtered_ranking_4_year_df = filtered_4_year_df.merge(college_ranking_df, how = 'inner', on = 'OPEID')

In [25]:
filtered_ranking_4_year_df.columns

Index(['UNITID_x', 'OPEID', 'OPEID6_x', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'INSTURL', 'SCH_DEG', 'MAIN',
       ...
       'Net Price', 'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object', length=129)

In [26]:
filtered_ranking_4_year_df

,UNITID_x,OPEID,OPEID6_x,INSTNM,CITY,STABBR,ZIP,INSTURL,SCH_DEG,MAIN,...,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu,3.0,1,...,17535.0,9254.0,36800,87200.0,92.0,990.0,1370.0,21.0,28.0,www.uab.edu
1,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,3.0,1,...,19986.0,9587.0,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0,www.uah.edu
2,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0100,www.ua.edu/,3.0,1,...,21973.0,16494.0,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0,www.ua.edu
3,100858,100900,1009,Auburn University,Auburn,AL,36849,www.auburn.edu,3.0,1,...,23416.0,9030.0,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0,www.auburn.edu
4,100937,101200,1012,Birmingham-Southern College,Birmingham,AL,35254,www.bsc.edu/,3.0,1,...,22853.0,26594.0,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0,www.bsc.edu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,243780,182500,1825,Purdue University-Main Campus,West Lafayette,IN,47907-2040,https://www.purdue.edu,3.0,1,...,13746.0,10703.0,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0,www.purdue.edu
636,245652,209300,2093,St. John's College,Santa Fe,NM,87505-4599,www.sjc.edu,3.0,1,...,20605.0,31845.0,65456,0.0,63.0,1190.0,1350.0,23.0,32.0,www.sjca.edu
637,262129,3957400,39574,New College of Florida,Sarasota,FL,34243-2109,www.ncf.edu,3.0,1,...,10248.0,9341.0,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0,www.ncf.edu
638,433660,3255300,32553,Florida Gulf Coast University,Fort Myers,FL,33965-6565,www.fgcu.edu,3.0,1,...,15376.0,4726.0,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0,www.fgcu.edu
639,482680,158500,1585,University of North Georgia,Dahlonega,GA,30597,www.ung.edu,3.0,1,...,9854.0,5483.0,28094,85600.0,78.0,910.0,1130.0,20.0,25.0,www.ung.edu

In [27]:
filtered_ranking_4_year_df.columns

Index(['UNITID_x', 'OPEID', 'OPEID6_x', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'INSTURL', 'SCH_DEG', 'MAIN',
       ...
       'Net Price', 'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object', length=129)

In [28]:
#need to drop all text based columns
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['UNITID_x', 'OPEID6_x', 'Name','City','State','Public/Private','Website', 'OPEID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'INSTURL'])

In [29]:
#lets also drop some nonsense columns like latitude, longitude, SCH_DEG, MAIN, PREDDEG, NUMBRANCH, REGION, ST_FIPS
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['CCBASIC','REGION', 'ST_FIPS','SCH_DEG', 'MAIN', 'NUMBRANCH','LATITUDE','LONGITUDE','PREDDEG'])

In [30]:
filtered_ranking_4_year_df

,CONTROL,LOCALE,LOCALE2,CCUGPROF,MENONLY,WOMENONLY,ADM_RATE,ADM_RATE_ALL,SATVRMID,SATMTMID,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,1,12.0,NaN,9.0,0.0,0.0,0.9211,0.9211,555.0,555.0,...,20902,17535.0,9254.0,36800,87200.0,92.0,990.0,1370.0,21.0,28.0
1,1,12.0,NaN,15.0,0.0,0.0,0.8087,0.8087,630.0,565.0,...,9101,19986.0,9587.0,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0
2,1,12.0,NaN,14.0,0.0,0.0,0.5906,0.5906,590.0,580.0,...,38563,21973.0,16494.0,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0
3,1,13.0,NaN,14.0,0.0,0.0,0.7543,0.7543,615.0,615.0,...,29776,23416.0,9030.0,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0
4,2,12.0,NaN,14.0,0.0,0.0,0.5666,0.5666,570.0,560.0,...,1325,22853.0,26594.0,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,1,13.0,NaN,14.0,0.0,0.0,0.5798,0.5798,635.0,660.0,...,42699,13746.0,10703.0,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0
636,2,41.0,NaN,15.0,0.0,0.0,0.6704,0.6704,665.0,645.0,...,386,20605.0,31845.0,65456,0.0,63.0,1190.0,1350.0,23.0,32.0
637,1,13.0,NaN,14.0,0.0,0.0,0.7679,0.7679,675.0,645.0,...,885,10248.0,9341.0,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0
638,1,21.0,NaN,9.0,0.0,0.0,0.6492,0.6492,580.0,555.0,...,15317,15376.0,4726.0,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0
639,1,31.0,NaN,6.0,0.0,0.0,0.8094,0.8094,588.0,540.0,...,20811,9854.0,5483.0,28094,85600.0,78.0,910.0,1130.0,20.0,25.0

In [31]:
#the next few lines are simply to move the school rank to the first column
col_list = filtered_ranking_4_year_df.columns.to_list()

In [32]:
col_list.pop(col_list.index('Rank'))

'Rank'

In [33]:
col_list.insert(0, 'Rank')
col_list

['Rank',
 'CONTROL',
 'LOCALE',
 'LOCALE2',
 'CCUGPROF',
 'MENONLY',
 'WOMENONLY',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'CIP01BACHL',
 'CIP03BACHL',
 'CIP04BACHL',
 'CIP05BACHL',
 'CIP09BACHL',
 'CIP10BACHL',
 'CIP11BACHL',
 'CIP12BACHL',
 'CIP13BACHL',
 'CIP14BACHL',
 'CIP15BACHL',
 'CIP16BACHL',
 'CIP19BACHL',
 'CIP22BACHL',
 'CIP23BACHL',
 'CIP24BACHL',
 'CIP25BACHL',
 'CIP26BACHL',
 'CIP27BACHL',
 'CIP29BACHL',
 'CIP30BACHL',
 'CIP31BACHL',
 'CIP38BACHL',
 'CIP39BACHL',
 'CIP40BACHL',
 'CIP41BACHL',
 'CIP42BACHL',
 'CIP43BACHL',
 'CIP44BACHL',
 'CIP45BACHL',
 'CIP46BACHL',
 'CIP47BACHL',
 'CIP48BACHL',
 'CIP49BACHL',
 'CIP50BACHL',
 'CIP51BACHL',
 'CIP52BACHL',
 'CIP54BACHL',
 'NPT4_PUB',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'C150_4',
 'C150_4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'WDRAW_ORIG_YR2_RT',
 'DEP_COMP_ORIG_YR6_RT',
 'DEBT_MDN',
 'CUML_DEBT_N',
 'CUML_DEBT_P90',
 'CUML_DEBT_P75',
 'CUML_DEBT_P25',
 'CUML_DEBT_P10',
 'LOAN_EVER',
 'PELL_EVER',
 'AGE_ENTRY',
 'AGE_ENTRY_SQ',
 'AGEGE24',
 'FEMALE',
 'MARRIED',
 'DEPENDENT',
 'VETERAN',
 'FIRST_GEN',
 'FAMINC',
 'MD_FAMINC',
 'FAMINC_IND',
 'LNFAMINC',
 'LNFAMINC_IND',
 'MEDIAN_HH_INC',
 'MN_EARN_WNE_P6',
 'PRGMOFR',
 'UNITID_y',
 'OPEID6_y',
 'Undergraduate Population',
 'Student Population',
 'Net Price',
 'Average Grant Aid',
 'Total Annual Cost',
 'Alumni Salary',
 'Acceptance Rate',
 'SAT Lower',
 'SAT Upper',
 'ACT Lower',
 'ACT Upper']

In [128]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df[col_list]

In [129]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df.fillna(0)
filtered_ranking_4_year_df

,Rank,CONTROL,LOCALE,LOCALE2,CCUGPROF,MENONLY,WOMENONLY,ADM_RATE,ADM_RATE_ALL,SATVRMID,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,456,1,12.0,0.0,9.0,0.0,0.0,0.9211,0.9211,555.0,...,20902,17535.0,9254.0,36800,87200.0,92.0,990.0,1370.0,21.0,28.0
1,475,1,12.0,0.0,15.0,0.0,0.0,0.8087,0.8087,630.0,...,9101,19986.0,9587.0,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0
2,252,1,12.0,0.0,14.0,0.0,0.0,0.5906,0.5906,590.0,...,38563,21973.0,16494.0,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0
3,166,1,13.0,0.0,14.0,0.0,0.0,0.7543,0.7543,615.0,...,29776,23416.0,9030.0,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0
4,463,2,12.0,0.0,14.0,0.0,0.0,0.5666,0.5666,570.0,...,1325,22853.0,26594.0,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,118,1,13.0,0.0,14.0,0.0,0.0,0.5798,0.5798,635.0,...,42699,13746.0,10703.0,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0
636,577,2,41.0,0.0,15.0,0.0,0.0,0.6704,0.6704,665.0,...,386,20605.0,31845.0,65456,0.0,63.0,1190.0,1350.0,23.0,32.0
637,277,1,13.0,0.0,14.0,0.0,0.0,0.7679,0.7679,675.0,...,885,10248.0,9341.0,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0
638,519,1,21.0,0.0,9.0,0.0,0.0,0.6492,0.6492,580.0,...,15317,15376.0,4726.0,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0
639,505,1,31.0,0.0,6.0,0.0,0.0,0.8094,0.8094,588.0,...,20811,9854.0,5483.0,28094,85600.0,78.0,910.0,1130.0,20.0,25.0

In [130]:
filtered_ranking_4_year_df['Rank'].dtype

dtype('int64')

In [131]:
#I need to bin the school ranks into bins of 10% each
filtered_ranking_4_year_df['Rank'].describe()

count    640.000000
mean     327.025000
std      186.419385
min        1.000000
25%      166.750000
50%      327.500000
75%      487.250000
max      650.000000
Name: Rank, dtype: float64

In [132]:
filtered_ranking_4_year_df['10%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=10, labels = False)

In [133]:
filtered_ranking_4_year_df['5%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=20, labels = False)

In [134]:
filtered_ranking_4_year_df['20%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=5, labels = False)

In [135]:
filtered_ranking_4_year_df['50%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=2, labels = False)

In [136]:
filtered_ranking_4_year_df

,Rank,CONTROL,LOCALE,LOCALE2,CCUGPROF,MENONLY,WOMENONLY,ADM_RATE,ADM_RATE_ALL,SATVRMID,...,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,10%_cut,5%_cut,20%_cut,50%_cut
0,456,1,12.0,0.0,9.0,0.0,0.0,0.9211,0.9211,555.0,...,87200.0,92.0,990.0,1370.0,21.0,28.0,7,14,3,1
1,475,1,12.0,0.0,15.0,0.0,0.0,0.8087,0.8087,630.0,...,103900.0,81.0,1080.0,1330.0,25.0,31.0,7,14,3,1
2,252,1,12.0,0.0,14.0,0.0,0.0,0.5906,0.5906,590.0,...,97400.0,53.0,1050.0,1280.0,23.0,32.0,3,7,1,0
3,166,1,13.0,0.0,14.0,0.0,0.0,0.7543,0.7543,615.0,...,104500.0,84.0,1130.0,1310.0,24.0,30.0,2,4,1,0
4,463,2,12.0,0.0,14.0,0.0,0.0,0.5666,0.5666,570.0,...,88300.0,62.0,1030.0,1260.0,23.0,29.0,7,14,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,118,1,13.0,0.0,14.0,0.0,0.0,0.5798,0.5798,635.0,...,110000.0,57.0,1150.0,1380.0,25.0,31.0,1,3,0,0
636,577,2,41.0,0.0,15.0,0.0,0.0,0.6704,0.6704,665.0,...,0.0,63.0,1190.0,1350.0,23.0,32.0,8,17,4,1
637,277,1,13.0,0.0,14.0,0.0,0.0,0.7679,0.7679,675.0,...,86500.0,69.0,1190.0,1380.0,25.0,30.0,4,8,2,0
638,519,1,21.0,0.0,9.0,0.0,0.0,0.6492,0.6492,580.0,...,80000.0,64.0,1060.0,1210.0,21.0,25.0,7,15,3,1
639,505,1,31.0,0.0,6.0,0.0,0.0,0.8094,0.8094,588.0,...,85600.0,78.0,910.0,1130.0,20.0,25.0,7,15,3,1

In [137]:
filtered_ranking_4_year_df['10%_cut'].value_counts()

9    64
8    64
7    64
6    64
5    64
4    64
3    64
2    64
1    64
0    64
Name: 10%_cut, dtype: int64

In [138]:
filtered_ranking_4_year_df['5%_cut'].value_counts()

19    32
18    32
1     32
2     32
3     32
4     32
5     32
6     32
7     32
8     32
9     32
10    32
11    32
12    32
13    32
14    32
15    32
16    32
17    32
0     32
Name: 5%_cut, dtype: int64

In [139]:
#begin randomforest classifier work
X = filtered_ranking_4_year_df.drop(columns = ['Rank', '10%_cut', '5%_cut', '20%_cut', '50%_cut'])
column_list = X.columns.to_list()

In [154]:
# here we need to choose either 10%_cut or 5%_cut.  Choose 10% first then redo with 5%
y = filtered_ranking_4_year_df['10%_cut']
y

0      7
1      7
2      3
3      2
4      7
      ..
635    1
636    8
637    4
638    7
639    7
Name: 10%_cut, Length: 640, dtype: int64

In [155]:
print(X.shape, y.shape)

(640, 106) (640,)

In [156]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .4)

In [157]:
# random forest generator classifier
from sklearn.ensemble import RandomForestClassifier

In [158]:
rf = RandomForestClassifier()
rf_a = rf.fit(X_train, y_train)
rf_a.score(X_test, y_test)

0.4036458333333333

In [159]:
# We can sort the features by their importance
importance_a = sorted(zip(rf_a.feature_importances_, column_list), reverse=True)
importance_a

[(0.05591172436921492, 'C150_4'),
 (0.0518646039489703, 'C150_4_POOLED'),
 (0.03090750144343543, 'MN_EARN_WNE_P6'),
 (0.02755865128883881, 'ADM_RATE_ALL'),
 (0.02480769059206875, 'WDRAW_ORIG_YR2_RT'),
 (0.023976851382917174, 'ADM_RATE'),
 (0.023560132887927812, 'PCTFLOAN'),
 (0.022424354078876056, 'ACT Lower'),
 (0.02163147941477352, 'SATVRMID'),
 (0.020892053479316917, 'SAT Upper'),
 (0.019917907653965446, 'Acceptance Rate'),
 (0.019879683044568844, 'AVGFACSAL'),
 (0.019640040197029477, 'Alumni Salary'),
 (0.01933287476640409, 'SAT Lower'),
 (0.019079258945386816, 'INEXPFTE'),
 (0.0183928227222728, 'FAMINC'),
 (0.018286751171527692, 'TUITIONFEE_OUT'),
 (0.01781945857217232, 'SATMTMID'),
 (0.01744902721754449, 'Total Annual Cost'),
 (0.017169789956394284, 'ACT Upper'),
 (0.016726149340748623, 'DEP_COMP_ORIG_YR6_RT'),
 (0.01659421505006113, 'Student Population'),
 (0.016010095813966996, 'PELL_EVER'),
 (0.01586752780368129, 'FAMINC_IND'),
 (0.015549452067712775, 'ACTCMMID'),
 (0.014692569337490384, 'SATWRMID'),
 (0.014532202394502423, 'FIRST_GEN'),
 (0.01449424355343726, 'TUITIONFEE_IN'),
 (0.014297108747276153, 'OPEID6_y'),
 (0.013805280623407664, 'Average Grant Aid'),
 (0.013686767725323899, 'UNITID_y'),
 (0.013375841112513893, 'CUML_DEBT_P90'),
 (0.013251777299830101, 'MEDIAN_HH_INC'),
 (0.013222970932679408, 'ACTMTMID'),
 (0.012923366230300848, 'MD_FAMINC'),
 (0.012824604900003844, 'PFTFAC'),
 (0.012744139372584234, 'LOAN_EVER'),
 (0.01244579972435002, 'FEMALE'),
 (0.011919405098546755, 'ACTENMID'),
 (0.01187421674046438, 'Undergraduate Population'),
 (0.011755106860728335, 'TUITFTE'),
 (0.011156583732704384, 'Net Price'),
 (0.010958168004731095, 'DEBT_MDN'),
 (0.010883985368650735, 'DEPENDENT'),
 (0.010723873892239395, 'CUML_DEBT_P25'),
 (0.010314214764453718, 'CUML_DEBT_N'),
 (0.009935218861397952, 'UG25ABV'),
 (0.009796461383020925, 'MARRIED'),
 (0.009669530950698516, 'COSTT4_A'),
 (0.009520824053116047, 'AGEGE24'),
 (0.009110409012419636, 'CCUGPROF'),
 (0.00907594587549988, 'LOCALE'),
 (0.009044752448844656, 'CUML_DEBT_P75'),
 (0.008512687383498268, 'AGE_ENTRY'),
 (0.008116960006857927, 'CUML_DEBT_P10'),
 (0.006159460315432694, 'NPT4_PUB'),
 (0.005729794887134261, 'CIP19BACHL'),
 (0.004443067128437895, 'CIP14BACHL'),
 (0.004389975048935204, 'VETERAN'),
 (0.004357513419790357, 'CIP51BACHL'),
 (0.004097943757302899, 'CIP43BACHL'),
 (0.0037302247019073195, 'CIP15BACHL'),
 (0.0031720137232504513, 'CIP44BACHL'),
 (0.003132597072272778, 'ACTWRMID'),
 (0.0026872915307636458, 'CIP01BACHL'),
 (0.002667735061898679, 'CIP24BACHL'),
 (0.0025563841998150964, 'CIP05BACHL'),
 (0.002225232747515877, 'CIP31BACHL'),
 (0.0021904718302916872, 'CIP30BACHL'),
 (0.0020241931487675105, 'CIP09BACHL'),
 (0.0019889347643789255, 'CIP11BACHL'),
 (0.001826573126909573, 'CIP13BACHL'),
 (0.0017964218208711075, 'CIP03BACHL'),
 (0.0017531833010166742, 'CIP22BACHL'),
 (0.0017242704313084074, 'CIP38BACHL'),
 (0.0016698575966707738, 'CIP50BACHL'),
 (0.0015949310761316066, 'CONTROL'),
 (0.0014774661435049765, 'CIP39BACHL'),
 (0.0014490414321922573, 'CIP16BACHL'),
 (0.0013439100140062129, 'CIP52BACHL'),
 (0.0012765164778627963, 'CIP45BACHL'),
 (0.0011783452543581833, 'CIP54BACHL'),
 (0.0011238493111168603, 'CIP04BACHL'),
 (0.0008981785294913269, 'CIP42BACHL'),
 (0.0007844768533280454, 'CIP49BACHL'),
 (0.0006704190586872694, 'CIP10BACHL'),
 (0.0006647390506176778, 'CIP40BACHL'),
 (0.0006351680785084573, 'CIP27BACHL'),
 (0.0005296024020793098, 'CIP23BACHL'),
 (0.0005212395428155734, 'WOMENONLY'),
 (0.0004896140037528422, 'CIP12BACHL'),
 (0.00042543544017283, 'CIP26BACHL'),
 (0.0003144963909746066, 'MENONLY'),
 (0.00014673784177764585, 'CIP41BACHL'),
 (8.250662895056822e-05, 'CIP47BACHL'),
 (7.923439763287238e-05, 'CIP29BACHL'),
 (7.583885601674675e-05, 'CIP46BACHL'),
 (0.0, 'TUITIONFEE_PROG'),
 (0.0, 'PRGMOFR'),
 (0.0, 'LOCALE2'),
 (0.0, 'LNFAMINC_IND'),
 (0.0, 'LNFAMINC'),
 (0.0, 'COSTT4_P'),
 (0.0, 'CIP48BACHL'),
 (0.0, 'CIP25BACHL'),
 (0.0, 'AGE_ENTRY_SQ')]

In [160]:
column_list_b = []
for tuple in importance_a:
    if tuple[0] > .01:
        column_list_b.append(tuple[1])
X_a = X[column_list_b]

In [161]:
X_a

,C150_4,C150_4_POOLED,MN_EARN_WNE_P6,ADM_RATE_ALL,WDRAW_ORIG_YR2_RT,ADM_RATE,PCTFLOAN,ACT Lower,SATVRMID,SAT Upper,...,LOAN_EVER,FEMALE,ACTENMID,Undergraduate Population,TUITFTE,Net Price,DEBT_MDN,DEPENDENT,CUML_DEBT_P25,CUML_DEBT_N
0,0.5829,0.5567,39400,0.9211,0.189010989011,0.9211,0.5127,21.0,555.0,1370.0,...,0.8574622694,0.6390907397,27.0,13308,13177.0,17535.0,15000,0.6785913918,6250,6302
1,0.5187,0.5020,40300,0.8087,0.177021276596,0.8087,0.4192,25.0,630.0,1330.0,...,0.8652155714,0.4763499372,30.0,7519,8677.0,19986.0,14000,0.7484303056,5500,2626
2,0.7188,0.6998,42400,0.5906,0.112621753247,0.5906,0.3863,23.0,590.0,1280.0,...,0.9107411386,0.6152524168,29.0,35625,14198.0,21973.0,17500,0.8570354458,7439,10443
3,0.7812,0.7732,43100,0.7543,0.104221635884,0.7543,0.3169,24.0,615.0,1310.0,...,0.887696283,0.531504671,29.0,23846,15908.0,23416.0,16380,0.9141323792,7500,5807
4,0.6800,0.6711,36700,0.5666,0.105769230769,0.5666,0.4567,23.0,570.0,1260.0,...,0.9298642534,0.520361991,27.0,1283,11383.0,22853.0,18794,0.9683257919,7500,455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,0.8061,0.7945,49000,0.5798,0.075909330522,0.5798,0.2909,25.0,635.0,1380.0,...,0.7990543735,0.4732072498,29.0,32534,16369.0,13746.0,15750,0.9561334384,7500,7840
636,0.6364,0.6437,26400,0.6704,0.1875,0.6704,0.5062,23.0,665.0,1350.0,...,0.9027777778,0.3819444444,28.0,354,12834.0,20605.0,14750,0.8541666667,7500,158
637,0.6009,0.6239,26000,0.7679,0.147435897436,0.7679,0.3174,25.0,675.0,1380.0,...,0.7559322034,0.6745762712,30.0,859,953.0,10248.0,9150,0.9389830508,5500,218
638,0.4766,0.4787,36500,0.6492,0.13664825046,0.6492,0.3925,21.0,580.0,1210.0,...,0.7352329451,0.5940099834,23.0,14965,5059.0,15376.0,12625,0.8500415973,5500,5005
639,0.3410,0.3143,37300,0.8094,0.288838398182,0.8094,0.3289,20.0,588.0,1130.0,...,0.6430096051,0.5747065101,22.0,18782,4850.0,9854.0,9374,0.8212379936,4011,6293

In [162]:
# here we need to choose either 10%_cut or 5%_cut.  Choose 10% first then redo with 5%
y_a = filtered_ranking_4_year_df['10%_cut']
y_a

0      7
1      7
2      3
3      2
4      7
      ..
635    1
636    8
637    4
638    7
639    7
Name: 10%_cut, Length: 640, dtype: int64

In [163]:
X = X_a
y = y_a
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [164]:
rf_a = rf.fit(X_train, y_train)
rf_a.score(X_test, y_test)

0.41875

In [165]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf_a.feature_importances_
importances

array([0.06393077, 0.07196365, 0.02798824, 0.02632945, 0.02140058,
       0.02890905, 0.02888923, 0.01864936, 0.0225956 , 0.02066219,
       0.02607691, 0.02827408, 0.03326621, 0.02801998, 0.02591643,
       0.02288636, 0.01646218, 0.02262871, 0.01714204, 0.01272116,
       0.01974257, 0.01989358, 0.01878139, 0.01583309, 0.02162724,
       0.01221191, 0.01921861, 0.01606802, 0.01440018, 0.01599726,
       0.01443311, 0.02133041, 0.01764085, 0.0122295 , 0.01673879,
       0.01792716, 0.01886873, 0.01710628, 0.01185871, 0.01955494,
       0.0178471 , 0.01609098, 0.01871401, 0.01385235, 0.01322567,
       0.01409539])

In [166]:
# We can sort the features by their importance
importance_b = sorted(zip(rf.feature_importances_, column_list), reverse=True)
importance_b

[(0.07196364608123919, 'LOCALE'),
 (0.06393077459972196, 'CONTROL'),
 (0.033266208902969226, 'ACTENMID'),
 (0.028909051709451107, 'WOMENONLY'),
 (0.02888923041060227, 'ADM_RATE'),
 (0.028274076360965045, 'ACTCMMID'),
 (0.02801997958774944, 'ACTMTMID'),
 (0.027988237310417947, 'LOCALE2'),
 (0.026329451436361548, 'CCUGPROF'),
 (0.026076906262265897, 'SATWRMID'),
 (0.025916432597225487, 'ACTWRMID'),
 (0.022886357527336004, 'CIP01BACHL'),
 (0.022628707192143736, 'CIP04BACHL'),
 (0.02259559851035299, 'SATVRMID'),
 (0.02162724035259902, 'CIP14BACHL'),
 (0.02140058249067683, 'MENONLY'),
 (0.021330414908590684, 'CIP25BACHL'),
 (0.020662185118358555, 'SATMTMID'),
 (0.019893583736428137, 'CIP11BACHL'),
 (0.019742569480920673, 'CIP10BACHL'),
 (0.019554940012060693, 'CIP40BACHL'),
 (0.019218614160772095, 'CIP16BACHL'),
 (0.018868729996185968, 'CIP31BACHL'),
 (0.018781387288330703, 'CIP12BACHL'),
 (0.01871401422400466, 'CIP43BACHL'),
 (0.018649359629830827, 'ADM_RATE_ALL'),
 (0.017927156346483585, 'CIP30BACHL'),
 (0.017847096818801964, 'CIP41BACHL'),
 (0.017640849533202163, 'CIP26BACHL'),
 (0.01714203654473434, 'CIP05BACHL'),
 (0.01710628296809505, 'CIP38BACHL'),
 (0.016738789768551494, 'CIP29BACHL'),
 (0.016462177644979044, 'CIP03BACHL'),
 (0.016090983262143036, 'CIP42BACHL'),
 (0.016068021984161306, 'CIP19BACHL'),
 (0.015997255573342826, 'CIP23BACHL'),
 (0.015833088186541406, 'CIP13BACHL'),
 (0.014433113283956802, 'CIP24BACHL'),
 (0.014400176174462034, 'CIP22BACHL'),
 (0.014095392102216841, 'CIP46BACHL'),
 (0.013852352638240832, 'CIP44BACHL'),
 (0.013225667392855751, 'CIP45BACHL'),
 (0.012721163535902533, 'CIP09BACHL'),
 (0.01222949736527957, 'CIP27BACHL'),
 (0.012211913071068527, 'CIP15BACHL'),
 (0.011858705917420194, 'CIP39BACHL')]