In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from numpy import nan
import matplotlib.pyplot as plt

In [2]:
input_file = 'most-recent-cohorts-all-data-elements-1.csv'
column_template = 'column_heading_template.csv'
forbes_data = 'ForbesFrom MAtt_clean.csv'
#there were simply too many wierd columns in the original data set of columns.  I went in and deleted several
#in the master excel file and regenerated the column template.
column_template_2 = 'column_heading_template_new.csv'
path = './data/'
path2 = './data_documentation/'

In [3]:
df = pd.read_csv(path+input_file, low_memory=False)

In [4]:
df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,PrivacySuppressed,PrivacySuppressed,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,National Accrediting Commission of Career Arts...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,Accrediting Commission of Career Schools and C...,www.hci.edu/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,Council on Occupational Education,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.loc[1,'UNITID']

100663

In [6]:
df['UGDS']

0        4990.0
1       13186.0
2         351.0
3        7458.0
4        3903.0
         ...
6801        NaN
6802        NaN
6803        NaN
6804        NaN
6805        NaN
Name: UGDS, Length: 6806, dtype: float64

In [7]:
len(df)

6806

In [8]:
df.replace(to_replace = 'PrivacySuppressed', value = nan, inplace = True)

In [9]:
df.loc[df['OPEID6'] == 21997, 'MN_EARN_WNE_P8']

23    NaN
Name: MN_EARN_WNE_P8, dtype: object

In [10]:
column_heading_df = pd.read_csv(path2 + column_template_2)

In [11]:
column_heading_df

,dev-category,NAME OF DATA ELEMENT,developer-friendly name,API data type,VARIABLE NAME
0,academics,"Bachelor's degree in Agriculture, Agriculture ...",program.bachelors.agriculture,integer,CIP01BACHL
1,academics,Bachelor's degree in Architecture And Related ...,program.bachelors.architecture,integer,CIP04BACHL
2,academics,"Bachelor's degree in Area, Ethnic, Cultural, G...",program.bachelors.ethnic_cultural_gender,integer,CIP05BACHL
3,academics,Bachelor's degree in Biological And Biomedical...,program.bachelors.biological,integer,CIP26BACHL
4,academics,"Bachelor's degree in Business, Management, Mar...",program.bachelors.business_marketing,integer,CIP52BACHL
...,...,...,...,...,...
405,student,Total share of enrollment of undergraduate stu...,demographics.race_ethnicity.hispanic_2000,float,UG_HISPOLD
406,student,Total share of enrollment of undergraduate stu...,demographics.non_resident_aliens_2000,float,UG_NRA
407,student,Total share of enrollment of undergraduate stu...,demographics.race_ethnicity.white_2000,float,UG_WHITENH
408,student,Total share of enrollment of undergraduate stu...,demographics.race_ethnicity.unknown_2000,float,UG_UNKN
409,student,"Unemployment rate, via Census data",demographics.unemployment,float,UNEMP_RATE

In [12]:
complete_variable_name_list = df.columns.to_list()
complete_variable_name_list

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'ACCREDAGENCY',
 'INSTURL',
 'NPCURL',
 'SCH_DEG',
 'HCM2',
 'MAIN',
 'NUMBRANCH',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'ST_FIPS',
 'REGION',
 'LOCALE',
 'LOCALE2',
 'LATITUDE',
 'LONGITUDE',
 'CCBASIC',
 'CCUGPROF',
 'CCSIZSET',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'SATWR25',
 'SATWR75',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCM25',
 'ACTCM75',
 'ACTEN25',
 'ACTEN75',
 'ACTMT25',
 'ACTMT75',
 'ACTWR25',
 'ACTWR75',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'CIP01CERT1',
 'CIP01CERT2',
 'CIP01ASSOC',
 'CIP01CERT4',
 'CIP01BACHL',
 'CIP03CERT1',
 'CIP03CERT2',
 'CIP03ASSOC',
 'CIP03CERT4',
 'CIP03BACHL',
 'CIP04CERT1',
 'CIP04CERT2',
 'CIP04ASSOC',
 'CIP04CERT4',
 'CIP04BACHL',
 'CIP05CERT1',
 'CIP05CERT2',
 'CIP05ASSOC',
 'CIP05CERT4',
 'CIP05BACHL',
 'CIP09CERT1',
 'CIP09CERT2',
 'CIP09ASSOC',
 'CIP09CERT4',
 'CIP09BACHL',
 'CIP10CERT1',
 'CIP10CERT2',
 'CIP10ASSOC',
 'CIP10CERT4',
 'CIP10BACHL',
 'CIP11CERT1',
 'CIP11CERT2',
 'CIP11ASSOC',
 'CIP11CERT4',
 'CIP11BACHL',
 'CIP12CERT1',
 'CIP12CERT2',
 'CIP12ASSOC',
 'CIP12CERT4',
 'CIP12BACHL',
 'CIP13CERT1',
 'CIP13CERT2',
 'CIP13ASSOC',
 'CIP13CERT4',
 'CIP13BACHL',
 'CIP14CERT1',
 'CIP14CERT2',
 'CIP14ASSOC',
 'CIP14CERT4',
 'CIP14BACHL',
 'CIP15CERT1',
 'CIP15CERT2',
 'CIP15ASSOC',
 'CIP15CERT4',
 'CIP15BACHL',
 'CIP16CERT1',
 'CIP16CERT2',
 'CIP16ASSOC',
 'CIP16CERT4',
 'CIP16BACHL',
 'CIP19CERT1',
 'CIP19CERT2',
 'CIP19ASSOC',
 'CIP19CERT4',
 'CIP19BACHL',
 'CIP22CERT1',
 'CIP22CERT2',
 'CIP22ASSOC',
 'CIP22CERT4',
 'CIP22BACHL',
 'CIP23CERT1',
 'CIP23CERT2',
 'CIP23ASSOC',
 'CIP23CERT4',
 'CIP23BACHL',
 'CIP24CERT1',
 'CIP24CERT2',
 'CIP24ASSOC',
 'CIP24CERT4',
 'CIP24BACHL',
 'CIP25CERT1',
 'CIP25CERT2',
 'CIP25ASSOC',
 'CIP25CERT4',
 'CIP25BACHL',
 'CIP26CERT1',
 'CIP26CERT2',
 'CIP26ASSOC',
 'CIP26CERT4',
 'CIP26BACHL',
 'CIP27CERT1',
 'CIP27CERT2',
 'CIP27ASSOC',
 'CIP27CERT4',
 'CIP27BACHL',
 'CIP29CERT1',
 'CIP29CERT2',
 'CIP29ASSOC',
 'CIP29CERT4',
 'CIP29BACHL',
 'CIP30CERT1',
 'CIP30CERT2',
 'CIP30ASSOC',
 'CIP30CERT4',
 'CIP30BACHL',
 'CIP31CERT1',
 'CIP31CERT2',
 'CIP31ASSOC',
 'CIP31CERT4',
 'CIP31BACHL',
 'CIP38CERT1',
 'CIP38CERT2',
 'CIP38ASSOC',
 'CIP38CERT4',
 'CIP38BACHL',
 'CIP39CERT1',
 'CIP39CERT2',
 'CIP39ASSOC',
 'CIP39CERT4',
 'CIP39BACHL',
 'CIP40CERT1',
 'CIP40CERT2',
 'CIP40ASSOC',
 'CIP40CERT4',
 'CIP40BACHL',
 'CIP41CERT1',
 'CIP41CERT2',
 'CIP41ASSOC',
 'CIP41CERT4',
 'CIP41BACHL',
 'CIP42CERT1',
 'CIP42CERT2',
 'CIP42ASSOC',
 'CIP42CERT4',
 'CIP42BACHL',
 'CIP43CERT1',
 'CIP43CERT2',
 'CIP43ASSOC',
 'CIP43CERT4',
 'CIP43BACHL',
 'CIP44CERT1',
 'CIP44CERT2',
 'CIP44ASSOC',
 'CIP44CERT4',
 'CIP44BACHL',
 'CIP45CERT1',
 'CIP45CERT2',
 'CIP45ASSOC',
 'CIP45CERT4',
 'CIP45BACHL',
 'CIP46CERT1',
 'CIP46CERT2',
 'CIP46ASSOC',
 'CIP46CERT4',
 'CIP46BACHL',
 'CIP47CERT1',
 'CIP47CERT2',
 'CIP47ASSOC',
 'CIP47CERT4',
 'CIP47BACHL',
 'CIP48CERT1',
 'CIP48CERT2',
 'CIP48ASSOC',
 'CIP48CERT4',
 'CIP48BACHL',
 'CIP49CERT1',
 'CIP49CERT2',
 'CIP49ASSOC',
 'CIP49CERT4',
 'CIP49BACHL',
 'CIP50CERT1',
 'CIP50CERT2',
 'CIP50ASSOC',
 'CIP50CERT4',
 'CIP50BACHL',
 'CIP51CERT1',
 'CIP51CERT2',
 'CIP51ASSOC',
 'CIP51CERT4',
 'CIP51BACHL',
 'CIP52CERT1',
 'CIP52CERT2',
 'CIP52ASSOC',
 'CIP52CERT4',
 'CIP52BACHL',
 'CIP54CERT1',
 'CIP54CERT2',
 'CIP54ASSOC',
 'CIP54CERT4',
 'CIP54BACHL',
 'DISTANCEONLY',
 'UGDS',
 'UG',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITENH',
 'UGDS_BLACKNH',
 'UGDS_API',
 'UGDS_AIANOLD',
 'UGDS_HISPOLD',
 'UG_NRA',
 'UG_UNKN',
 'UG_WHITENH',
 'UG_BLACKNH',
 'UG_API',
 'UG_AIANOLD',
 'UG_HISPOLD',
 'PPTUG_EF',
 'PPTUG_EF2',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'NPT41_PROG',
 'NPT42_PROG',
 'NPT43_PROG',
 'NPT44_PROG',
 'NPT45_PROG',
 'NPT41_OTHER',
 'NPT42_OTHER',
 'NPT43_OTHER',
 'NPT44_OTHER',
 'NPT45_OTHER',
 'NPT4_048_PUB',
 'NPT4_048_PRIV',
 'NPT4_048_PROG',
 'NPT4_048_OTHER',
 'NPT4_3075_PUB',
 'NPT4_3075_PRIV',
 'NPT4_75UP_PUB',
 'NPT4_75UP_PRIV',
 'NPT4_3075_PROG',
 'NPT4_3075_OTHER',
 'NPT4_75UP_PROG',
 'NPT4_75UP_OTHER',
 'NUM4_PUB',
 'NUM4_PRIV',
 'NUM4_PROG',
 'NUM4_OTHER',
 'NUM41_PUB',
 'NUM42_PUB',
 'NUM43_PUB',
 'NUM44_PUB',
 'NUM45_PUB',
 'NUM41_PRIV',
 'NUM42_PRIV',
 'NUM43_PRIV',
 'NUM44_PRIV',
 'NUM45_PRIV',
 'NUM41_PROG',
 'NUM42_PROG',
 'NUM43_PROG',
 'NUM44_PROG',
 'NUM45_PROG',
 'NUM41_OTHER',
 'NUM42_OTHER',
 'NUM43_OTHER',
 'NUM44_OTHER',
 'NUM45_OTHER',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'PCTPELL',
 'C150_4',
 'C150_L4',
 'C150_4_POOLED',
 'C150_L4_POOLED',
 'POOLYRS',
 'PFTFTUG1_EF',
 'D150_4',
 'D150_L4',
 'D150_4_POOLED',
 'D150_L4_POOLED',
 'C150_4_WHITE',
 'C150_4_BLACK',
 'C150_4_HISP',
 'C150_4_ASIAN',
 'C150_4_AIAN',
 'C150_4_NHPI',
 'C150_4_2MOR',
 'C150_4_NRA',
 'C150_4_UNKN',
 'C150_4_WHITENH',
 'C150_4_BLACKNH',
 'C150_4_API',
 'C150_4_AIANOLD',
 'C150_4_HISPOLD',
 'C150_L4_WHITE',
 'C150_L4_BLACK',
 'C150_L4_HISP',
 'C150_L4_ASIAN',
 'C150_L4_AIAN',
 'C150_L4_NHPI',
 'C150_L4_2MOR',
 'C150_L4_NRA',
 'C150_L4_UNKN',
 'C150_L4_WHITENH',
 'C150_L4_BLACKNH',
 'C150_L4_API',
 'C150_L4_AIANOLD',
 'C150_L4_HISPOLD',
 'C200_4',
 'C200_L4',
 'D200_4',
 'D200_L4',
 'RET_FT4',
 'RET_FTL4',
 'RET_PT4',
 'RET_PTL4',
 'C200_4_POOLED',
 'C200_L4_POOLED',
 'POOLYRS200',
 'D200_4_POOLED',
 'D200_L4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'CDR2',
 'CDR3',
 'DEATH_YR2_RT',
 'COMP_ORIG_YR2_RT',
 'COMP_4YR_TRANS_YR2_RT',
 'COMP_2YR_TRANS_YR2_RT',
 'WDRAW_ORIG_YR2_RT',
 'WDRAW_4YR_TRANS_YR2_RT',
 'WDRAW_2YR_TRANS_YR2_RT',
 'ENRL_ORIG_YR2_RT',
 'ENRL_4YR_TRANS_YR2_RT',
 'ENRL_2YR_TRANS_YR2_RT',
 'UNKN_ORIG_YR2_RT',
 'UNKN_4YR_TRANS_YR2_RT',
 'UNKN_2YR_TRANS_YR2_RT',
 'LO_INC_DEATH_YR2_RT',
 'LO_INC_COMP_ORIG_YR2_RT',
 'LO_INC_COMP_4YR_TRANS_YR2_RT',
 'LO_INC_COMP_2YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_ORIG_YR2_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR2_RT',
 'LO_INC_ENRL_ORIG_YR2_RT',
 'LO_INC_ENRL_4YR_TRANS_YR2_RT',
 'LO_INC_ENRL_2YR_TRANS_YR2_RT',
 'LO_INC_UNKN_ORIG_YR2_RT',
 'LO_INC_UNKN_4YR_TRANS_YR2_RT',
 'LO_INC_UNKN_2YR_TRANS_YR2_RT',
 'MD_INC_DEATH_YR2_RT',
 'MD_INC_COMP_ORIG_YR2_RT',
 'MD_INC_COMP_4YR_TRANS_YR2_RT',
 'MD_INC_COMP_2YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_ORIG_YR2_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR2_RT',
 'MD_INC_ENRL_ORIG_YR2_RT',
 'MD_INC_ENRL_4YR_TRANS_YR2_RT',
 'MD_INC_ENRL_2YR_TRANS_YR2_RT',
 'MD_INC_UNKN_ORIG_YR2_RT',
 'MD_INC_UNKN_4YR_TRANS_YR2_RT',
 'MD_INC_UNKN_2YR_TRANS_YR2_RT',
 'HI_INC_DEATH_YR2_RT',
 'HI_INC_COMP_ORIG_YR2_RT',
 'HI_INC_COMP_4YR_TRANS_YR2_RT',
 'HI_INC_COMP_2YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_ORIG_YR2_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR2_RT',
 'HI_INC_ENRL_ORIG_YR2_RT',
 'HI_INC_ENRL_4YR_TRANS_YR2_RT',
 'HI_INC_ENRL_2YR_TRANS_YR2_RT',
 'HI_INC_UNKN_ORIG_YR2_RT',
 'HI_INC_UNKN_4YR_TRANS_YR2_RT',
 'HI_INC_UNKN_2YR_TRANS_YR2_RT',
 'DEP_DEATH_YR2_RT',
 'DEP_COMP_ORIG_YR2_RT',
 'DEP_COMP_4YR_TRANS_YR2_RT',
 'DEP_COMP_2YR_TRANS_YR2_RT',
 'DEP_WDRAW_ORIG_YR2_RT',
 'DEP_WDRAW_4YR_TRANS_YR2_RT',
 'DEP_WDRAW_2YR_TRANS_YR2_RT',
 'DEP_ENRL_ORIG_YR2_RT',
 'DEP_ENRL_4YR_TRANS_YR2_RT',
 'DEP_ENRL_2YR_TRANS_YR2_RT',
 'DEP_UNKN_ORIG_YR2_RT',
 'DEP_UNKN_4YR_TRANS_YR2_RT',
 'DEP_UNKN_2YR_TRANS_YR2_RT',
 'IND_DEATH_YR2_RT',
 'IND_COMP_ORIG_YR2_RT',
 'IND_COMP_4YR_TRANS_YR2_RT',
 'IND_COMP_2YR_TRANS_YR2_RT',
 'IND_WDRAW_ORIG_YR2_RT',
 'IND_WDRAW_4YR_TRANS_YR2_RT',
 'IND_WDRAW_2YR_TRANS_YR2_RT',
 'IND_ENRL_ORIG_YR2_RT',
 'IND_ENRL_4YR_TRANS_YR2_RT',
 'IND_ENRL_2YR_TRANS_YR2_RT',
 'IND_UNKN_ORIG_YR2_RT',
 'IND_UNKN_4YR_TRANS_YR2_RT',
 'IND_UNKN_2YR_TRANS_YR2_RT',
 'FEMALE_DEATH_YR2_RT',
 'FEMALE_COMP_ORIG_YR2_RT',
 'FEMALE_COMP_4YR_TRANS_YR2_RT',
 'FEMALE_COMP_2YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_ORIG_YR2_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR2_RT',
 'FEMALE_ENRL_ORIG_YR2_RT',
 'FEMALE_ENRL_4YR_TRANS_YR2_RT',
 'FEMALE_ENRL_2YR_TRANS_YR2_RT',
 'FEMALE_UNKN_ORIG_YR2_RT',
 'FEMALE_UNKN_4YR_TRANS_YR2_RT',
 'FEMALE_UNKN_2YR_TRANS_YR2_RT',
 'MALE_DEATH_YR2_RT',
 'MALE_COMP_ORIG_YR2_RT',
 'MALE_COMP_4YR_TRANS_YR2_RT',
 'MALE_COMP_2YR_TRANS_YR2_RT',
 'MALE_WDRAW_ORIG_YR2_RT',
 'MALE_WDRAW_4YR_TRANS_YR2_RT',
 'MALE_WDRAW_2YR_TRANS_YR2_RT',
 'MALE_ENRL_ORIG_YR2_RT',
 'MALE_ENRL_4YR_TRANS_YR2_RT',
 'MALE_ENRL_2YR_TRANS_YR2_RT',
 'MALE_UNKN_ORIG_YR2_RT',
 'MALE_UNKN_4YR_TRANS_YR2_RT',
 'MALE_UNKN_2YR_TRANS_YR2_RT',
 'PELL_DEATH_YR2_RT',
 'PELL_COMP_ORIG_YR2_RT',
 'PELL_COMP_4YR_TRANS_YR2_RT',
 'PELL_COMP_2YR_TRANS_YR2_RT',
 'PELL_WDRAW_ORIG_YR2_RT',
 'PELL_WDRAW_4YR_TRANS_YR2_RT',
 'PELL_WDRAW_2YR_TRANS_YR2_RT',
 'PELL_ENRL_ORIG_YR2_RT',
 'PELL_ENRL_4YR_TRANS_YR2_RT',
 'PELL_ENRL_2YR_TRANS_YR2_RT',
 'PELL_UNKN_ORIG_YR2_RT',
 'PELL_UNKN_4YR_TRANS_YR2_RT',
 'PELL_UNKN_2YR_TRANS_YR2_RT',
 'NOPELL_DEATH_YR2_RT',
 'NOPELL_COMP_ORIG_YR2_RT',
 'NOPELL_COMP_4YR_TRANS_YR2_RT',
 'NOPELL_COMP_2YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_ORIG_YR2_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR2_RT',
 'NOPELL_ENRL_ORIG_YR2_RT',
 'NOPELL_ENRL_4YR_TRANS_YR2_RT',
 'NOPELL_ENRL_2YR_TRANS_YR2_RT',
 'NOPELL_UNKN_ORIG_YR2_RT',
 'NOPELL_UNKN_4YR_TRANS_YR2_RT',
 'NOPELL_UNKN_2YR_TRANS_YR2_RT',
 'LOAN_DEATH_YR2_RT',
 'LOAN_COMP_ORIG_YR2_RT',
 'LOAN_COMP_4YR_TRANS_YR2_RT',
 'LOAN_COMP_2YR_TRANS_YR2_RT',
 'LOAN_WDRAW_ORIG_YR2_RT',
 'LOAN_WDRAW_4YR_TRANS_YR2_RT',
 'LOAN_WDRAW_2YR_TRANS_YR2_RT',
 'LOAN_ENRL_ORIG_YR2_RT',
 'LOAN_ENRL_4YR_TRANS_YR2_RT',
 'LOAN_ENRL_2YR_TRANS_YR2_RT',
 'LOAN_UNKN_ORIG_YR2_RT',
 'LOAN_UNKN_4YR_TRANS_YR2_RT',
 'LOAN_UNKN_2YR_TRANS_YR2_RT',
 'NOLOAN_DEATH_YR2_RT',
 'NOLOAN_COMP_ORIG_YR2_RT',
 'NOLOAN_COMP_4YR_TRANS_YR2_RT',
 'NOLOAN_COMP_2YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_ORIG_YR2_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_ORIG_YR2_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_ORIG_YR2_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR2_RT',
 'FIRSTGEN_DEATH_YR2_RT',
 'FIRSTGEN_COMP_ORIG_YR2_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR2_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_ORIG_YR2_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_ORIG_YR2_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_ORIG_YR2_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR2_RT',
 'NOT1STGEN_DEATH_YR2_RT',
 'NOT1STGEN_COMP_ORIG_YR2_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR2_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_ORIG_YR2_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_ORIG_YR2_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_ORIG_YR2_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR2_RT',
 'DEATH_YR3_RT',
 'COMP_ORIG_YR3_RT',
 'COMP_4YR_TRANS_YR3_RT',
 'COMP_2YR_TRANS_YR3_RT',
 'WDRAW_ORIG_YR3_RT',
 'WDRAW_4YR_TRANS_YR3_RT',
 'WDRAW_2YR_TRANS_YR3_RT',
 'ENRL_ORIG_YR3_RT',
 'ENRL_4YR_TRANS_YR3_RT',
 'ENRL_2YR_TRANS_YR3_RT',
 'UNKN_ORIG_YR3_RT',
 'UNKN_4YR_TRANS_YR3_RT',
 'UNKN_2YR_TRANS_YR3_RT',
 'LO_INC_DEATH_YR3_RT',
 'LO_INC_COMP_ORIG_YR3_RT',
 'LO_INC_COMP_4YR_TRANS_YR3_RT',
 'LO_INC_COMP_2YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_ORIG_YR3_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR3_RT',
 'LO_INC_ENRL_ORIG_YR3_RT',
 'LO_INC_ENRL_4YR_TRANS_YR3_RT',
 'LO_INC_ENRL_2YR_TRANS_YR3_RT',
 'LO_INC_UNKN_ORIG_YR3_RT',
 'LO_INC_UNKN_4YR_TRANS_YR3_RT',
 'LO_INC_UNKN_2YR_TRANS_YR3_RT',
 'MD_INC_DEATH_YR3_RT',
 'MD_INC_COMP_ORIG_YR3_RT',
 'MD_INC_COMP_4YR_TRANS_YR3_RT',
 'MD_INC_COMP_2YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_ORIG_YR3_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR3_RT',
 'MD_INC_ENRL_ORIG_YR3_RT',
 'MD_INC_ENRL_4YR_TRANS_YR3_RT',
 'MD_INC_ENRL_2YR_TRANS_YR3_RT',
 'MD_INC_UNKN_ORIG_YR3_RT',
 'MD_INC_UNKN_4YR_TRANS_YR3_RT',
 'MD_INC_UNKN_2YR_TRANS_YR3_RT',
 'HI_INC_DEATH_YR3_RT',
 'HI_INC_COMP_ORIG_YR3_RT',
 'HI_INC_COMP_4YR_TRANS_YR3_RT',
 'HI_INC_COMP_2YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_ORIG_YR3_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR3_RT',
 'HI_INC_ENRL_ORIG_YR3_RT',
 'HI_INC_ENRL_4YR_TRANS_YR3_RT',
 'HI_INC_ENRL_2YR_TRANS_YR3_RT',
 'HI_INC_UNKN_ORIG_YR3_RT',
 'HI_INC_UNKN_4YR_TRANS_YR3_RT',
 'HI_INC_UNKN_2YR_TRANS_YR3_RT',
 'DEP_DEATH_YR3_RT',
 'DEP_COMP_ORIG_YR3_RT',
 'DEP_COMP_4YR_TRANS_YR3_RT',
 'DEP_COMP_2YR_TRANS_YR3_RT',
 'DEP_WDRAW_ORIG_YR3_RT',
 'DEP_WDRAW_4YR_TRANS_YR3_RT',
 'DEP_WDRAW_2YR_TRANS_YR3_RT',
 'DEP_ENRL_ORIG_YR3_RT',
 'DEP_ENRL_4YR_TRANS_YR3_RT',
 'DEP_ENRL_2YR_TRANS_YR3_RT',
 'DEP_UNKN_ORIG_YR3_RT',
 'DEP_UNKN_4YR_TRANS_YR3_RT',
 'DEP_UNKN_2YR_TRANS_YR3_RT',
 'IND_DEATH_YR3_RT',
 'IND_COMP_ORIG_YR3_RT',
 'IND_COMP_4YR_TRANS_YR3_RT',
 'IND_COMP_2YR_TRANS_YR3_RT',
 'IND_WDRAW_ORIG_YR3_RT',
 'IND_WDRAW_4YR_TRANS_YR3_RT',
 'IND_WDRAW_2YR_TRANS_YR3_RT',
 'IND_ENRL_ORIG_YR3_RT',
 'IND_ENRL_4YR_TRANS_YR3_RT',
 'IND_ENRL_2YR_TRANS_YR3_RT',
 'IND_UNKN_ORIG_YR3_RT',
 'IND_UNKN_4YR_TRANS_YR3_RT',
 'IND_UNKN_2YR_TRANS_YR3_RT',
 'FEMALE_DEATH_YR3_RT',
 'FEMALE_COMP_ORIG_YR3_RT',
 'FEMALE_COMP_4YR_TRANS_YR3_RT',
 'FEMALE_COMP_2YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_ORIG_YR3_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR3_RT',
 'FEMALE_ENRL_ORIG_YR3_RT',
 'FEMALE_ENRL_4YR_TRANS_YR3_RT',
 'FEMALE_ENRL_2YR_TRANS_YR3_RT',
 'FEMALE_UNKN_ORIG_YR3_RT',
 'FEMALE_UNKN_4YR_TRANS_YR3_RT',
 'FEMALE_UNKN_2YR_TRANS_YR3_RT',
 'MALE_DEATH_YR3_RT',
 'MALE_COMP_ORIG_YR3_RT',
 'MALE_COMP_4YR_TRANS_YR3_RT',
 'MALE_COMP_2YR_TRANS_YR3_RT',
 'MALE_WDRAW_ORIG_YR3_RT',
 'MALE_WDRAW_4YR_TRANS_YR3_RT',
 'MALE_WDRAW_2YR_TRANS_YR3_RT',
 'MALE_ENRL_ORIG_YR3_RT',
 'MALE_ENRL_4YR_TRANS_YR3_RT',
 'MALE_ENRL_2YR_TRANS_YR3_RT',
 'MALE_UNKN_ORIG_YR3_RT',
 'MALE_UNKN_4YR_TRANS_YR3_RT',
 'MALE_UNKN_2YR_TRANS_YR3_RT',
 'PELL_DEATH_YR3_RT',
 'PELL_COMP_ORIG_YR3_RT',
 'PELL_COMP_4YR_TRANS_YR3_RT',
 'PELL_COMP_2YR_TRANS_YR3_RT',
 'PELL_WDRAW_ORIG_YR3_RT',
 'PELL_WDRAW_4YR_TRANS_YR3_RT',
 'PELL_WDRAW_2YR_TRANS_YR3_RT',
 'PELL_ENRL_ORIG_YR3_RT',
 'PELL_ENRL_4YR_TRANS_YR3_RT',
 'PELL_ENRL_2YR_TRANS_YR3_RT',
 'PELL_UNKN_ORIG_YR3_RT',
 'PELL_UNKN_4YR_TRANS_YR3_RT',
 'PELL_UNKN_2YR_TRANS_YR3_RT',
 'NOPELL_DEATH_YR3_RT',
 'NOPELL_COMP_ORIG_YR3_RT',
 'NOPELL_COMP_4YR_TRANS_YR3_RT',
 'NOPELL_COMP_2YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_ORIG_YR3_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR3_RT',
 'NOPELL_ENRL_ORIG_YR3_RT',
 'NOPELL_ENRL_4YR_TRANS_YR3_RT',
 'NOPELL_ENRL_2YR_TRANS_YR3_RT',
 'NOPELL_UNKN_ORIG_YR3_RT',
 'NOPELL_UNKN_4YR_TRANS_YR3_RT',
 'NOPELL_UNKN_2YR_TRANS_YR3_RT',
 'LOAN_DEATH_YR3_RT',
 'LOAN_COMP_ORIG_YR3_RT',
 'LOAN_COMP_4YR_TRANS_YR3_RT',
 'LOAN_COMP_2YR_TRANS_YR3_RT',
 'LOAN_WDRAW_ORIG_YR3_RT',
 'LOAN_WDRAW_4YR_TRANS_YR3_RT',
 'LOAN_WDRAW_2YR_TRANS_YR3_RT',
 'LOAN_ENRL_ORIG_YR3_RT',
 'LOAN_ENRL_4YR_TRANS_YR3_RT',
 'LOAN_ENRL_2YR_TRANS_YR3_RT',
 'LOAN_UNKN_ORIG_YR3_RT',
 'LOAN_UNKN_4YR_TRANS_YR3_RT',
 'LOAN_UNKN_2YR_TRANS_YR3_RT',
 'NOLOAN_DEATH_YR3_RT',
 'NOLOAN_COMP_ORIG_YR3_RT',
 'NOLOAN_COMP_4YR_TRANS_YR3_RT',
 'NOLOAN_COMP_2YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_ORIG_YR3_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_ORIG_YR3_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_ORIG_YR3_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR3_RT',
 'FIRSTGEN_DEATH_YR3_RT',
 'FIRSTGEN_COMP_ORIG_YR3_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR3_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_ORIG_YR3_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_ORIG_YR3_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_ORIG_YR3_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR3_RT',
 'NOT1STGEN_DEATH_YR3_RT',
 'NOT1STGEN_COMP_ORIG_YR3_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR3_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_ORIG_YR3_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_ORIG_YR3_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_ORIG_YR3_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR3_RT',
 'DEATH_YR4_RT',
 'COMP_ORIG_YR4_RT',
 'COMP_4YR_TRANS_YR4_RT',
 'COMP_2YR_TRANS_YR4_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_4YR_TRANS_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'ENRL_ORIG_YR4_RT',
 'ENRL_4YR_TRANS_YR4_RT',
 'ENRL_2YR_TRANS_YR4_RT',
 'UNKN_ORIG_YR4_RT',
 'UNKN_4YR_TRANS_YR4_RT',
 'UNKN_2YR_TRANS_YR4_RT',
 'LO_INC_DEATH_YR4_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_COMP_4YR_TRANS_YR4_RT',
 'LO_INC_COMP_2YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR4_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR4_RT',
 'LO_INC_ENRL_ORIG_YR4_RT',
 'LO_INC_ENRL_4YR_TRANS_YR4_RT',
 'LO_INC_ENRL_2YR_TRANS_YR4_RT',
 'LO_INC_UNKN_ORIG_YR4_RT',
 'LO_INC_UNKN_4YR_TRANS_YR4_RT',
 'LO_INC_UNKN_2YR_TRANS_YR4_RT',
 'MD_INC_DEATH_YR4_RT',
 'MD_INC_COMP_ORIG_YR4_RT',
 'MD_INC_COMP_4YR_TRANS_YR4_RT',
 'MD_INC_COMP_2YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_ORIG_YR4_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR4_RT',
 'MD_INC_ENRL_ORIG_YR4_RT',
 'MD_INC_ENRL_4YR_TRANS_YR4_RT',
 'MD_INC_ENRL_2YR_TRANS_YR4_RT',
 'MD_INC_UNKN_ORIG_YR4_RT',
 'MD_INC_UNKN_4YR_TRANS_YR4_RT',
 'MD_INC_UNKN_2YR_TRANS_YR4_RT',
 'HI_INC_DEATH_YR4_RT',
 'HI_INC_COMP_ORIG_YR4_RT',
 'HI_INC_COMP_4YR_TRANS_YR4_RT',
 'HI_INC_COMP_2YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_ORIG_YR4_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR4_RT',
 'HI_INC_ENRL_ORIG_YR4_RT',
 'HI_INC_ENRL_4YR_TRANS_YR4_RT',
 'HI_INC_ENRL_2YR_TRANS_YR4_RT',
 'HI_INC_UNKN_ORIG_YR4_RT',
 'HI_INC_UNKN_4YR_TRANS_YR4_RT',
 'HI_INC_UNKN_2YR_TRANS_YR4_RT',
 'DEP_DEATH_YR4_RT',
 'DEP_COMP_ORIG_YR4_RT',
 'DEP_COMP_4YR_TRANS_YR4_RT',
 'DEP_COMP_2YR_TRANS_YR4_RT',
 'DEP_WDRAW_ORIG_YR4_RT',
 'DEP_WDRAW_4YR_TRANS_YR4_RT',
 'DEP_WDRAW_2YR_TRANS_YR4_RT',
 'DEP_ENRL_ORIG_YR4_RT',
 'DEP_ENRL_4YR_TRANS_YR4_RT',
 'DEP_ENRL_2YR_TRANS_YR4_RT',
 'DEP_UNKN_ORIG_YR4_RT',
 'DEP_UNKN_4YR_TRANS_YR4_RT',
 'DEP_UNKN_2YR_TRANS_YR4_RT',
 'IND_DEATH_YR4_RT',
 'IND_COMP_ORIG_YR4_RT',
 'IND_COMP_4YR_TRANS_YR4_RT',
 'IND_COMP_2YR_TRANS_YR4_RT',
 'IND_WDRAW_ORIG_YR4_RT',
 'IND_WDRAW_4YR_TRANS_YR4_RT',
 'IND_WDRAW_2YR_TRANS_YR4_RT',
 'IND_ENRL_ORIG_YR4_RT',
 'IND_ENRL_4YR_TRANS_YR4_RT',
 'IND_ENRL_2YR_TRANS_YR4_RT',
 'IND_UNKN_ORIG_YR4_RT',
 'IND_UNKN_4YR_TRANS_YR4_RT',
 'IND_UNKN_2YR_TRANS_YR4_RT',
 'FEMALE_DEATH_YR4_RT',
 'FEMALE_COMP_ORIG_YR4_RT',
 'FEMALE_COMP_4YR_TRANS_YR4_RT',
 'FEMALE_COMP_2YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_ORIG_YR4_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR4_RT',
 'FEMALE_ENRL_ORIG_YR4_RT',
 'FEMALE_ENRL_4YR_TRANS_YR4_RT',
 'FEMALE_ENRL_2YR_TRANS_YR4_RT',
 'FEMALE_UNKN_ORIG_YR4_RT',
 'FEMALE_UNKN_4YR_TRANS_YR4_RT',
 'FEMALE_UNKN_2YR_TRANS_YR4_RT',
 'MALE_DEATH_YR4_RT',
 'MALE_COMP_ORIG_YR4_RT',
 'MALE_COMP_4YR_TRANS_YR4_RT',
 'MALE_COMP_2YR_TRANS_YR4_RT',

In [13]:
filtered_variable_name_list = column_heading_df['VARIABLE NAME'].unique().tolist()
filtered_variable_name_list.append('UGDS')

In [14]:
filtered_df = df.copy()

In [15]:
#for variable in complete_variable_name_list:
#    if variable not in filtered_variable_name_list:
#        filtered_df.drop(columns = variable, inplace = True)

In [16]:
filtered_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,NaN,NaN,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,National Accrediting Commission of Career Arts...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,Accrediting Commission of Career Schools and C...,www.hci.edu/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,Council on Occupational Education,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
filtered_df.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'OMENRUP_PARTTIME_POOLED_SUPP', 'FTFTPCTPELL', 'FTFTPCTFLOAN', 'UG12MN',
       'G12MN', 'SCUGFFN', 'POOLYRS_FTFTAIDPCT', 'FTFTPCTPELL_POOLED_SUPP',
       'FTFTPCTFLOAN_POOLED_SUPP', 'SCUGFFN_POOLED'],
      dtype='object', length=1986)

In [18]:
column_heading_df['dev-category'].unique()

array(['academics', 'admissions', 'aid', 'completion', 'cost', 'earnings',
       'repayment', 'root', 'school', 'student'], dtype=object)

In [19]:
#PREDEG == 3 is the university is predominately a 4 year school.
filtered_4_year_df = filtered_df.loc[df['PREDDEG'] == 3, :]
filtered_4_year_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,NaN,NaN,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,492069,4276100,42761,Champion Christian College,Hot Springs,AR,71913,Transnational Association of Christian College...,championchristiancollege.com,championchristiancollege.com/NetPriceCalculato...,...,NaN,0.0000,0.0000,57.0,NaN,20.0,4.0,NaN,NaN,20.0
6314,492689,1067401,10674,Texas Tech University Health Sciences Center-E...,El Paso,TX,79905-2827,Southern Association of Colleges and Schools C...,elpaso.ttuhsc.edu/,www.depts.ttu.edu/financialaid/netCostCalcHome...,...,NaN,NaN,NaN,370.0,471.0,0.0,4.0,NaN,NaN,0.0
6318,492759,638521,6385,Chamberlain University-Louisiana,Jefferson,LA,70121,Higher Learning Commission,https://www.chamberlain.edu/,https://www.chamberlain.edu/admissions/financi...,...,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN
6319,492801,246100,2461,Drury University-College of Continuing Profess...,Springfield,MO,65802,Higher Learning Commission,www.drury.edu/ccps/,tcc.ruffalonl.com/Drury%20University/Freshman-...,...,0.3681,0.7619,0.4048,2857.0,NaN,42.0,2.0,0.7619,0.4048,42.0
6322,492962,180500,1805,Indiana Institute of Technology-College of Pro...,Fort Wayne,IN,46803,Higher Learning Commission,cps.indianatech.edu/,cps.indianatech.edu/costs/,...,0.6939,0.8710,0.8996,6739.0,NaN,279.0,2.0,0.871,0.8996,279.0

In [20]:
filtered_4_year_df['OPEID'].dtypes

dtype('int64')

In [21]:
college_ranking_df = pd.read_csv(path2+forbes_data)

In [22]:
college_ranking_df['OPEID'].dtypes

dtype('int64')

In [23]:
college_ranking_df = college_ranking_df.fillna(0)

In [24]:
college_ranking_df['OPEID'] = college_ranking_df['OPEID'].astype('int')
college_ranking_df.head(51)

,UNITID,OPEID,OPEID6,Rank,Name,City,State,Public/Private,Undergraduate Population,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,166027,215500,2155,1,Harvard University,Cambridge,MA,Private,13844,31120,14327,49870,69600,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,243744,130500,1305,2,Stanford University,Stanford,CA,Private,8402,17534,13261,50134,69109,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,130794,142600,1426,3,Yale University,New Haven,CT,Private,6483,12974,18627,50897,71290,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,166683,217800,2178,4,Massachusetts Institute of Technology,Cambridge,MA,Private,4680,11466,20771,43248,67430,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,186131,262700,2627,5,Princeton University,Princeton,NJ,Private,5659,8273,9327,48088,66150,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu
5,215062,337800,3378,6,University of Pennsylvania,Philadelphia,PA,Private,13437,25367,24242,44801,71715,133900.0,9.0,1420.0,1560.0,32.0,35.0,www.upenn.edu
6,217156,340100,3401,7,Brown University,Providence,RI,Private,7390,10095,30205,42455,71050,127600.0,8.0,1405.0,1570.0,31.0,35.0,www.brown.edu
7,110404,113100,1131,8,California Institute of Technology,Pasadena,CA,Private,1002,2238,24245,41408,68901,151600.0,8.0,1530.0,1590.0,34.0,35.0,www.caltech.edu
8,198419,292000,2920,9,Duke University,Durham,NC,Private,7184,16130,35737,47836,71764,132100.0,10.0,1380.0,1540.0,31.0,35.0,www.duke.edu
9,182670,257300,2573,10,Dartmouth College,Hanover,NH,Private,4693,6509,30421,47171,71827,130900.0,10.0,1430.0,1560.0,30.0,34.0,www.dartmouth.edu
10,190415,271100,2711,11,Cornell University,Ithaca,NY,Private,14774,23016,31230,36164,70321,128200.0,13.0,1390.0,1550.0,31.0,34.0,www.cornell.edu
11,121345,117300,1173,12,Pomona College,Claremont,CA,Private,1599,1665,15840,48930,69725,117200.0,8.0,1370.0,1530.0,30.0,34.0,www.pomona.edu
12,110635,131200,1312,13,"University of California, Berkeley",Berkeley,CA,Public,31133,41891,15859,18319,65003,131800.0,17.0,1260.0,1480.0,30.0,34.0,www.berkeley.edu
13,190150,270700,2707,14,Columbia University,New York,NY,Private,8523,30454,24231,49185,74199,126800.0,7.0,1410.0,1570.0,31.0,34.0,www.columbia.edu
14,131496,144500,1445,15,Georgetown University,Washington,DC,Private,8194,19005,30107,41893,71580,122200.0,16.0,1350.0,1520.0,30.0,34.0,www.georgetown.edu
15,144050,177400,1774,16,University of Chicago,Chicago,IL,Private,6915,16227,25455,37883,75735,114200.0,9.0,1480.0,1580.0,32.0,35.0,www.uchicago.edu
16,147767,173900,1739,17,Northwestern University,Evanston,IL,Private,10163,22008,24047,44247,72980,115400.0,9.0,1420.0,1560.0,32.0,34.0,www.northwestern.edu
17,152080,184000,1840,18,University of Notre Dame,Notre Dame,IN,Private,8664,12467,28768,39590,69395,130500.0,19.0,1370.0,1520.0,32.0,34.0,www.nd.edu
18,168342,222900,2229,19,Williams College,Williamstown,MA,Private,2134,2227,22667,48050,70650,127500.0,15.0,1400.0,1570.0,31.0,35.0,www.williams.edu
19,170976,232500,2325,20,"University of Michigan, Ann Arbor",Ann Arbor,MI,Public,29773,46002,14860,18751,62176,112200.0,27.0,1330.0,1500.0,30.0,33.0,www.umich.edu
20,227757,360400,3604,21,Rice University,Houston,TX,Private,4036,7022,20237,36387,63158,129500.0,16.0,1490.0,1580.0,33.0,35.0,www.rice.edu
21,162928,207700,2077,22,Johns Hopkins University,Baltimore,MD,Private,7825,25151,33586,38542,69863,117100.0,13.0,1450.0,1570.0,33.0,35.0,www.jhu.edu
22,115409,117100,1171,23,Harvey Mudd College,Claremont,CA,Private,847,861,34464,33782,74428,158200.0,15.0,1470.0,1570.0,33.0,35.0,www.hmc.edu
23,216287,337000,3370,25,Swarthmore College,Swarthmore,PA,Private,1577,1630,20511,46105,68846,123200.0,11.0,1380.0,1540.0,31.0,34.0,www.swarthmore.edu
24,161004,203800,2038,26,Bowdoin College,Brunswick,ME,Private,1816,1965,22810,41143,68070,112000.0,14.0,0.0,0.0,0.0,0.0,www.bowdoin.edu
25,221999,353500,3535,27,Vanderbilt University,Nashville,TN,Private,7006,12592,19959,41359,67392,119100.0,11.0,1440.0,1570.0,32.0,35.0,www.vanderbilt.edu
26,164465,211500,2115,28,Amherst College,Amherst,MA,Private,1836,1945,22463,49467,71300,116500.0,13.0,1400.0,1560.0,32.0,34.0,https://www.amherst.edu
27,112260,117000,1170,29,Claremont McKenna College,Claremont,CA,Private,1345,1364,26933,40673,71745,125400.0,10.0,1340.0,1510.0,30.0,34.0,www.claremontmckenna.edu
28,123961,132800,1328,30,University of Southern California,Los Angeles,CA,Private,20582,45687,30232,36686,72209,120600.0,16.0,1300.0,1500.0,30.0,34.0,www.usc.edu
29,179867,252000,2520,31,Washington University in St. Louis,St. Louis,MO,Private,8533,15303,28540,41977,71975,114900.0,16.0,1470.0,1570.0,32.0,34.0,www.wustl.edu
30,234076,374500,3745,33,University of Virginia,Charlottesville,VA,Public,18432,24360,20547,21171,62633,117500.0,27.0,1310.0,1500.0,29.0,33.0,www.virginia.edu
31,168148,221900,2219,34,Tufts University,Medford,MA,Private,5960,11449,32620,38605,70600,118100.0,15.0,1410.0,1540.0,31.0,34.0,www.tufts.edu
32,193900,278500,2785,35,New York University,New York,NY,Private,30252,51123,40336,31542,71790,117700.0,28.0,1290.0,1490.0,29.0,33.0,www.nyu.edu
33,230959,369100,3691,36,Middlebury College,Middlebury,VT,Private,2591,3855,26075,43491,69464,109800.0,17.0,1320.0,1510.0,30.0,34.0,www.middlebury.edu
34,211440,324200,3242,37,Carnegie Mellon University,Pittsburgh,PA,Private,6941,13869,31102,38163,70094,136100.0,22.0,1430.0,1560.0,32.0,35.0,www.cmu.edu
35,110662,131500,1315,38,"University of California, Los Angeles",Los Angeles,CA,Public,33148,44027,14309,20011,61915,116100.0,16.0,1220.0,1450.0,29.0,34.0,ucla.edu
36,160977,203600,2036,39,Bates College,Lewiston,ME,Private,1787,1905,25192,43238,68870,111900.0,22.0,0.0,0.0,0.0,0.0,bates.edu
37,130697,142400,1424,40,Wesleyan University,Middletown,CT,Private,3123,3213,29956,43276,69935,117000.0,16.0,0.0,0.0,0.0,0.0,www.wesleyan.edu
38,164924,212800,2128,41,Boston College,Chestnut Hill,MA,Private,10304,14628,34550,40716,70588,115400.0,32.0,1320.0,1490.0,31.0,33.0,www.bc.edu
39,234207,376800,3768,42,Washington and Lee University,Lexington,VA,Private,1855,2220,24761,39671,65950,123200.0,22.0,1350.0,1490.0,31.0,33.0,www.wlu.edu
40,168218,222400,2224,44,Wellesley College,Wellesley,MA,Private,2508,2688,23188,45777,69034,106200.0,22.0,1360.0,1530.0,30.0,33.0,www.wellesley.edu
41,199120,297400,2974,45,"University of North Carolina, Chapel Hill",Chapel Hill,NC,Public,19429,29911,14163,17291,51152,100800.0,24.0,1270.0,1460.0,28.0,33.0,www.unc.edu
42,190099,270100,2701,46,Colgate University,Hamilton,NY,Private,2894,3025,23310,45108,69860,130600.0,28.0,1310.0,1500.0,31.0,33.0,www.colgate.edu
43,231624,370500,3705,47,College of William & Mary,Williamsburg,VA,Public,6822,8740,19720,18738,59012,108900.0,36.0,1300.0,1480.0,29.0,33.0,www.wm.edu
44,198385,291800,2918,48,Davidson College,Davidson,NC,Private,1810,1959,21206,36359,66678,106900.0,20.0,1310.0,1470.0,30.0,33.0,www.davidson.edu
45,212911,327400,3274,49,Haverford College,Haverford,PA,Private,1296,1326,26607,45805,71614,112300.0,20.0,1390.0,1530.0,31.0,34.0,www.haverford.edu
46,189097,270800,2708,50,Barnard College,New York,NY,Private,2544,2668,25007,44776,71282,109800.0,15.0,1310.0,1500.0,30.0,33.0,barnard.edu
47,243744,1305001,1305,51,Santa Clara University,Santa Clara,CA,Private,5754,8629,33738,26671,69439,134700.0,54.0,1270.0,1440.0,28.0,32.0,www.scu.edu
48,173258,234000,2340,52,Carleton College,Northfield,MN,Private,2078,2155,27898,38342,68835,109900.0,21.0,1360.0,1530.0,31.0,34.0,www.carleton.edu
49,121257,117200,1172,54,Pitzer College,Claremont,CA,Private,1074,1087,28423,41257,70500,96600.0,16.0,0.0,0.0,0.0,0.0,www.pitzer.edu
50,139658,156400,1564,55,Emory University,Atlanta,GA,Private,7859,14263,26760,38213,66950,110800.0,22.0,1350.0,1520.0,30.0,33.0,www.emory.edu

In [25]:
college_ranking_df.columns.to_list()[10]

'Net Price'

In [26]:
college_ranking_df.loc[college_ranking_df['OPEID'].duplicated()]

Empty DataFrame
Columns: [UNITID, OPEID, OPEID6, Rank, Name, City, State, Public/Private, Undergraduate Population, Student Population, Net Price, Average Grant Aid, Total Annual Cost, Alumni Salary, Acceptance Rate, SAT Lower, SAT Upper, ACT Lower, ACT Upper, Website]
Index: []

In [27]:
len(college_ranking_df['UNITID'].unique())

630

In [28]:
#this will give us only the schools that have a rnaking from forbes and ones that we have on our list
filtered_ranking_4_year_df = filtered_4_year_df.merge(college_ranking_df, how = 'inner', on = 'OPEID')

In [29]:
filtered_ranking_4_year_df.columns

Index(['UNITID_x', 'OPEID', 'OPEID6_x', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'Net Price', 'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object', length=2005)

In [30]:
filtered_ranking_4_year_df['Net Price']

0      17535
1      19986
2      21973
3      23416
4      22853
       ...
634    13746
635    20605
636    10248
637    15376
638     9854
Name: Net Price, Length: 639, dtype: int64

In [31]:
filtered_ranking_4_year_df.columns

Index(['UNITID_x', 'OPEID', 'OPEID6_x', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'Net Price', 'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object', length=2005)

In [32]:
#need to drop all text based columns
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['UNITID_x', 'OPEID6_x', 'Name','City','State','Public/Private','Website', 'OPEID', 'CITY', 'STABBR', 'ZIP', 'INSTURL'])

In [33]:
#lets also drop some nonsense columns like latitude, longitude, SCH_DEG, MAIN, PREDDEG, NUMBRANCH, REGION, ST_FIPS
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['REGION','DEP_DEBT_MDN','IND_DEBT_MDN', 'MN_EARN_WNE_P7', 'MN_EARN_WNE_P8', 'MN_EARN_WNE_P10', 'ST_FIPS', 'MAIN', 'NUMBRANCH','LATITUDE','LONGITUDE'])

In [34]:
filtered_ranking_4_year_df

,INSTNM,ACCREDAGENCY,NPCURL,SCH_DEG,HCM2,PREDDEG,HIGHDEG,CONTROL,LOCALE,LOCALE2,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,University of Alabama at Birmingham,Southern Association of Colleges and Schools C...,https://uab.studentaidcalculator.com/survey.aspx,3.0,0,3,4,1,12.0,NaN,...,20902,17535,9254,36800,87200.0,92.0,990.0,1370.0,21.0,28.0
1,University of Alabama in Huntsville,Southern Association of Colleges and Schools C...,finaid.uah.edu/,3.0,0,3,4,1,12.0,NaN,...,9101,19986,9587,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0
2,The University of Alabama,Southern Association of Colleges and Schools C...,financialaid.ua.edu/net-price-calculator/,3.0,0,3,4,1,12.0,NaN,...,38563,21973,16494,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0
3,Auburn University,Southern Association of Colleges and Schools C...,https://www.auburn.edu/admissions/costcalc/fre...,3.0,0,3,4,1,13.0,NaN,...,29776,23416,9030,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0
4,Birmingham-Southern College,Southern Association of Colleges and Schools C...,www.bsc.edu/fp/np-calculator.cfm,3.0,0,3,3,2,12.0,NaN,...,1325,22853,26594,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,Purdue University-Main Campus,Higher Learning Commission,https://www.purdue.edu/dfa/cost/estimator.html,3.0,0,3,4,1,13.0,NaN,...,42699,13746,10703,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0
635,St. John's College,Higher Learning Commission,www.sjc.edu/admissions-and-aid/financial-aid/n...,3.0,0,3,4,2,41.0,NaN,...,386,20605,31845,65456,0.0,63.0,1190.0,1350.0,23.0,32.0
636,New College of Florida,Southern Association of Colleges and Schools C...,www.ncf.edu/admissions/cost-and-aid/tuition-an...,3.0,0,3,4,1,13.0,NaN,...,885,10248,9341,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0
637,Florida Gulf Coast University,Southern Association of Colleges and Schools C...,https://www2.fgcu.edu/financialaid/netpricecal...,3.0,0,3,4,1,21.0,NaN,...,15317,15376,4726,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0
638,University of North Georgia,Southern Association of Colleges and Schools C...,ung.edu/financial-aid/net-calculator.php,3.0,0,3,4,1,31.0,NaN,...,20811,9854,5483,28094,85600.0,78.0,910.0,1130.0,20.0,25.0

In [35]:
#the next few lines are simply to move the school rank to the first column
col_list = filtered_ranking_4_year_df.columns.to_list()

In [36]:
col_list.pop(col_list.index('Rank'))

'Rank'

In [37]:
col_list.insert(0, 'Rank')
col_list

['Rank',
 'INSTNM',
 'ACCREDAGENCY',
 'NPCURL',
 'SCH_DEG',
 'HCM2',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'LOCALE',
 'LOCALE2',
 'CCBASIC',
 'CCUGPROF',
 'CCSIZSET',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'SATWR25',
 'SATWR75',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCM25',
 'ACTCM75',
 'ACTEN25',
 'ACTEN75',
 'ACTMT25',
 'ACTMT75',
 'ACTWR25',
 'ACTWR75',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'CIP01CERT1',
 'CIP01CERT2',
 'CIP01ASSOC',
 'CIP01CERT4',
 'CIP01BACHL',
 'CIP03CERT1',
 'CIP03CERT2',
 'CIP03ASSOC',
 'CIP03CERT4',
 'CIP03BACHL',
 'CIP04CERT1',
 'CIP04CERT2',
 'CIP04ASSOC',
 'CIP04CERT4',
 'CIP04BACHL',
 'CIP05CERT1',
 'CIP05CERT2',
 'CIP05ASSOC',
 'CIP05CERT4',
 'CIP05BACHL',
 'CIP09CERT1',
 'CIP09CERT2',
 'CIP09ASSOC',
 'CIP09CERT4',
 'CIP09BACHL',
 'CIP10CERT1',
 'CIP10CERT2',
 'CIP10ASSOC',
 'CIP10CERT4',
 'CIP10BACHL',
 'CIP11CERT1',
 'CIP11CERT2',
 'CIP11ASSOC',
 'CIP11CERT4',
 'CIP11BACHL',
 'CIP12CERT1',
 'CIP12CERT2',
 'CIP12ASSOC',
 'CIP12CERT4',
 'CIP12BACHL',
 'CIP13CERT1',
 'CIP13CERT2',
 'CIP13ASSOC',
 'CIP13CERT4',
 'CIP13BACHL',
 'CIP14CERT1',
 'CIP14CERT2',
 'CIP14ASSOC',
 'CIP14CERT4',
 'CIP14BACHL',
 'CIP15CERT1',
 'CIP15CERT2',
 'CIP15ASSOC',
 'CIP15CERT4',
 'CIP15BACHL',
 'CIP16CERT1',
 'CIP16CERT2',
 'CIP16ASSOC',
 'CIP16CERT4',
 'CIP16BACHL',
 'CIP19CERT1',
 'CIP19CERT2',
 'CIP19ASSOC',
 'CIP19CERT4',
 'CIP19BACHL',
 'CIP22CERT1',
 'CIP22CERT2',
 'CIP22ASSOC',
 'CIP22CERT4',
 'CIP22BACHL',
 'CIP23CERT1',
 'CIP23CERT2',
 'CIP23ASSOC',
 'CIP23CERT4',
 'CIP23BACHL',
 'CIP24CERT1',
 'CIP24CERT2',
 'CIP24ASSOC',
 'CIP24CERT4',
 'CIP24BACHL',
 'CIP25CERT1',
 'CIP25CERT2',
 'CIP25ASSOC',
 'CIP25CERT4',
 'CIP25BACHL',
 'CIP26CERT1',
 'CIP26CERT2',
 'CIP26ASSOC',
 'CIP26CERT4',
 'CIP26BACHL',
 'CIP27CERT1',
 'CIP27CERT2',
 'CIP27ASSOC',
 'CIP27CERT4',
 'CIP27BACHL',
 'CIP29CERT1',
 'CIP29CERT2',
 'CIP29ASSOC',
 'CIP29CERT4',
 'CIP29BACHL',
 'CIP30CERT1',
 'CIP30CERT2',
 'CIP30ASSOC',
 'CIP30CERT4',
 'CIP30BACHL',
 'CIP31CERT1',
 'CIP31CERT2',
 'CIP31ASSOC',
 'CIP31CERT4',
 'CIP31BACHL',
 'CIP38CERT1',
 'CIP38CERT2',
 'CIP38ASSOC',
 'CIP38CERT4',
 'CIP38BACHL',
 'CIP39CERT1',
 'CIP39CERT2',
 'CIP39ASSOC',
 'CIP39CERT4',
 'CIP39BACHL',
 'CIP40CERT1',
 'CIP40CERT2',
 'CIP40ASSOC',
 'CIP40CERT4',
 'CIP40BACHL',
 'CIP41CERT1',
 'CIP41CERT2',
 'CIP41ASSOC',
 'CIP41CERT4',
 'CIP41BACHL',
 'CIP42CERT1',
 'CIP42CERT2',
 'CIP42ASSOC',
 'CIP42CERT4',
 'CIP42BACHL',
 'CIP43CERT1',
 'CIP43CERT2',
 'CIP43ASSOC',
 'CIP43CERT4',
 'CIP43BACHL',
 'CIP44CERT1',
 'CIP44CERT2',
 'CIP44ASSOC',
 'CIP44CERT4',
 'CIP44BACHL',
 'CIP45CERT1',
 'CIP45CERT2',
 'CIP45ASSOC',
 'CIP45CERT4',
 'CIP45BACHL',
 'CIP46CERT1',
 'CIP46CERT2',
 'CIP46ASSOC',
 'CIP46CERT4',
 'CIP46BACHL',
 'CIP47CERT1',
 'CIP47CERT2',
 'CIP47ASSOC',
 'CIP47CERT4',
 'CIP47BACHL',
 'CIP48CERT1',
 'CIP48CERT2',
 'CIP48ASSOC',
 'CIP48CERT4',
 'CIP48BACHL',
 'CIP49CERT1',
 'CIP49CERT2',
 'CIP49ASSOC',
 'CIP49CERT4',
 'CIP49BACHL',
 'CIP50CERT1',
 'CIP50CERT2',
 'CIP50ASSOC',
 'CIP50CERT4',
 'CIP50BACHL',
 'CIP51CERT1',
 'CIP51CERT2',
 'CIP51ASSOC',
 'CIP51CERT4',
 'CIP51BACHL',
 'CIP52CERT1',
 'CIP52CERT2',
 'CIP52ASSOC',
 'CIP52CERT4',
 'CIP52BACHL',
 'CIP54CERT1',
 'CIP54CERT2',
 'CIP54ASSOC',
 'CIP54CERT4',
 'CIP54BACHL',
 'DISTANCEONLY',
 'UGDS',
 'UG',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITENH',
 'UGDS_BLACKNH',
 'UGDS_API',
 'UGDS_AIANOLD',
 'UGDS_HISPOLD',
 'UG_NRA',
 'UG_UNKN',
 'UG_WHITENH',
 'UG_BLACKNH',
 'UG_API',
 'UG_AIANOLD',
 'UG_HISPOLD',
 'PPTUG_EF',
 'PPTUG_EF2',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'NPT41_PROG',
 'NPT42_PROG',
 'NPT43_PROG',
 'NPT44_PROG',
 'NPT45_PROG',
 'NPT41_OTHER',
 'NPT42_OTHER',
 'NPT43_OTHER',
 'NPT44_OTHER',
 'NPT45_OTHER',
 'NPT4_048_PUB',
 'NPT4_048_PRIV',
 'NPT4_048_PROG',
 'NPT4_048_OTHER',
 'NPT4_3075_PUB',
 'NPT4_3075_PRIV',
 'NPT4_75UP_PUB',
 'NPT4_75UP_PRIV',
 'NPT4_3075_PROG',
 'NPT4_3075_OTHER',
 'NPT4_75UP_PROG',
 'NPT4_75UP_OTHER',
 'NUM4_PUB',
 'NUM4_PRIV',
 'NUM4_PROG',
 'NUM4_OTHER',
 'NUM41_PUB',
 'NUM42_PUB',
 'NUM43_PUB',
 'NUM44_PUB',
 'NUM45_PUB',
 'NUM41_PRIV',
 'NUM42_PRIV',
 'NUM43_PRIV',
 'NUM44_PRIV',
 'NUM45_PRIV',
 'NUM41_PROG',
 'NUM42_PROG',
 'NUM43_PROG',
 'NUM44_PROG',
 'NUM45_PROG',
 'NUM41_OTHER',
 'NUM42_OTHER',
 'NUM43_OTHER',
 'NUM44_OTHER',
 'NUM45_OTHER',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'PCTPELL',
 'C150_4',
 'C150_L4',
 'C150_4_POOLED',
 'C150_L4_POOLED',
 'POOLYRS',
 'PFTFTUG1_EF',
 'D150_4',
 'D150_L4',
 'D150_4_POOLED',
 'D150_L4_POOLED',
 'C150_4_WHITE',
 'C150_4_BLACK',
 'C150_4_HISP',
 'C150_4_ASIAN',
 'C150_4_AIAN',
 'C150_4_NHPI',
 'C150_4_2MOR',
 'C150_4_NRA',
 'C150_4_UNKN',
 'C150_4_WHITENH',
 'C150_4_BLACKNH',
 'C150_4_API',
 'C150_4_AIANOLD',
 'C150_4_HISPOLD',
 'C150_L4_WHITE',
 'C150_L4_BLACK',
 'C150_L4_HISP',
 'C150_L4_ASIAN',
 'C150_L4_AIAN',
 'C150_L4_NHPI',
 'C150_L4_2MOR',
 'C150_L4_NRA',
 'C150_L4_UNKN',
 'C150_L4_WHITENH',
 'C150_L4_BLACKNH',
 'C150_L4_API',
 'C150_L4_AIANOLD',
 'C150_L4_HISPOLD',
 'C200_4',
 'C200_L4',
 'D200_4',
 'D200_L4',
 'RET_FT4',
 'RET_FTL4',
 'RET_PT4',
 'RET_PTL4',
 'C200_4_POOLED',
 'C200_L4_POOLED',
 'POOLYRS200',
 'D200_4_POOLED',
 'D200_L4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'CDR2',
 'CDR3',
 'DEATH_YR2_RT',
 'COMP_ORIG_YR2_RT',
 'COMP_4YR_TRANS_YR2_RT',
 'COMP_2YR_TRANS_YR2_RT',
 'WDRAW_ORIG_YR2_RT',
 'WDRAW_4YR_TRANS_YR2_RT',
 'WDRAW_2YR_TRANS_YR2_RT',
 'ENRL_ORIG_YR2_RT',
 'ENRL_4YR_TRANS_YR2_RT',
 'ENRL_2YR_TRANS_YR2_RT',
 'UNKN_ORIG_YR2_RT',
 'UNKN_4YR_TRANS_YR2_RT',
 'UNKN_2YR_TRANS_YR2_RT',
 'LO_INC_DEATH_YR2_RT',
 'LO_INC_COMP_ORIG_YR2_RT',
 'LO_INC_COMP_4YR_TRANS_YR2_RT',
 'LO_INC_COMP_2YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_ORIG_YR2_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR2_RT',
 'LO_INC_ENRL_ORIG_YR2_RT',
 'LO_INC_ENRL_4YR_TRANS_YR2_RT',
 'LO_INC_ENRL_2YR_TRANS_YR2_RT',
 'LO_INC_UNKN_ORIG_YR2_RT',
 'LO_INC_UNKN_4YR_TRANS_YR2_RT',
 'LO_INC_UNKN_2YR_TRANS_YR2_RT',
 'MD_INC_DEATH_YR2_RT',
 'MD_INC_COMP_ORIG_YR2_RT',
 'MD_INC_COMP_4YR_TRANS_YR2_RT',
 'MD_INC_COMP_2YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_ORIG_YR2_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR2_RT',
 'MD_INC_ENRL_ORIG_YR2_RT',
 'MD_INC_ENRL_4YR_TRANS_YR2_RT',
 'MD_INC_ENRL_2YR_TRANS_YR2_RT',
 'MD_INC_UNKN_ORIG_YR2_RT',
 'MD_INC_UNKN_4YR_TRANS_YR2_RT',
 'MD_INC_UNKN_2YR_TRANS_YR2_RT',
 'HI_INC_DEATH_YR2_RT',
 'HI_INC_COMP_ORIG_YR2_RT',
 'HI_INC_COMP_4YR_TRANS_YR2_RT',
 'HI_INC_COMP_2YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_ORIG_YR2_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR2_RT',
 'HI_INC_ENRL_ORIG_YR2_RT',
 'HI_INC_ENRL_4YR_TRANS_YR2_RT',
 'HI_INC_ENRL_2YR_TRANS_YR2_RT',
 'HI_INC_UNKN_ORIG_YR2_RT',
 'HI_INC_UNKN_4YR_TRANS_YR2_RT',
 'HI_INC_UNKN_2YR_TRANS_YR2_RT',
 'DEP_DEATH_YR2_RT',
 'DEP_COMP_ORIG_YR2_RT',
 'DEP_COMP_4YR_TRANS_YR2_RT',
 'DEP_COMP_2YR_TRANS_YR2_RT',
 'DEP_WDRAW_ORIG_YR2_RT',
 'DEP_WDRAW_4YR_TRANS_YR2_RT',
 'DEP_WDRAW_2YR_TRANS_YR2_RT',
 'DEP_ENRL_ORIG_YR2_RT',
 'DEP_ENRL_4YR_TRANS_YR2_RT',
 'DEP_ENRL_2YR_TRANS_YR2_RT',
 'DEP_UNKN_ORIG_YR2_RT',
 'DEP_UNKN_4YR_TRANS_YR2_RT',
 'DEP_UNKN_2YR_TRANS_YR2_RT',
 'IND_DEATH_YR2_RT',
 'IND_COMP_ORIG_YR2_RT',
 'IND_COMP_4YR_TRANS_YR2_RT',
 'IND_COMP_2YR_TRANS_YR2_RT',
 'IND_WDRAW_ORIG_YR2_RT',
 'IND_WDRAW_4YR_TRANS_YR2_RT',
 'IND_WDRAW_2YR_TRANS_YR2_RT',
 'IND_ENRL_ORIG_YR2_RT',
 'IND_ENRL_4YR_TRANS_YR2_RT',
 'IND_ENRL_2YR_TRANS_YR2_RT',
 'IND_UNKN_ORIG_YR2_RT',
 'IND_UNKN_4YR_TRANS_YR2_RT',
 'IND_UNKN_2YR_TRANS_YR2_RT',
 'FEMALE_DEATH_YR2_RT',
 'FEMALE_COMP_ORIG_YR2_RT',
 'FEMALE_COMP_4YR_TRANS_YR2_RT',
 'FEMALE_COMP_2YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_ORIG_YR2_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR2_RT',
 'FEMALE_ENRL_ORIG_YR2_RT',
 'FEMALE_ENRL_4YR_TRANS_YR2_RT',
 'FEMALE_ENRL_2YR_TRANS_YR2_RT',
 'FEMALE_UNKN_ORIG_YR2_RT',
 'FEMALE_UNKN_4YR_TRANS_YR2_RT',
 'FEMALE_UNKN_2YR_TRANS_YR2_RT',
 'MALE_DEATH_YR2_RT',
 'MALE_COMP_ORIG_YR2_RT',
 'MALE_COMP_4YR_TRANS_YR2_RT',
 'MALE_COMP_2YR_TRANS_YR2_RT',
 'MALE_WDRAW_ORIG_YR2_RT',
 'MALE_WDRAW_4YR_TRANS_YR2_RT',
 'MALE_WDRAW_2YR_TRANS_YR2_RT',
 'MALE_ENRL_ORIG_YR2_RT',
 'MALE_ENRL_4YR_TRANS_YR2_RT',
 'MALE_ENRL_2YR_TRANS_YR2_RT',
 'MALE_UNKN_ORIG_YR2_RT',
 'MALE_UNKN_4YR_TRANS_YR2_RT',
 'MALE_UNKN_2YR_TRANS_YR2_RT',
 'PELL_DEATH_YR2_RT',
 'PELL_COMP_ORIG_YR2_RT',
 'PELL_COMP_4YR_TRANS_YR2_RT',
 'PELL_COMP_2YR_TRANS_YR2_RT',
 'PELL_WDRAW_ORIG_YR2_RT',
 'PELL_WDRAW_4YR_TRANS_YR2_RT',
 'PELL_WDRAW_2YR_TRANS_YR2_RT',
 'PELL_ENRL_ORIG_YR2_RT',
 'PELL_ENRL_4YR_TRANS_YR2_RT',
 'PELL_ENRL_2YR_TRANS_YR2_RT',
 'PELL_UNKN_ORIG_YR2_RT',
 'PELL_UNKN_4YR_TRANS_YR2_RT',
 'PELL_UNKN_2YR_TRANS_YR2_RT',
 'NOPELL_DEATH_YR2_RT',
 'NOPELL_COMP_ORIG_YR2_RT',
 'NOPELL_COMP_4YR_TRANS_YR2_RT',
 'NOPELL_COMP_2YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_ORIG_YR2_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR2_RT',
 'NOPELL_ENRL_ORIG_YR2_RT',
 'NOPELL_ENRL_4YR_TRANS_YR2_RT',
 'NOPELL_ENRL_2YR_TRANS_YR2_RT',
 'NOPELL_UNKN_ORIG_YR2_RT',
 'NOPELL_UNKN_4YR_TRANS_YR2_RT',
 'NOPELL_UNKN_2YR_TRANS_YR2_RT',
 'LOAN_DEATH_YR2_RT',
 'LOAN_COMP_ORIG_YR2_RT',
 'LOAN_COMP_4YR_TRANS_YR2_RT',
 'LOAN_COMP_2YR_TRANS_YR2_RT',
 'LOAN_WDRAW_ORIG_YR2_RT',
 'LOAN_WDRAW_4YR_TRANS_YR2_RT',
 'LOAN_WDRAW_2YR_TRANS_YR2_RT',
 'LOAN_ENRL_ORIG_YR2_RT',
 'LOAN_ENRL_4YR_TRANS_YR2_RT',
 'LOAN_ENRL_2YR_TRANS_YR2_RT',
 'LOAN_UNKN_ORIG_YR2_RT',
 'LOAN_UNKN_4YR_TRANS_YR2_RT',
 'LOAN_UNKN_2YR_TRANS_YR2_RT',
 'NOLOAN_DEATH_YR2_RT',
 'NOLOAN_COMP_ORIG_YR2_RT',
 'NOLOAN_COMP_4YR_TRANS_YR2_RT',
 'NOLOAN_COMP_2YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_ORIG_YR2_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_ORIG_YR2_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_ORIG_YR2_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR2_RT',
 'FIRSTGEN_DEATH_YR2_RT',
 'FIRSTGEN_COMP_ORIG_YR2_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR2_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_ORIG_YR2_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_ORIG_YR2_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_ORIG_YR2_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR2_RT',
 'NOT1STGEN_DEATH_YR2_RT',
 'NOT1STGEN_COMP_ORIG_YR2_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR2_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_ORIG_YR2_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_ORIG_YR2_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_ORIG_YR2_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR2_RT',
 'DEATH_YR3_RT',
 'COMP_ORIG_YR3_RT',
 'COMP_4YR_TRANS_YR3_RT',
 'COMP_2YR_TRANS_YR3_RT',
 'WDRAW_ORIG_YR3_RT',
 'WDRAW_4YR_TRANS_YR3_RT',
 'WDRAW_2YR_TRANS_YR3_RT',
 'ENRL_ORIG_YR3_RT',
 'ENRL_4YR_TRANS_YR3_RT',
 'ENRL_2YR_TRANS_YR3_RT',
 'UNKN_ORIG_YR3_RT',
 'UNKN_4YR_TRANS_YR3_RT',
 'UNKN_2YR_TRANS_YR3_RT',
 'LO_INC_DEATH_YR3_RT',
 'LO_INC_COMP_ORIG_YR3_RT',
 'LO_INC_COMP_4YR_TRANS_YR3_RT',
 'LO_INC_COMP_2YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_ORIG_YR3_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR3_RT',
 'LO_INC_ENRL_ORIG_YR3_RT',
 'LO_INC_ENRL_4YR_TRANS_YR3_RT',
 'LO_INC_ENRL_2YR_TRANS_YR3_RT',
 'LO_INC_UNKN_ORIG_YR3_RT',
 'LO_INC_UNKN_4YR_TRANS_YR3_RT',
 'LO_INC_UNKN_2YR_TRANS_YR3_RT',
 'MD_INC_DEATH_YR3_RT',
 'MD_INC_COMP_ORIG_YR3_RT',
 'MD_INC_COMP_4YR_TRANS_YR3_RT',
 'MD_INC_COMP_2YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_ORIG_YR3_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR3_RT',
 'MD_INC_ENRL_ORIG_YR3_RT',
 'MD_INC_ENRL_4YR_TRANS_YR3_RT',
 'MD_INC_ENRL_2YR_TRANS_YR3_RT',
 'MD_INC_UNKN_ORIG_YR3_RT',
 'MD_INC_UNKN_4YR_TRANS_YR3_RT',
 'MD_INC_UNKN_2YR_TRANS_YR3_RT',
 'HI_INC_DEATH_YR3_RT',
 'HI_INC_COMP_ORIG_YR3_RT',
 'HI_INC_COMP_4YR_TRANS_YR3_RT',
 'HI_INC_COMP_2YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_ORIG_YR3_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR3_RT',
 'HI_INC_ENRL_ORIG_YR3_RT',
 'HI_INC_ENRL_4YR_TRANS_YR3_RT',
 'HI_INC_ENRL_2YR_TRANS_YR3_RT',
 'HI_INC_UNKN_ORIG_YR3_RT',
 'HI_INC_UNKN_4YR_TRANS_YR3_RT',
 'HI_INC_UNKN_2YR_TRANS_YR3_RT',
 'DEP_DEATH_YR3_RT',
 'DEP_COMP_ORIG_YR3_RT',
 'DEP_COMP_4YR_TRANS_YR3_RT',
 'DEP_COMP_2YR_TRANS_YR3_RT',
 'DEP_WDRAW_ORIG_YR3_RT',
 'DEP_WDRAW_4YR_TRANS_YR3_RT',
 'DEP_WDRAW_2YR_TRANS_YR3_RT',
 'DEP_ENRL_ORIG_YR3_RT',
 'DEP_ENRL_4YR_TRANS_YR3_RT',
 'DEP_ENRL_2YR_TRANS_YR3_RT',
 'DEP_UNKN_ORIG_YR3_RT',
 'DEP_UNKN_4YR_TRANS_YR3_RT',
 'DEP_UNKN_2YR_TRANS_YR3_RT',
 'IND_DEATH_YR3_RT',
 'IND_COMP_ORIG_YR3_RT',
 'IND_COMP_4YR_TRANS_YR3_RT',
 'IND_COMP_2YR_TRANS_YR3_RT',
 'IND_WDRAW_ORIG_YR3_RT',
 'IND_WDRAW_4YR_TRANS_YR3_RT',
 'IND_WDRAW_2YR_TRANS_YR3_RT',
 'IND_ENRL_ORIG_YR3_RT',
 'IND_ENRL_4YR_TRANS_YR3_RT',
 'IND_ENRL_2YR_TRANS_YR3_RT',
 'IND_UNKN_ORIG_YR3_RT',
 'IND_UNKN_4YR_TRANS_YR3_RT',
 'IND_UNKN_2YR_TRANS_YR3_RT',
 'FEMALE_DEATH_YR3_RT',
 'FEMALE_COMP_ORIG_YR3_RT',
 'FEMALE_COMP_4YR_TRANS_YR3_RT',
 'FEMALE_COMP_2YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_ORIG_YR3_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR3_RT',
 'FEMALE_ENRL_ORIG_YR3_RT',
 'FEMALE_ENRL_4YR_TRANS_YR3_RT',
 'FEMALE_ENRL_2YR_TRANS_YR3_RT',
 'FEMALE_UNKN_ORIG_YR3_RT',
 'FEMALE_UNKN_4YR_TRANS_YR3_RT',
 'FEMALE_UNKN_2YR_TRANS_YR3_RT',
 'MALE_DEATH_YR3_RT',
 'MALE_COMP_ORIG_YR3_RT',
 'MALE_COMP_4YR_TRANS_YR3_RT',
 'MALE_COMP_2YR_TRANS_YR3_RT',
 'MALE_WDRAW_ORIG_YR3_RT',
 'MALE_WDRAW_4YR_TRANS_YR3_RT',
 'MALE_WDRAW_2YR_TRANS_YR3_RT',
 'MALE_ENRL_ORIG_YR3_RT',
 'MALE_ENRL_4YR_TRANS_YR3_RT',
 'MALE_ENRL_2YR_TRANS_YR3_RT',
 'MALE_UNKN_ORIG_YR3_RT',
 'MALE_UNKN_4YR_TRANS_YR3_RT',
 'MALE_UNKN_2YR_TRANS_YR3_RT',
 'PELL_DEATH_YR3_RT',
 'PELL_COMP_ORIG_YR3_RT',
 'PELL_COMP_4YR_TRANS_YR3_RT',
 'PELL_COMP_2YR_TRANS_YR3_RT',
 'PELL_WDRAW_ORIG_YR3_RT',
 'PELL_WDRAW_4YR_TRANS_YR3_RT',
 'PELL_WDRAW_2YR_TRANS_YR3_RT',
 'PELL_ENRL_ORIG_YR3_RT',
 'PELL_ENRL_4YR_TRANS_YR3_RT',
 'PELL_ENRL_2YR_TRANS_YR3_RT',
 'PELL_UNKN_ORIG_YR3_RT',
 'PELL_UNKN_4YR_TRANS_YR3_RT',
 'PELL_UNKN_2YR_TRANS_YR3_RT',
 'NOPELL_DEATH_YR3_RT',
 'NOPELL_COMP_ORIG_YR3_RT',
 'NOPELL_COMP_4YR_TRANS_YR3_RT',
 'NOPELL_COMP_2YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_ORIG_YR3_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR3_RT',
 'NOPELL_ENRL_ORIG_YR3_RT',
 'NOPELL_ENRL_4YR_TRANS_YR3_RT',
 'NOPELL_ENRL_2YR_TRANS_YR3_RT',
 'NOPELL_UNKN_ORIG_YR3_RT',
 'NOPELL_UNKN_4YR_TRANS_YR3_RT',
 'NOPELL_UNKN_2YR_TRANS_YR3_RT',
 'LOAN_DEATH_YR3_RT',
 'LOAN_COMP_ORIG_YR3_RT',
 'LOAN_COMP_4YR_TRANS_YR3_RT',
 'LOAN_COMP_2YR_TRANS_YR3_RT',
 'LOAN_WDRAW_ORIG_YR3_RT',
 'LOAN_WDRAW_4YR_TRANS_YR3_RT',
 'LOAN_WDRAW_2YR_TRANS_YR3_RT',
 'LOAN_ENRL_ORIG_YR3_RT',
 'LOAN_ENRL_4YR_TRANS_YR3_RT',
 'LOAN_ENRL_2YR_TRANS_YR3_RT',
 'LOAN_UNKN_ORIG_YR3_RT',
 'LOAN_UNKN_4YR_TRANS_YR3_RT',
 'LOAN_UNKN_2YR_TRANS_YR3_RT',
 'NOLOAN_DEATH_YR3_RT',
 'NOLOAN_COMP_ORIG_YR3_RT',
 'NOLOAN_COMP_4YR_TRANS_YR3_RT',
 'NOLOAN_COMP_2YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_ORIG_YR3_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_ORIG_YR3_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_ORIG_YR3_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR3_RT',
 'FIRSTGEN_DEATH_YR3_RT',
 'FIRSTGEN_COMP_ORIG_YR3_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR3_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_ORIG_YR3_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_ORIG_YR3_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_ORIG_YR3_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR3_RT',
 'NOT1STGEN_DEATH_YR3_RT',
 'NOT1STGEN_COMP_ORIG_YR3_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR3_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_ORIG_YR3_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_ORIG_YR3_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_ORIG_YR3_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR3_RT',
 'DEATH_YR4_RT',
 'COMP_ORIG_YR4_RT',
 'COMP_4YR_TRANS_YR4_RT',
 'COMP_2YR_TRANS_YR4_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_4YR_TRANS_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'ENRL_ORIG_YR4_RT',
 'ENRL_4YR_TRANS_YR4_RT',
 'ENRL_2YR_TRANS_YR4_RT',
 'UNKN_ORIG_YR4_RT',
 'UNKN_4YR_TRANS_YR4_RT',
 'UNKN_2YR_TRANS_YR4_RT',
 'LO_INC_DEATH_YR4_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_COMP_4YR_TRANS_YR4_RT',
 'LO_INC_COMP_2YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR4_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR4_RT',
 'LO_INC_ENRL_ORIG_YR4_RT',
 'LO_INC_ENRL_4YR_TRANS_YR4_RT',
 'LO_INC_ENRL_2YR_TRANS_YR4_RT',
 'LO_INC_UNKN_ORIG_YR4_RT',
 'LO_INC_UNKN_4YR_TRANS_YR4_RT',
 'LO_INC_UNKN_2YR_TRANS_YR4_RT',
 'MD_INC_DEATH_YR4_RT',
 'MD_INC_COMP_ORIG_YR4_RT',
 'MD_INC_COMP_4YR_TRANS_YR4_RT',
 'MD_INC_COMP_2YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_ORIG_YR4_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR4_RT',
 'MD_INC_ENRL_ORIG_YR4_RT',
 'MD_INC_ENRL_4YR_TRANS_YR4_RT',
 'MD_INC_ENRL_2YR_TRANS_YR4_RT',
 'MD_INC_UNKN_ORIG_YR4_RT',
 'MD_INC_UNKN_4YR_TRANS_YR4_RT',
 'MD_INC_UNKN_2YR_TRANS_YR4_RT',
 'HI_INC_DEATH_YR4_RT',
 'HI_INC_COMP_ORIG_YR4_RT',
 'HI_INC_COMP_4YR_TRANS_YR4_RT',
 'HI_INC_COMP_2YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_ORIG_YR4_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR4_RT',
 'HI_INC_ENRL_ORIG_YR4_RT',
 'HI_INC_ENRL_4YR_TRANS_YR4_RT',
 'HI_INC_ENRL_2YR_TRANS_YR4_RT',
 'HI_INC_UNKN_ORIG_YR4_RT',
 'HI_INC_UNKN_4YR_TRANS_YR4_RT',
 'HI_INC_UNKN_2YR_TRANS_YR4_RT',
 'DEP_DEATH_YR4_RT',
 'DEP_COMP_ORIG_YR4_RT',
 'DEP_COMP_4YR_TRANS_YR4_RT',
 'DEP_COMP_2YR_TRANS_YR4_RT',
 'DEP_WDRAW_ORIG_YR4_RT',
 'DEP_WDRAW_4YR_TRANS_YR4_RT',
 'DEP_WDRAW_2YR_TRANS_YR4_RT',
 'DEP_ENRL_ORIG_YR4_RT',
 'DEP_ENRL_4YR_TRANS_YR4_RT',
 'DEP_ENRL_2YR_TRANS_YR4_RT',
 'DEP_UNKN_ORIG_YR4_RT',
 'DEP_UNKN_4YR_TRANS_YR4_RT',
 'DEP_UNKN_2YR_TRANS_YR4_RT',
 'IND_DEATH_YR4_RT',
 'IND_COMP_ORIG_YR4_RT',
 'IND_COMP_4YR_TRANS_YR4_RT',
 'IND_COMP_2YR_TRANS_YR4_RT',
 'IND_WDRAW_ORIG_YR4_RT',
 'IND_WDRAW_4YR_TRANS_YR4_RT',
 'IND_WDRAW_2YR_TRANS_YR4_RT',
 'IND_ENRL_ORIG_YR4_RT',
 'IND_ENRL_4YR_TRANS_YR4_RT',
 'IND_ENRL_2YR_TRANS_YR4_RT',
 'IND_UNKN_ORIG_YR4_RT',
 'IND_UNKN_4YR_TRANS_YR4_RT',
 'IND_UNKN_2YR_TRANS_YR4_RT',
 'FEMALE_DEATH_YR4_RT',
 'FEMALE_COMP_ORIG_YR4_RT',
 'FEMALE_COMP_4YR_TRANS_YR4_RT',
 'FEMALE_COMP_2YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_ORIG_YR4_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR4_RT',
 'FEMALE_ENRL_ORIG_YR4_RT',
 'FEMALE_ENRL_4YR_TRANS_YR4_RT',
 'FEMALE_ENRL_2YR_TRANS_YR4_RT',
 'FEMALE_UNKN_ORIG_YR4_RT',
 'FEMALE_UNKN_4YR_TRANS_YR4_RT',
 'FEMALE_UNKN_2YR_TRANS_YR4_RT',
 'MALE_DEATH_YR4_RT',
 'MALE_COMP_ORIG_YR4_RT',
 'MALE_COMP_4YR_TRANS_YR4_RT',
 'MALE_COMP_2YR_TRANS_YR4_RT',
 'MALE_WDRAW_ORIG_YR4_RT',
 'MALE_WDRAW_4YR_TRANS_YR4_RT',
 'MALE_WDRAW_2YR_TRANS_YR4_RT',
 'MALE_ENRL_ORIG_YR4_RT',

In [38]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df[col_list]

In [39]:
#filtered_ranking_4_year_df['Net Price']

In [40]:
filtered_ranking_4_year_df.isna()

,Rank,INSTNM,ACCREDAGENCY,NPCURL,SCH_DEG,HCM2,PREDDEG,HIGHDEG,CONTROL,LOCALE,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
635,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
637,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [41]:
inputs_df = filtered_ranking_4_year_df[['Net Price','GRAD_DEBT_MDN', 'GRAD_DEBT_MDN10YR', 'MN_EARN_WNE_P6', 'OVERALL_YR6_N','UGDS']]

In [42]:
inputs_df.isna()

,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
634,False,False,False,False,False,False
635,False,False,False,False,False,False
636,False,False,False,False,False,False
637,False,False,False,False,False,False
638,False,False,False,False,False,False

In [43]:
inputs_df = inputs_df.astype('float')

In [44]:
inputs_df.dtypes

Net Price            float64
GRAD_DEBT_MDN        float64
GRAD_DEBT_MDN10YR    float64
MN_EARN_WNE_P6       float64
OVERALL_YR6_N        float64
UGDS                 float64
dtype: object

In [45]:
#I dropped all NA and the rows did not go down.  There are none.
inputs_df.dropna(axis = 0, how = 'all')

,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS
0,17535.0,22500.0,233.511936,39400.0,2590.0,13186.0
1,19986.0,22021.0,228.540726,40300.0,1129.0,7458.0
2,21973.0,23250.0,241.295667,42400.0,4369.0,32177.0
3,23416.0,21000.0,217.944474,43100.0,2847.0,24147.0
4,22853.0,26000.0,269.836015,36700.0,245.0,1265.0
...,...,...,...,...,...,...
634,13746.0,19500.0,202.377011,49000.0,5421.0,33495.0
635,20605.0,27000.0,280.214323,26400.0,111.0,320.0
636,10248.0,16000.0,166.052932,26000.0,128.0,808.0
637,15376.0,19500.0,202.377011,36500.0,2442.0,13639.0
638,9854.0,18000.0,186.809549,37300.0,3818.0,17661.0

In [46]:
#now these columns need to go back into the main df

In [47]:
print(filtered_ranking_4_year_df.columns)

Index(['Rank', 'INSTNM', 'ACCREDAGENCY', 'NPCURL', 'SCH_DEG', 'HCM2',
       'PREDDEG', 'HIGHDEG', 'CONTROL', 'LOCALE',
       ...
       'Student Population', 'Net Price', 'Average Grant Aid',
       'Total Annual Cost', 'Alumni Salary', 'Acceptance Rate', 'SAT Lower',
       'SAT Upper', 'ACT Lower', 'ACT Upper'],
      dtype='object', length=1982)

In [48]:

#Lets figure out which of these columns are useless
#there are roughly 1982 - 291 columns that contain at least 1 NA.  Since we are only using this for forbes
#and the neural network and both suck, let's delete all bad columns.
filtered_ranking_4_year_df = filtered_ranking_4_year_df.dropna(axis = 1, how = 'any')

In [49]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df.fillna(0)
filtered_ranking_4_year_df

,Rank,INSTNM,ACCREDAGENCY,NPCURL,HCM2,PREDDEG,HIGHDEG,CONTROL,LOCALE,CCBASIC,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,456,University of Alabama at Birmingham,Southern Association of Colleges and Schools C...,https://uab.studentaidcalculator.com/survey.aspx,0,3,4,1,12.0,15.0,...,20902,17535,9254,36800,87200.0,92.0,990.0,1370.0,21.0,28.0
1,475,University of Alabama in Huntsville,Southern Association of Colleges and Schools C...,finaid.uah.edu/,0,3,4,1,12.0,16.0,...,9101,19986,9587,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0
2,252,The University of Alabama,Southern Association of Colleges and Schools C...,financialaid.ua.edu/net-price-calculator/,0,3,4,1,12.0,15.0,...,38563,21973,16494,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0
3,166,Auburn University,Southern Association of Colleges and Schools C...,https://www.auburn.edu/admissions/costcalc/fre...,0,3,4,1,13.0,15.0,...,29776,23416,9030,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0
4,463,Birmingham-Southern College,Southern Association of Colleges and Schools C...,www.bsc.edu/fp/np-calculator.cfm,0,3,3,2,12.0,21.0,...,1325,22853,26594,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,118,Purdue University-Main Campus,Higher Learning Commission,https://www.purdue.edu/dfa/cost/estimator.html,0,3,4,1,13.0,15.0,...,42699,13746,10703,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0
635,577,St. John's College,Higher Learning Commission,www.sjc.edu/admissions-and-aid/financial-aid/n...,0,3,4,2,41.0,21.0,...,386,20605,31845,65456,0.0,63.0,1190.0,1350.0,23.0,32.0
636,277,New College of Florida,Southern Association of Colleges and Schools C...,www.ncf.edu/admissions/cost-and-aid/tuition-an...,0,3,4,1,13.0,21.0,...,885,10248,9341,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0
637,519,Florida Gulf Coast University,Southern Association of Colleges and Schools C...,https://www2.fgcu.edu/financialaid/netpricecal...,0,3,4,1,21.0,18.0,...,15317,15376,4726,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0
638,505,University of North Georgia,Southern Association of Colleges and Schools C...,ung.edu/financial-aid/net-calculator.php,0,3,4,1,31.0,19.0,...,20811,9854,5483,28094,85600.0,78.0,910.0,1130.0,20.0,25.0

In [50]:
filtered_ranking_4_year_df['Rank'].dtype

dtype('int64')

In [51]:
#I need to bin the school ranks into bins of 10% each
filtered_ranking_4_year_df['Rank'].describe()

count    639.000000
mean     327.456964
std      186.244600
min        1.000000
25%      167.500000
50%      328.000000
75%      487.500000
max      650.000000
Name: Rank, dtype: float64

In [52]:
filtered_ranking_4_year_df['10%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=10, labels = False)

In [53]:
filtered_ranking_4_year_df['5%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=20, labels = False)

In [54]:
filtered_ranking_4_year_df['20%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=5, labels = False)

In [55]:
filtered_ranking_4_year_df['50%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=2, labels = False)

In [56]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['HSI','CCSIZSET','PBI','CCBASIC','HBCU','HIGHDEG','TRIBAL','PREDDEG', 'T4APPROVALDATE', 'ACCREDCODE', 'ACCREDAGENCY', 'NPCURL','HCM2'])

In [57]:

#lets output this data file and run a neural network model on the dataset to see if it is better than randomforest.
filtered_ranking_4_year_df.to_csv(path2 + 'filtered_ranking_4_year_df.csv')

In [58]:
#now we are going to cut the columns on this model down to what is in the forbes formula
#20% rank on Forbes 2018 Top Colleges ranking + 20% student debt + 20% alumni earnings
#+ 20% net price + 10% graduation rate + 10% Pell Grant recipients.
#student debt
#GRAD_DEBT_MDN = The median debt for students who have completed
#GRAD_DEBT_MDN10YR = Median loan debt of completers in monthly payments (10-year amortization plan)
#DEP_DEBT_MDN = The median debt for dependent students
#IND_DEBT_MDN = The median debt for independent students
#alumni earnings
#MN_EARN_WNE_P6 = Mean earnings of students working and not enrolled 6 years after entry
#MN_EARN_WNE_P7 = Mean earnings of students working and not enrolled 7 years after entry
#MN_EARN_WNE_P8 = Mean earnings of students working and not enrolled 8 years after entry
#MN_EARN_WNE_P10 = Mean earnings of students working and not enrolled 10 years after entry
#net price
#NPT4_PUB = Average net price for Title IV institutions (public institutions)
#NPT4_PRIV = Average net price for Title IV institutions (private for-profit and nonprofit institutions)
#graduation percentage
#OVERALL_YR6_N = Number of students in overall 6-year completion cohort
#UGDS = Enrollment of all undergraduate students

In [59]:
forbes_ranking_df = filtered_ranking_4_year_df[['Rank','INSTNM',  '10%_cut', '20%_cut', '50%_cut']]

In [60]:
inputs_df

,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS
0,17535.0,22500.0,233.511936,39400.0,2590.0,13186.0
1,19986.0,22021.0,228.540726,40300.0,1129.0,7458.0
2,21973.0,23250.0,241.295667,42400.0,4369.0,32177.0
3,23416.0,21000.0,217.944474,43100.0,2847.0,24147.0
4,22853.0,26000.0,269.836015,36700.0,245.0,1265.0
...,...,...,...,...,...,...
634,13746.0,19500.0,202.377011,49000.0,5421.0,33495.0
635,20605.0,27000.0,280.214323,26400.0,111.0,320.0
636,10248.0,16000.0,166.052932,26000.0,128.0,808.0
637,15376.0,19500.0,202.377011,36500.0,2442.0,13639.0
638,9854.0,18000.0,186.809549,37300.0,3818.0,17661.0

In [61]:
forbes_ranking_complete_df = pd.concat([forbes_ranking_df, inputs_df],axis=1)

In [62]:
forbes_ranking_complete_df

,Rank,INSTNM,10%_cut,20%_cut,50%_cut,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS
0,456,University of Alabama at Birmingham,7,3,1,17535.0,22500.0,233.511936,39400.0,2590.0,13186.0
1,475,University of Alabama in Huntsville,7,3,1,19986.0,22021.0,228.540726,40300.0,1129.0,7458.0
2,252,The University of Alabama,3,1,0,21973.0,23250.0,241.295667,42400.0,4369.0,32177.0
3,166,Auburn University,2,1,0,23416.0,21000.0,217.944474,43100.0,2847.0,24147.0
4,463,Birmingham-Southern College,7,3,1,22853.0,26000.0,269.836015,36700.0,245.0,1265.0
...,...,...,...,...,...,...,...,...,...,...,...
634,118,Purdue University-Main Campus,1,0,0,13746.0,19500.0,202.377011,49000.0,5421.0,33495.0
635,577,St. John's College,8,4,1,20605.0,27000.0,280.214323,26400.0,111.0,320.0
636,277,New College of Florida,4,2,0,10248.0,16000.0,166.052932,26000.0,128.0,808.0
637,519,Florida Gulf Coast University,7,3,1,15376.0,19500.0,202.377011,36500.0,2442.0,13639.0
638,505,University of North Georgia,7,3,1,9854.0,18000.0,186.809549,37300.0,3818.0,17661.0

In [63]:
forbes_ranking_complete_df = forbes_ranking_complete_df.dropna(axis = 0, how = 'any')

In [64]:
forbes_ranking_complete_df['OVERALL_YR6_N'].astype('int')

0      2590
1      1129
2      4369
3      2847
4       245
       ...
634    5421
635     111
636     128
637    2442
638    3818
Name: OVERALL_YR6_N, Length: 637, dtype: int32

In [65]:
forbes_ranking_complete_df['UGDS'].astype('int')

0      13186
1       7458
2      32177
3      24147
4       1265
       ...
634    33495
635      320
636      808
637    13639
638    17661
Name: UGDS, Length: 637, dtype: int32

In [66]:
graduation_rate = (forbes_ranking_complete_df['OVERALL_YR6_N'].astype('int') / forbes_ranking_complete_df['UGDS'].astype('int'))

In [67]:
while((graduation_rate.max()) != 1):
    graduation_rate.replace(to_replace = graduation_rate.max(),value = 1., inplace = True)

In [68]:
forbes_ranking_complete_df.loc[:,'debt'] = forbes_ranking_complete_df['GRAD_DEBT_MDN'].copy().astype('int').copy()
forbes_ranking_complete_df.loc[:,'earning_average'] = forbes_ranking_complete_df[['MN_EARN_WNE_P6']].astype('int').sum(axis=1).copy()
forbes_ranking_complete_df.loc[:,'net_tuition'] = forbes_ranking_complete_df[['Net Price']].max(axis=1).copy()
debt = forbes_ranking_complete_df['debt']
earning_average = forbes_ranking_complete_df['earning_average']
net_tuition  =forbes_ranking_complete_df['net_tuition']

C:\Users\thead\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\thead\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [69]:
forbes_ranking_complete_df.loc[:,'calculation'] = -0.25 * (debt / debt.max()) + 0.25 * (earning_average / earning_average.max()) - 0.25 * (net_tuition / net_tuition.max()) + 0.25 * (graduation_rate / graduation_rate.max())

In [70]:
forbes_ranking_complete_df.loc[:,'calculation_ng'] = -0.33 * (debt / debt.max()) + 0.33 * (earning_average / earning_average.max()) - 0.33 * (net_tuition / net_tuition.max())

In [71]:
forbes_ranking_complete_df['calculation'].min()

-0.39199468125748005

In [72]:
forbes_ranking_complete_df['calculation']

0     -0.140857
1     -0.158694
2     -0.178562
3     -0.169349
4     -0.206998
         ...
634   -0.079191
635   -0.191326
636   -0.088758
637   -0.114915
638   -0.061268
Name: calculation, Length: 637, dtype: float64

In [73]:
forbes_ranking_sorted_calc_df = forbes_ranking_complete_df.sort_values(by = 'calculation', ascending = False)

In [74]:
forbes_ranking_sorted_calc_df = forbes_ranking_sorted_calc_df.reset_index().reset_index().drop(columns = 'index').rename(columns = {'level_0':'calculation_rank'})
forbes_ranking_sorted_calc_df

,calculation_rank,Rank,INSTNM,10%_cut,20%_cut,50%_cut,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS,debt,earning_average,net_tuition,calculation,calculation_ng
0,0,70,University of Florida-Online,0,0,0,12345.0,16247.0,168.616374,47700.0,5183.0,2912.0,16247,47700,12345.0,0.162829,-0.115065
1,1,330,St. Joseph's College-New York,5,2,1,16973.0,19500.0,202.377011,41600.0,1201.0,937.0,19500,41600,16973.0,0.094651,-0.205060
2,2,464,Berea College,7,3,1,1298.0,5600.0,58.118526,27100.0,476.0,1630.0,5600,27100,1298.0,0.085405,0.016366
3,3,2,Stanford University,0,0,0,13261.0,11341.0,117.700394,92800.0,579.0,7083.0,11341,92800,13261.0,0.084305,0.084306
4,4,66,United States Merchant Marine Academy,0,0,0,6758.0,12000.0,124.539699,78600.0,76.0,996.0,12000,78600,6758.0,0.076072,0.075235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,632,119,The Juilliard School,1,0,0,32829.0,26750.0,277.619746,30900.0,72.0,487.0,26750,30900,32829.0,-0.292474,-0.434854
633,633,222,Emerson College,3,1,0,43965.0,23250.0,241.295667,38700.0,693.0,3817.0,23250,38700,43965.0,-0.293096,-0.446800
634,634,328,Pratt Institute-Main,4,2,0,43969.0,25839.0,268.165107,40200.0,617.0,3591.0,25839,40200,43969.0,-0.314318,-0.471600
635,635,112,Rhode Island School of Design,1,0,0,46277.0,27000.0,280.214323,42600.0,275.0,1994.0,27000,42600,46277.0,-0.339121,-0.493151
636,636,163,Manhattan School of Music,2,1,0,47116.0,26243.0,272.357944,23700.0,55.0,511.0,26243,23700,47116.0,-0.391995,-0.552952

In [75]:
forbes_ranking_sorted_calc_df_top_50 = forbes_ranking_sorted_calc_df.sort_values(by = 'Rank', ascending = True).head(50)
forbes_ranking_sorted_calc_df_top_50

,calculation_rank,Rank,INSTNM,10%_cut,20%_cut,50%_cut,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS,debt,earning_average,net_tuition,calculation,calculation_ng
7,7,1,Harvard University,0,0,0,14327.0,13875.0,143.999027,91300.0,614.0,7582.0,13875,91300,14327.0,0.052639,0.042760
3,3,2,Stanford University,0,0,0,13261.0,11341.0,117.700394,92800.0,579.0,7083.0,11341,92800,13261.0,0.084305,0.084306
31,31,3,Yale University,0,0,0,18627.0,13000.0,134.918007,67800.0,384.0,5963.0,13000,67800,18627.0,-0.025694,-0.055167
6,6,4,Massachusetts Institute of Technology,0,0,0,20771.0,12500.0,129.728853,99600.0,503.0,4550.0,12500,99600,20771.0,0.058639,0.040922
5,5,5,Princeton University,0,0,0,9327.0,9850.0,102.226336,73600.0,273.0,5301.0,9850,73600,9327.0,0.062401,0.065374
46,46,6,University of Pennsylvania,0,0,0,24242.0,19500.0,202.377011,91200.0,1213.0,10764.0,19500,91200,24242.0,-0.041248,-0.091635
167,167,7,Brown University,0,0,0,30205.0,15500.0,160.863778,64800.0,668.0,6752.0,15500,64800,30205.0,-0.107781,-0.174918
26,26,8,California Institute of Technology,0,0,0,24245.0,8700.0,90.291282,68500.0,41.0,948.0,8700,68500,24245.0,-0.021611,-0.042798
30,30,9,Duke University,0,0,0,35737.0,11500.0,119.350545,93200.0,850.0,6596.0,11500,93200,35737.0,-0.023554,-0.073617
71,71,10,Dartmouth College,0,0,0,30421.0,12500.0,129.728853,74600.0,390.0,4312.0,12500,74600,30421.0,-0.060342,-0.109498
78,78,11,Cornell University,0,0,0,31230.0,14000.0,145.296316,76300.0,1899.0,15105.0,14000,76300,31230.0,-0.064603,-0.126763
29,29,12,Pomona College,0,0,0,15840.0,10040.0,104.198215,51200.0,124.0,1549.0,10040,51200,15840.0,-0.022898,-0.056643
32,32,13,University of California-Berkeley,0,0,0,15859.0,13750.0,142.701739,57600.0,3950.0,30845.0,13750,57600,15859.0,-0.027221,-0.078191
106,106,14,Columbia University in the City of New York,0,0,0,24231.0,21979.0,228.104837,77900.0,1213.0,8216.0,21979,77900,24231.0,-0.087411,-0.164103
64,64,15,Georgetown University,0,0,0,30107.0,15397.0,159.794812,81100.0,914.0,7089.0,15397,81100,30107.0,-0.057951,-0.119043
90,90,16,University of Chicago,0,0,0,25455.0,17000.0,176.431241,72100.0,651.0,6600.0,17000,72100,25455.0,-0.077382,-0.134694
44,44,17,Northwestern University,0,0,0,24047.0,15000.0,155.674624,71900.0,1271.0,8451.0,15000,71900,24047.0,-0.040067,-0.102520
171,171,18,University of Notre Dame,0,0,0,28768.0,19000.0,197.187857,69700.0,1147.0,8568.0,19000,69700,28768.0,-0.109583,-0.188826
86,86,19,Williams College,0,0,0,22667.0,12702.0,131.825272,51400.0,230.0,2028.0,12702,51400,22667.0,-0.073448,-0.134377
56,56,20,University of Michigan-Ann Arbor,0,0,0,14860.0,16606.0,172.342187,55900.0,3647.0,30079.0,16606,55900,14860.0,-0.052746,-0.109636
22,22,21,Rice University,0,0,0,20237.0,11989.0,124.425538,68300.0,405.0,3962.0,11989,68300,20237.0,-0.014727,-0.053172
131,131,22,Johns Hopkins University,0,0,0,33586.0,15500.0,160.863778,68000.0,982.0,5567.0,15500,68000,33586.0,-0.098322,-0.187996
253,253,23,Harvey Mudd College,0,0,0,34464.0,22960.0,238.285958,87200.0,104.0,886.0,22960,87200,34464.0,-0.134466,-0.216231
301,301,25,Swarthmore College,0,0,0,20511.0,20000.0,207.566165,44500.0,156.0,1544.0,20000,44500,20511.0,-0.145935,-0.225976
104,104,26,Bowdoin College,0,0,0,22810.0,15850.0,164.496186,57100.0,211.0,1825.0,15850,57100,22810.0,-0.086745,-0.152657
70,70,27,Vanderbilt University,0,0,0,19959.0,15000.0,155.674624,61900.0,594.0,6840.0,15000,61900,19959.0,-0.059365,-0.107020
50,50,28,Amherst College,0,0,0,22463.0,12896.0,133.838663,61600.0,230.0,1855.0,12896,61600,22463.0,-0.045807,-0.101382
88,88,29,Claremont McKenna College,0,0,0,26933.0,14250.0,147.890893,68200.0,107.0,1318.0,14250,68200,26933.0,-0.075444,-0.126376
293,293,30,University of Southern California,0,0,0,30232.0,19500.0,202.377011,61400.0,2489.0,19548.0,19500,61400,30232.0,-0.144171,-0.232324
178,178,31,Washington University in St Louis,0,0,0,28540.0,16075.0,166.831305,63400.0,592.0,7356.0,16075,63400,28540.0,-0.112078,-0.174501
120,120,33,University of Virginia-Main Campus,0,0,0,20547.0,17756.0,184.277242,56800.0,1693.0,16405.0,17756,56800,20547.0,-0.095182,-0.159696
286,286,34,Tufts University,0,0,0,32620.0,16500.0,171.242086,56600.0,708.0,5597.0,16500,56600,32620.0,-0.142989,-0.230490
560,560,35,New York University,0,0,0,40336.0,21250.0,220.539051,55900.0,3973.0,26339.0,21250,55900,40336.0,-0.220940,-0.341419
202,202,36,Middlebury College,0,0,0,26075.0,13750.0,142.701739,47900.0,201.0,2550.0,13750,47900,26075.0,-0.118084,-0.181882
232,232,37,Carnegie Mellon University,0,0,0,31102.0,23250.0,241.295667,84000.0,778.0,6483.0,23250,84000,31102.0,-0.126527,-0.206617
43,43,38,University of California-Los Angeles,0,0,0,14309.0,15000.0,155.674624,52000.0,4641.0,31568.0,15000,52000,14309.0,-0.039192,-0.100249
145,145,39,Bates College,0,0,0,25192.0,12725.0,132.063973,46000.0,190.0,1832.0,12725,46000,25192.0,-0.103025,-0.170218
361,361,40,Wesleyan University,0,0,0,29956.0,17231.0,178.828630,46400.0,346.0,2922.0,17231,46400,29956.0,-0.162839,-0.254024
251,251,41,Boston College,0,0,0,34550.0,16939.0,175.798164,64900.0,1307.0,9639.0,16939,64900,34550.0,-0.133942,-0.221550
236,236,42,Washington and Lee University,0,0,0,24761.0,19500.0,202.377011,58900.0,178.0,1822.0,19500,58900,24761.0,-0.128825,-0.202288
61,61,44,Wellesley College,0,0,0,23188.0,10600.0,110.010068,48600.0,341.0,2392.0,10600,48600,23188.0,-0.057660,-0.123156
60,60,45,University of North Carolina at Chapel Hill,0,0,0,14163.0,16118.0,167.277573,49900.0,2507.0,18946.0,16118,49900,14163.0,-0.057091,-0.119027
159,159,46,Colgate University,0,0,0,23310.0,16125.0,167.350221,54300.0,258.0,2934.0,16125,54300,23310.0,-0.105740,-0.168595
203,203,47,William & Mary,0,0,0,19720.0,18325.0,190.182499,47400.0,686.0,6349.0,18325,47400,19720.0,-0.118128,-0.191585
221,221,48,Davidson College,0,0,0,21206.0,18519.0,192.195891,49400.0,187.0,1839.0,18519,49400,21206.0,-0.124272,-0.197595
260,260,49,Haverford College,0,0,0,26607.0,15000.0,155.674624,44100.0,128.0,1305.0,15000,44100,26607.0,-0.136508,-0.212558
222,222,50,Barnard College,0,0,0,25007.0,17500.0,181.620395,52800.0,286.0,2557.0,17500,52800,25007.0,-0.124497,-0.201246
257,257,52,Carleton College,0,0,0,27898.0,13834.0,143.573517,43400.0,200.0,2046.0,13834,43400,27898.0,-0.135051,-0.210525
334,334,54,Pitzer College,0,0,0,28423.0,14625.0,151.782758,37300.0,126.0,1072.0,14625,37300,28423.0,-0.155085,-0.243500
113,113,55,Emory University,0,0,0,26760.0,18000.0,186.809549,65500.0,1165.0,6975.0,18000,65500,26760.0,-0.092479,-0.177190

In [76]:
forbes_ranking_sorted_calc_df_top_50.to_csv(path2+'forbes_ranking_sorted_calc_df_top_50.csv')

In [77]:
forbes_ranking_sorted_calc_df.to_csv(path2+'forbes_ranking_check.csv')

In [78]:
forbes_ranking_sorted_calc_df

,calculation_rank,Rank,INSTNM,10%_cut,20%_cut,50%_cut,Net Price,GRAD_DEBT_MDN,GRAD_DEBT_MDN10YR,MN_EARN_WNE_P6,OVERALL_YR6_N,UGDS,debt,earning_average,net_tuition,calculation,calculation_ng
0,0,70,University of Florida-Online,0,0,0,12345.0,16247.0,168.616374,47700.0,5183.0,2912.0,16247,47700,12345.0,0.162829,-0.115065
1,1,330,St. Joseph's College-New York,5,2,1,16973.0,19500.0,202.377011,41600.0,1201.0,937.0,19500,41600,16973.0,0.094651,-0.205060
2,2,464,Berea College,7,3,1,1298.0,5600.0,58.118526,27100.0,476.0,1630.0,5600,27100,1298.0,0.085405,0.016366
3,3,2,Stanford University,0,0,0,13261.0,11341.0,117.700394,92800.0,579.0,7083.0,11341,92800,13261.0,0.084305,0.084306
4,4,66,United States Merchant Marine Academy,0,0,0,6758.0,12000.0,124.539699,78600.0,76.0,996.0,12000,78600,6758.0,0.076072,0.075235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,632,119,The Juilliard School,1,0,0,32829.0,26750.0,277.619746,30900.0,72.0,487.0,26750,30900,32829.0,-0.292474,-0.434854
633,633,222,Emerson College,3,1,0,43965.0,23250.0,241.295667,38700.0,693.0,3817.0,23250,38700,43965.0,-0.293096,-0.446800
634,634,328,Pratt Institute-Main,4,2,0,43969.0,25839.0,268.165107,40200.0,617.0,3591.0,25839,40200,43969.0,-0.314318,-0.471600
635,635,112,Rhode Island School of Design,1,0,0,46277.0,27000.0,280.214323,42600.0,275.0,1994.0,27000,42600,46277.0,-0.339121,-0.493151
636,636,163,Manhattan School of Music,2,1,0,47116.0,26243.0,272.357944,23700.0,55.0,511.0,26243,23700,47116.0,-0.391995,-0.552952

In [79]:
earning_sum = forbes_ranking_complete_df.loc[:,['MN_EARN_WNE_P6']].astype('int').sum(axis = 1)

In [80]:
forbes_ranking_complete_df[['MN_EARN_WNE_P6']]

     MN_EARN_WNE_P6
0           39400.0
1           40300.0
2           42400.0
3           43100.0
4           36700.0
..              ...
634         49000.0
635         26400.0
636         26000.0
637         36500.0
638         37300.0

[637 rows x 1 columns]

In [81]:
forbes_ranking_complete_df['UGDS']

0      13186.0
1       7458.0
2      32177.0
3      24147.0
4       1265.0
        ...
634    33495.0
635      320.0
636      808.0
637    13639.0
638    17661.0
Name: UGDS, Length: 637, dtype: float64

In [82]:
(forbes_ranking_complete_df['OVERALL_YR6_N'].astype('int') / forbes_ranking_complete_df['UGDS'].astype('int'))

0      0.196420
1      0.151381
2      0.135780
3      0.117903
4      0.193676
         ...
634    0.161845
635    0.346875
636    0.158416
637    0.179045
638    0.216183
Length: 637, dtype: float64

In [83]:
filtered_ranking_4_year_df.dtypes.to_list()

[dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [84]:
filtered_ranking_4_year_df.columns

Index(['Rank', 'INSTNM', 'CONTROL', 'LOCALE', 'CCUGPROF', 'ANNHI', 'AANAPII',
       'NANTI', 'MENONLY', 'WOMENONLY',
       ...
       'Alumni Salary', 'Acceptance Rate', 'SAT Lower', 'SAT Upper',
       'ACT Lower', 'ACT Upper', '10%_cut', '5%_cut', '20%_cut', '50%_cut'],
      dtype='object', length=282)

In [85]:
#begin randomforest classifier work
X = filtered_ranking_4_year_df.drop(columns = ['INSTNM', 'Rank', '10%_cut', '5%_cut', '20%_cut', '50%_cut'])
column_list = X.columns.to_list()

In [86]:
#This is an awesome tool!!!!!!!!!!!!!!!!!!!!!!!!
X.select_dtypes(include = object)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[639 rows x 0 columns]

In [87]:
bool_list = (X.dtypes == object).to_list()

In [88]:
bool_list

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [89]:
# here we need to choose either 10%_cut or 5%_cut.  Choose 10% first then redo with 5%
y = filtered_ranking_4_year_df['20%_cut']
y

0      3
1      3
2      1
3      1
4      3
      ..
634    0
635    4
636    2
637    3
638    3
Name: 20%_cut, Length: 639, dtype: int64

In [90]:
print(X.shape, y.shape)

(639, 276) (639,)

In [91]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .4)

In [92]:
# random forest generator classifier
from sklearn.ensemble import RandomForestClassifier

In [93]:
rf = RandomForestClassifier()
rf_a = rf.fit(X_train, y_train)
rf_a.score(X_test, y_test)

0.5651041666666666

In [94]:
# We can sort the features by their importance
importance_a = sorted(zip(rf_a.feature_importances_, column_list), reverse=True)
importance_a

[(0.03982031723222368, 'SAT Lower'),
 (0.03741602248957077, 'ACT Lower'),
 (0.034834510720108874, 'Acceptance Rate'),
 (0.03385098282436375, 'PCTPELL'),
 (0.03274199941502006, 'Alumni Salary'),
 (0.029748019150475827, 'INEXPFTE'),
 (0.026913208817132946, 'Total Annual Cost'),
 (0.024905101560681934, 'UGDS_ASIAN'),
 (0.024312048321970935, 'SAT Upper'),
 (0.023325872950216937, 'ACT Upper'),
 (0.023007907680259607, 'PCTFLOAN'),
 (0.01958890411143101, 'PPTUG_EF'),
 (0.019517974499664144, 'TUITFTE'),
 (0.01893019306915872, 'CCUGPROF'),
 (0.018030628655205078, 'UGDS_BLACK'),
 (0.017584794288193373, 'Average Grant Aid'),
 (0.016385623140935796, 'PCIP52'),
 (0.01579191060166086, 'UGDS_NRA'),
 (0.01567118075670103, 'SCUGFFN'),
 (0.015179576856541806, 'PCIP27'),
 (0.015020949381405668, 'SCUGFFN_POOLED'),
 (0.013895346326528776, 'UGDS_HISP'),
 (0.013586831672968737, 'UGDS_MEN'),
 (0.012836078640804282, 'UGDS_WHITE'),
 (0.01261818002996433, 'Undergraduate Population'),
 (0.012145428840554594, 'UGDS_AIAN'),
 (0.012047060089348442, 'PCIP11'),
 (0.012021000122810276, 'PCIP45'),
 (0.011825335241918733, 'PCIP54'),
 (0.011822786636657985, 'Net Price'),
 (0.011491261929527362, 'UGDS'),
 (0.011482008862756073, 'OPEID6_y'),
 (0.01114482514818089, 'D_PCTPELL_PCTFLOAN'),
 (0.011065392127243058, 'PCIP09'),
 (0.010983028383500976, 'PCIP40'),
 (0.010727836852575535, 'PCIP16'),
 (0.0103340058056158, 'Student Population'),
 (0.010314872031088012, 'UGDS_UNKN'),
 (0.010214940138816, 'PCIP23'),
 (0.010080777810364159, 'UG12MN'),
 (0.010032286264125558, 'PCIP26'),
 (0.009970939251297902, 'UNITID_y'),
 (0.00994934581016548, 'PCIP50'),
 (0.009826711834363773, 'PCIP42'),
 (0.009656287364047745, 'PCIP13'),
 (0.009590481221355569, 'PCIP24'),
 (0.009338108115481494, 'PCIP44'),
 (0.00928134543931934, 'PCIP51'),
 (0.009208168707617299, 'UGDS_2MOR'),
 (0.00888217672906562, 'PCIP38'),
 (0.008559204672628062, 'PCIP14'),
 (0.008156879080113392, 'PCIP03'),
 (0.00803619840693293, 'UGDS_WOMEN'),
 (0.007722717317715362, 'PCIP05'),
 (0.00740218059483378, 'PCIP30'),
 (0.007077919841037925, 'UGDS_NHPI'),
 (0.006983400178476546, 'PCIP31'),
 (0.004630492265943633, 'PCIP43'),
 (0.004563378466504784, 'LOCALE'),
 (0.0044839886101555705, 'PCIP19'),
 (0.003984535341589637, 'PCIP01'),
 (0.003975564932476329, 'CIP51BACHL'),
 (0.003945037639352747, 'PCIP15'),
 (0.003339280076068341, 'PCIP04'),
 (0.002964441313785462, 'CIP31BACHL'),
 (0.002959017308463484, 'CIP13BACHL'),
 (0.002912055187499759, 'PCIP22'),
 (0.002805176581916655, 'CIP09BACHL'),
 (0.0027664212419862004, 'CIP52BACHL'),
 (0.0027590917894232667, 'CIP43BACHL'),
 (0.0025264334299332962, 'CIP44BACHL'),
 (0.002382272642762952, 'PCIP39'),
 (0.0022818923838743414, 'CIP14BACHL'),
 (0.0022118677269565633, 'CIP23BACHL'),
 (0.002099714960591907, 'PCIP49'),
 (0.002086036785507192, 'CIP52CERT1'),
 (0.002058320701254337, 'CIP30BACHL'),
 (0.0020464419780148067, 'CIP05BACHL'),
 (0.0019719437328042655, 'CIP22BACHL'),
 (0.00190856913666677, 'CIP15BACHL'),
 (0.0018306785147472423, 'CIP24BACHL'),
 (0.001829555665277124, 'CIP04BACHL'),
 (0.00182900447448592, 'CIP16BACHL'),
 (0.0017920841823853325, 'CIP11BACHL'),
 (0.0017199652298087117, 'SCHTYPE'),
 (0.0016697662725120176, 'CONTROL'),
 (0.0016504052480512518, 'CIP03BACHL'),
 (0.0014959628780267908, 'CIP19BACHL'),
 (0.0014494259540171277, 'PCIP10'),
 (0.0014284406603619234, 'CIP38BACHL'),
 (0.0014038393785227076, 'CIP51ASSOC'),
 (0.0013733457496089166, 'CIP13CERT1'),
 (0.0013326952218781498, 'CIP45BACHL'),
 (0.001218493132725462, 'CIP26BACHL'),
 (0.0011878692813286733, 'CIP54BACHL'),
 (0.001178930598573749, 'CIP49BACHL'),
 (0.0011091527075323074, 'CIP10BACHL'),
 (0.0010976360636046688, 'CIP51CERT1'),
 (0.0010215755405988546, 'CIP11CERT1'),
 (0.0010189190115033307, 'CIP39BACHL'),
 (0.0009697464042279608, 'CIP42BACHL'),
 (0.0009580925644916203, 'CIP44CERT2'),
 (0.0009167232510158722, 'CIP50BACHL'),
 (0.0008993912038759894, 'CIP40BACHL'),
 (0.0008858256353552995, 'CIP44CERT1'),
 (0.0007918886794990693, 'CIP24ASSOC'),
 (0.0007875935920920379, 'CIP50CERT1'),
 (0.0007825437987291925, 'CIP01BACHL'),
 (0.0007621424503736887, 'CIP27BACHL'),
 (0.0007589662672918379, 'AANAPII'),
 (0.0007381137486258658, 'CIP50CERT4'),
 (0.0007014103793019661, 'CIP19CERT1'),
 (0.0006938846525775637, 'CIP52ASSOC'),
 (0.0006891687410774937, 'CIP30CERT1'),
 (0.0006865753001855326, 'CIP09CERT1'),
 (0.0006600853808405785, 'CIP13CERT2'),
 (0.0006592090667310431, 'CIP43CERT1'),
 (0.0006312467327451128, 'CIP22ASSOC'),
 (0.0006236696843516957, 'OPEFLAG'),
 (0.0005988964786153431, 'CIP11ASSOC'),
 (0.0005852995390212576, 'CIP14CERT1'),
 (0.0005680206370854508, 'CIP38CERT1'),
 (0.0005573099899465875, 'CIP52CERT2'),
 (0.0005528461271259024, 'CIP24CERT1'),
 (0.000541131596867396, 'CIP31CERT1'),
 (0.0005305072793259844, 'CIP05CERT1'),
 (0.00046197292106335514, 'CIP43ASSOC'),
 (0.0004328114834111653, 'CIP15ASSOC'),
 (0.00042721911110280166, 'CIP41BACHL'),
 (0.0004195431384628832, 'CIP16CERT2'),
 (0.0004109950916803288, 'CIP50ASSOC'),
 (0.0003991565864885553, 'CIP47CERT2'),
 (0.0003890650740617879, 'CIP38ASSOC'),
 (0.0003702979273258021, 'CIP01CERT1'),
 (0.0003559784756417572, 'CIP51CERT2'),
 (0.00035430689398012954, 'CIP10ASSOC'),
 (0.00033770483200593456, 'CIP42CERT1'),
 (0.0003302803843730344, 'CIP47ASSOC'),
 (0.00030802471883406704, 'CIP44ASSOC'),
 (0.00028835818027772304, 'CIP54CERT1'),
 (0.0002580931330734199, 'MENONLY'),
 (0.0002547330430094818, 'DISTANCEONLY'),
 (0.00025276562495022526, 'PCIP41'),
 (0.00022952047061519431, 'CIP22CERT2'),
 (0.0002187180780221627, 'CIP11CERT2'),
 (0.00021521472942300762, 'PCIP47'),
 (0.00020857394509686916, 'CIP01ASSOC'),
 (0.00020014312327231308, 'CIP45ASSOC'),
 (0.00019252107687562958, 'CIP24CERT2'),
 (0.0001879987473741647, 'CIP26CERT1'),
 (0.00018741319454319266, 'CIP23CERT1'),
 (0.00018373175093764664, 'CIP03CERT1'),
 (0.00018297362775420152, 'CIP39CERT2'),
 (0.00018182168007080453, 'PCIP25'),
 (0.0001655842499936323, 'CIP40CERT1'),
 (0.00016554764997728764, 'CIP11CERT4'),
 (0.0001650639542120038, 'CIP45CERT2'),
 (0.00016153951735230047, 'CIP16ASSOC'),
 (0.00016147046477683733, 'CIP16CERT1'),
 (0.0001614491361701421, 'PCIP46'),
 (0.00014990638751257094, 'CIP39ASSOC'),
 (0.00014542972167329556, 'WOMENONLY'),
 (0.0001367389572643283, 'CIP45CERT1'),
 (0.0001315607719993652, 'CIP03CERT2'),
 (0.00013148545090416273, 'CIP41CERT2'),
 (0.00012884855202992924, 'CIP29CERT1'),
 (0.0001252935044632315, 'CIP04CERT1'),
 (0.00011522588790340814, 'CIP51CERT4'),
 (0.00010322348735087242, 'CIP40ASSOC'),
 (0.00010244422736515669, 'CIP50CERT2'),
 (9.34948302858548e-05, 'CIP14CERT2'),
 (9.240916119056825e-05, 'POOLYRS_FTFTAIDPCT'),
 (9.024748079224742e-05, 'CIP48ASSOC'),
 (8.991473967038316e-05, 'CIP23ASSOC'),
 (8.958810551019548e-05, 'CIP41ASSOC'),
 (8.48261064817125e-05, 'CIP42ASSOC'),
 (8.481404679664732e-05, 'CIP15CERT1'),
 (8.179683590592404e-05, 'CIP38CERT2'),
 (8.137108792846496e-05, 'CIP46BACHL'),
 (8.017324350336861e-05, 'CIP30ASSOC'),
 (7.99839259340644e-05, 'CIP46ASSOC'),
 (7.97506162421443e-05, 'CIP10CERT2'),
 (7.91679268204083e-05, 'CIP29BACHL'),
 (7.872496430363137e-05, 'CIP12CERT1'),
 (7.474127772391145e-05, 'CIP30CERT2'),
 (7.319602937339404e-05, 'CIP25BACHL'),
 (7.164413666593697e-05, 'PCIP48'),
 (6.900691109939216e-05, 'CIP13ASSOC'),
 (6.559401165258325e-05, 'CIP13CERT4'),
 (5.456540946490695e-05, 'CIP05ASSOC'),
 (4.974056879803379e-05, 'CIP48CERT4'),
 (4.9195508739437444e-05, 'CIP43CERT2'),
 (4.910834649308633e-05, 'CIP23CERT2'),
 (4.518907895430811e-05, 'CIP15CERT2'),
 (1.923461808848646e-06, 'PCIP12'),
 (0.0, 'PCIP29'),
 (0.0, 'NANTI'),
 (0.0, 'ICLEVEL'),
 (0.0, 'CURROPER'),
 (0.0, 'CIP54CERT4'),
 (0.0, 'CIP54CERT2'),
 (0.0, 'CIP54ASSOC'),
 (0.0, 'CIP52CERT4'),
 (0.0, 'CIP49CERT4'),
 (0.0, 'CIP49CERT2'),
 (0.0, 'CIP49CERT1'),
 (0.0, 'CIP49ASSOC'),
 (0.0, 'CIP48CERT2'),
 (0.0, 'CIP48CERT1'),
 (0.0, 'CIP48BACHL'),
 (0.0, 'CIP47CERT4'),
 (0.0, 'CIP47CERT1'),
 (0.0, 'CIP47BACHL'),
 (0.0, 'CIP46CERT4'),
 (0.0, 'CIP46CERT2'),
 (0.0, 'CIP46CERT1'),
 (0.0, 'CIP45CERT4'),
 (0.0, 'CIP44CERT4'),
 (0.0, 'CIP43CERT4'),
 (0.0, 'CIP42CERT4'),
 (0.0, 'CIP42CERT2'),
 (0.0, 'CIP41CERT4'),
 (0.0, 'CIP41CERT1'),
 (0.0, 'CIP40CERT4'),
 (0.0, 'CIP40CERT2'),
 (0.0, 'CIP39CERT4'),
 (0.0, 'CIP39CERT1'),
 (0.0, 'CIP38CERT4'),
 (0.0, 'CIP31CERT4'),
 (0.0, 'CIP31CERT2'),
 (0.0, 'CIP31ASSOC'),
 (0.0, 'CIP30CERT4'),
 (0.0, 'CIP29CERT4'),
 (0.0, 'CIP29CERT2'),
 (0.0, 'CIP29ASSOC'),
 (0.0, 'CIP27CERT4'),
 (0.0, 'CIP27CERT2'),
 (0.0, 'CIP27CERT1'),
 (0.0, 'CIP27ASSOC'),
 (0.0, 'CIP26CERT4'),
 (0.0, 'CIP26CERT2'),
 (0.0, 'CIP26ASSOC'),
 (0.0, 'CIP25CERT4'),
 (0.0, 'CIP25CERT2'),
 (0.0, 'CIP25CERT1'),
 (0.0, 'CIP25ASSOC'),
 (0.0, 'CIP24CERT4'),
 (0.0, 'CIP23CERT4'),
 (0.0, 'CIP22CERT4'),
 (0.0, 'CIP22CERT1'),
 (0.0, 'CIP19CERT4'),
 (0.0, 'CIP19CERT2'),
 (0.0, 'CIP19ASSOC'),
 (0.0, 'CIP16CERT4'),
 (0.0, 'CIP15CERT4'),
 (0.0, 'CIP14CERT4'),
 (0.0, 'CIP14ASSOC'),
 (0.0, 'CIP12CERT4'),
 (0.0, 'CIP12CERT2'),
 (0.0, 'CIP12BACHL'),
 (0.0, 'CIP12ASSOC'),
 (0.0, 'CIP10CERT4'),
 (0.0, 'CIP10CERT1'),
 (0.0, 'CIP09CERT4'),
 (0.0, 'CIP09CERT2'),
 (0.0, 'CIP09ASSOC'),
 (0.0, 'CIP05CERT4'),
 (0.0, 'CIP05CERT2'),
 (0.0, 'CIP04CERT4'),
 (0.0, 'CIP04CERT2'),
 (0.0, 'CIP04ASSOC'),
 (0.0, 'CIP03CERT4'),
 (0.0, 'CIP03ASSOC'),
 (0.0, 'CIP01CERT4'),
 (0.0, 'CIP01CERT2'),
 (0.0, 'ANNHI')]

In [95]:
column_list_b = []
for tuple in importance_a:
    if tuple[0] > .01:
        column_list_b.append(tuple[1])
X_a = X[column_list_b]

In [96]:
X_a

,SAT Lower,ACT Lower,Acceptance Rate,PCTPELL,Alumni Salary,INEXPFTE,Total Annual Cost,UGDS_ASIAN,SAT Upper,ACT Upper,...,OPEID6_y,D_PCTPELL_PCTFLOAN,PCIP09,PCIP40,PCIP16,Student Population,UGDS_UNKN,PCIP23,UG12MN,PCIP26
0,990.0,21.0,92.0,0.3632,87200.0,16454.0,36800,0.0633,1370.0,28.0,...,1052,13134.0,0.0375,0.0235,0.0040,20902,0.0058,0.0207,14445.0,0.0876
1,1080.0,25.0,81.0,0.2698,103900.0,9242.0,36881,0.0381,1330.0,31.0,...,1055,7090.0,0.0194,0.0307,0.0170,9101,0.0333,0.0153,8145.0,0.0436
2,1050.0,23.0,53.0,0.1802,97400.0,10770.0,46744,0.0116,1280.0,32.0,...,1051,33196.0,0.0973,0.0114,0.0058,38563,0.0045,0.0093,36237.0,0.0332
3,1130.0,24.0,84.0,0.1537,104500.0,11058.0,49954,0.0236,1310.0,30.0,...,1009,23964.0,0.0566,0.0092,0.0062,29776,0.0036,0.0102,25195.0,0.1108
4,1030.0,23.0,62.0,0.2214,88300.0,10356.0,52414,0.0253,1260.0,29.0,...,1012,1283.0,0.0284,0.0532,0.0106,1325,0.0016,0.0390,1316.0,0.1489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,1150.0,25.0,57.0,0.1661,110000.0,19269.0,41614,0.0853,1380.0,31.0,...,1825,32132.0,0.0224,0.0179,0.0052,42699,0.0200,0.0062,33757.0,0.0293
635,1190.0,23.0,63.0,0.3199,0.0,15861.0,65456,0.0250,1350.0,32.0,...,2093,322.0,0.0000,0.0000,0.0000,386,0.0219,0.0000,365.0,0.0000
636,1190.0,25.0,69.0,0.3222,86500.0,15188.0,43678,0.0334,1380.0,30.0,...,39574,835.0,0.0000,0.0000,0.0508,885,0.0136,0.0000,872.0,0.0000
637,1060.0,21.0,64.0,0.3107,80000.0,6290.0,39434,0.0177,1210.0,25.0,...,32553,13854.0,0.0820,0.0017,0.0000,15317,0.0124,0.0161,15411.0,0.0452
638,910.0,20.0,78.0,0.3173,85600.0,6267.0,28094,0.0318,1130.0,25.0,...,1585,18173.0,0.0275,0.0121,0.0098,20811,0.0092,0.0183,21552.0,0.0380

In [97]:
rf_a.base_estimator_

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [98]:
# Create the RandomizedSearchCV model
from sklearn.model_selection import RandomizedSearchCV# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
#criterion
criterion = ['gini', 'entropy']
# Maximum number of levels in tree
ccp_alpha = [0., 2., 3., 4., 5.]
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
#impurity decrease
impurity_decrease = [0, 1, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4, 8]
# Method of selecting samples for training each tree
bootstrap = [True, False]# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'criterion' : criterion,
               'ccp_alpha' : ccp_alpha,
               'min_impurity_decrease' : impurity_decrease,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
                'oob_score': [True, False]}
random_grid

{'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000],
 'criterion': ['gini', 'entropy'],
 'ccp_alpha': [0.0, 2.0, 3.0, 4.0, 5.0],
 'min_impurity_decrease': [0, 1, 5, 10],
 'max_features': ['auto', 'sqrt'],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'min_samples_split': [2, 5, 10],
 'min_samples_leaf': [1, 2, 4, 8],
 'bootstrap': [True, False],
 'oob_score': [True, False]}

In [99]:
rf_random = RandomizedSearchCV(estimator = rf_a, param_distributions = random_grid, cv = 3, verbose = 2, n_iter = 200,  n_jobs = -1)

In [100]:
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 200 candidates, totalling 600 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    5.3s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:   33.0s
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 600 out of 600 | elapsed:  2.2min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_impurity_decrease': [0, 1, 5, 10],
                                        'min_samples_leaf': [1, 2, 4, 8],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 311, 522, 733,
                                                         944, 1155, 1366, 1577,
                                                         1788, 2000],
                                        'oob_score': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [101]:
rf_random.score(X_test, y_test)

0.5677083333333334

In [102]:
rf_random.best_params_

{'oob_score': False,
 'n_estimators': 522,
 'min_samples_split': 10,
 'min_samples_leaf': 4,
 'min_impurity_decrease': 0,
 'max_features': 'auto',
 'max_depth': 30,
 'criterion': 'gini',
 'ccp_alpha': 0.0,
 'bootstrap': False}

In [103]:
# here we need to choose either 10%_cut or 5%_cut.  Choose 10% first then redo with 5%
y_a = filtered_ranking_4_year_df['10%_cut']
y_a

0      7
1      7
2      3
3      2
4      7
      ..
634    1
635    8
636    4
637    7
638    7
Name: 10%_cut, Length: 639, dtype: int64

In [104]:
X = X_a
y = y_a
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [105]:
rf_a = rf.fit(X_train, y_train)
rf_a.score(X_test, y_test)

0.41875

In [106]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf_a.feature_importances_
importances

array([0.04227933, 0.0346431 , 0.04092625, 0.04725045, 0.04709151,
       0.03673599, 0.02930457, 0.03433597, 0.04052453, 0.0286722 ,
       0.03189845, 0.01700592, 0.02962235, 0.01286013, 0.02457136,
       0.03107952, 0.01886482, 0.02359579, 0.01598701, 0.02126582,
       0.01955517, 0.02243927, 0.01966511, 0.02216026, 0.01377976,
       0.019929  , 0.01895575, 0.02095437, 0.0166157 , 0.02452181,
       0.01525804, 0.01777396, 0.01632287, 0.01587941, 0.01544106,
       0.01860943, 0.01524256, 0.02020609, 0.02216902, 0.01487853,
       0.02112779])

In [107]:
# We can sort the features by their importance
importance_b = sorted(zip(rf.feature_importances_, column_list), reverse=True)
importance_b

[(0.047250452745547136, 'ANNHI'),
 (0.047091514089512065, 'AANAPII'),
 (0.0422793287370425, 'CONTROL'),
 (0.04092625094221879, 'CCUGPROF'),
 (0.04052453140811536, 'PCIP01'),
 (0.036735987824408525, 'NANTI'),
 (0.034643095699351076, 'LOCALE'),
 (0.034335967283249176, 'WOMENONLY'),
 (0.031898445416183675, 'PCIP04'),
 (0.031079516819717604, 'PCIP12'),
 (0.029622348896759458, 'PCIP09'),
 (0.02930457291613014, 'MENONLY'),
 (0.028672195295115534, 'PCIP03'),
 (0.024571359379732104, 'PCIP11'),
 (0.024521813093312122, 'PCIP31'),
 (0.023595790731238266, 'PCIP14'),
 (0.022439267919744262, 'PCIP22'),
 (0.02216901660635148, 'PCIP46'),
 (0.02216025597354039, 'PCIP24'),
 (0.021265820186952344, 'PCIP16'),
 (0.02112778678587268, 'PCIP48'),
 (0.02095437427853515, 'PCIP29'),
 (0.020206085157377915, 'PCIP45'),
 (0.01992899887464444, 'PCIP26'),
 (0.019665112339312306, 'PCIP23'),
 (0.01955516993474703, 'PCIP19'),
 (0.018955752831123114, 'PCIP27'),
 (0.018864815649758587, 'PCIP13'),
 (0.018609433353632177, 'PCIP43'),
 (0.01777395746041134, 'PCIP39'),
 (0.017005921605733772, 'PCIP05'),
 (0.016615700779254526, 'PCIP30'),
 (0.016322873376447954, 'PCIP40'),
 (0.015987009491071517, 'PCIP15'),
 (0.015879406124121018, 'PCIP41'),
 (0.01544106053241673, 'PCIP42'),
 (0.015258036380015737, 'PCIP38'),
 (0.01524255523651768, 'PCIP44'),
 (0.014878528211733442, 'PCIP47'),
 (0.01377976052106702, 'PCIP25'),
 (0.012860129111983878, 'PCIP10')]