In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from numpy import nan
import matplotlib.pyplot as plt

In [2]:
input_file = 'most-recent-cohorts-all-data-elements-1.csv'
column_template = 'column_heading_template.csv'
forbes_data = 'ForbesFrom MAtt.csv'
#there were simply too many wierd columns in the original data set of columns.  I went in and deleted several
#in the master excel file and regenerated the column template.
column_template_2 = 'column_heading_template_3.csv'
path = './data/'
path2 = './data_documentation/'

In [3]:
df = pd.read_csv(path+input_file, low_memory=False)

In [4]:
df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343.0,1165.0,1288.0,2.0,0.7083,0.7287,2698.0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445.0,10498.0,2228.0,2.0,0.3891,0.5414,4176.0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440.0,527.0,5.0,4.0,PrivacySuppressed,PrivacySuppressed,24.0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145.0,2443.0,1341.0,2.0,0.2378,0.4402,2544.0
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732.0,642.0,951.0,2.0,0.7684,0.7464,2094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,Southern Association of Colleges and Schools C...,https://www.gmc.edu/index.cms,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,National Accrediting Commission of Career Arts...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,Accrediting Commission of Career Schools and C...,www.hci.edu/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,Council on Occupational Education,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.loc[1,'UNITID']

100663

In [6]:
len(df)

6806

In [7]:
df.replace(to_replace = 'PrivacySuppressed', value = nan, inplace = True)

In [8]:
df.loc[df['OPEID6'] == 21997, 'MN_EARN_WNE_P8']

23    NaN
Name: MN_EARN_WNE_P8, dtype: object

In [9]:
column_heading_df = pd.read_csv(path2 + column_template_2)

In [10]:
column_heading_df

,dev-category,NAME OF DATA ELEMENT,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL
0,academics,"Percentage of degrees awarded in Agriculture, ...",program_percentage.agriculture,float,PCIP01,(blank),"Agriculture, Agriculture Operations, and Relat..."
1,academics,Percentage of degrees awarded in Architecture ...,program_percentage.architecture,float,PCIP04,(blank),Architecture and Related Services
2,academics,"Percentage of degrees awarded in Area, Ethnic,...",program_percentage.ethnic_cultural_gender,float,PCIP05,(blank),"Area, Ethnic, Cultural, Gender, and Group Studies"
3,academics,Percentage of degrees awarded in Biological An...,program_percentage.biological,float,PCIP26,(blank),Biological and Biomedical Sciences
4,academics,"Percentage of degrees awarded in Business, Man...",program_percentage.business_marketing,float,PCIP52,(blank),"Business, Management, Marketing, and Related S..."
...,...,...,...,...,...,...,...
183,student,Total share of enrollment of undergraduate stu...,demographics.race_ethnicity.hispanic_2000,float,UG_HISPOLD,(blank),(blank)
184,student,Total share of enrollment of undergraduate stu...,demographics.non_resident_aliens_2000,float,UG_NRA,(blank),(blank)
185,student,Total share of enrollment of undergraduate stu...,demographics.race_ethnicity.white_2000,float,UG_WHITENH,(blank),(blank)
186,student,Total share of enrollment of undergraduate stu...,demographics.race_ethnicity.unknown_2000,float,UG_UNKN,(blank),(blank)
187,student,"Unemployment rate, via Census data",demographics.unemployment,float,UNEMP_RATE,(blank),(blank)

In [11]:
complete_variable_name_list = df.columns.to_list()
complete_variable_name_list

['UNITID',
 'OPEID',
 'OPEID6',
 'INSTNM',
 'CITY',
 'STABBR',
 'ZIP',
 'ACCREDAGENCY',
 'INSTURL',
 'NPCURL',
 'SCH_DEG',
 'HCM2',
 'MAIN',
 'NUMBRANCH',
 'PREDDEG',
 'HIGHDEG',
 'CONTROL',
 'ST_FIPS',
 'REGION',
 'LOCALE',
 'LOCALE2',
 'LATITUDE',
 'LONGITUDE',
 'CCBASIC',
 'CCUGPROF',
 'CCSIZSET',
 'HBCU',
 'PBI',
 'ANNHI',
 'TRIBAL',
 'AANAPII',
 'HSI',
 'NANTI',
 'MENONLY',
 'WOMENONLY',
 'RELAFFIL',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'SATWR25',
 'SATWR75',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCM25',
 'ACTCM75',
 'ACTEN25',
 'ACTEN75',
 'ACTMT25',
 'ACTMT75',
 'ACTWR25',
 'ACTWR75',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'CIP01CERT1',
 'CIP01CERT2',
 'CIP01ASSOC',
 'CIP01CERT4',
 'CIP01BACHL',
 'CIP03CERT1',
 'CIP03CERT2',
 'CIP03ASSOC',
 'CIP03CERT4',
 'CIP03BACHL',
 'CIP04CERT1',
 'CIP04CERT2',
 'CIP04ASSOC',
 'CIP04CERT4',
 'CIP04BACHL',
 'CIP05CERT1',
 'CIP05CERT2',
 'CIP05ASSOC',
 'CIP05CERT4',
 'CIP05BACHL',
 'CIP09CERT1',
 'CIP09CERT2',
 'CIP09ASSOC',
 'CIP09CERT4',
 'CIP09BACHL',
 'CIP10CERT1',
 'CIP10CERT2',
 'CIP10ASSOC',
 'CIP10CERT4',
 'CIP10BACHL',
 'CIP11CERT1',
 'CIP11CERT2',
 'CIP11ASSOC',
 'CIP11CERT4',
 'CIP11BACHL',
 'CIP12CERT1',
 'CIP12CERT2',
 'CIP12ASSOC',
 'CIP12CERT4',
 'CIP12BACHL',
 'CIP13CERT1',
 'CIP13CERT2',
 'CIP13ASSOC',
 'CIP13CERT4',
 'CIP13BACHL',
 'CIP14CERT1',
 'CIP14CERT2',
 'CIP14ASSOC',
 'CIP14CERT4',
 'CIP14BACHL',
 'CIP15CERT1',
 'CIP15CERT2',
 'CIP15ASSOC',
 'CIP15CERT4',
 'CIP15BACHL',
 'CIP16CERT1',
 'CIP16CERT2',
 'CIP16ASSOC',
 'CIP16CERT4',
 'CIP16BACHL',
 'CIP19CERT1',
 'CIP19CERT2',
 'CIP19ASSOC',
 'CIP19CERT4',
 'CIP19BACHL',
 'CIP22CERT1',
 'CIP22CERT2',
 'CIP22ASSOC',
 'CIP22CERT4',
 'CIP22BACHL',
 'CIP23CERT1',
 'CIP23CERT2',
 'CIP23ASSOC',
 'CIP23CERT4',
 'CIP23BACHL',
 'CIP24CERT1',
 'CIP24CERT2',
 'CIP24ASSOC',
 'CIP24CERT4',
 'CIP24BACHL',
 'CIP25CERT1',
 'CIP25CERT2',
 'CIP25ASSOC',
 'CIP25CERT4',
 'CIP25BACHL',
 'CIP26CERT1',
 'CIP26CERT2',
 'CIP26ASSOC',
 'CIP26CERT4',
 'CIP26BACHL',
 'CIP27CERT1',
 'CIP27CERT2',
 'CIP27ASSOC',
 'CIP27CERT4',
 'CIP27BACHL',
 'CIP29CERT1',
 'CIP29CERT2',
 'CIP29ASSOC',
 'CIP29CERT4',
 'CIP29BACHL',
 'CIP30CERT1',
 'CIP30CERT2',
 'CIP30ASSOC',
 'CIP30CERT4',
 'CIP30BACHL',
 'CIP31CERT1',
 'CIP31CERT2',
 'CIP31ASSOC',
 'CIP31CERT4',
 'CIP31BACHL',
 'CIP38CERT1',
 'CIP38CERT2',
 'CIP38ASSOC',
 'CIP38CERT4',
 'CIP38BACHL',
 'CIP39CERT1',
 'CIP39CERT2',
 'CIP39ASSOC',
 'CIP39CERT4',
 'CIP39BACHL',
 'CIP40CERT1',
 'CIP40CERT2',
 'CIP40ASSOC',
 'CIP40CERT4',
 'CIP40BACHL',
 'CIP41CERT1',
 'CIP41CERT2',
 'CIP41ASSOC',
 'CIP41CERT4',
 'CIP41BACHL',
 'CIP42CERT1',
 'CIP42CERT2',
 'CIP42ASSOC',
 'CIP42CERT4',
 'CIP42BACHL',
 'CIP43CERT1',
 'CIP43CERT2',
 'CIP43ASSOC',
 'CIP43CERT4',
 'CIP43BACHL',
 'CIP44CERT1',
 'CIP44CERT2',
 'CIP44ASSOC',
 'CIP44CERT4',
 'CIP44BACHL',
 'CIP45CERT1',
 'CIP45CERT2',
 'CIP45ASSOC',
 'CIP45CERT4',
 'CIP45BACHL',
 'CIP46CERT1',
 'CIP46CERT2',
 'CIP46ASSOC',
 'CIP46CERT4',
 'CIP46BACHL',
 'CIP47CERT1',
 'CIP47CERT2',
 'CIP47ASSOC',
 'CIP47CERT4',
 'CIP47BACHL',
 'CIP48CERT1',
 'CIP48CERT2',
 'CIP48ASSOC',
 'CIP48CERT4',
 'CIP48BACHL',
 'CIP49CERT1',
 'CIP49CERT2',
 'CIP49ASSOC',
 'CIP49CERT4',
 'CIP49BACHL',
 'CIP50CERT1',
 'CIP50CERT2',
 'CIP50ASSOC',
 'CIP50CERT4',
 'CIP50BACHL',
 'CIP51CERT1',
 'CIP51CERT2',
 'CIP51ASSOC',
 'CIP51CERT4',
 'CIP51BACHL',
 'CIP52CERT1',
 'CIP52CERT2',
 'CIP52ASSOC',
 'CIP52CERT4',
 'CIP52BACHL',
 'CIP54CERT1',
 'CIP54CERT2',
 'CIP54ASSOC',
 'CIP54CERT4',
 'CIP54BACHL',
 'DISTANCEONLY',
 'UGDS',
 'UG',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITENH',
 'UGDS_BLACKNH',
 'UGDS_API',
 'UGDS_AIANOLD',
 'UGDS_HISPOLD',
 'UG_NRA',
 'UG_UNKN',
 'UG_WHITENH',
 'UG_BLACKNH',
 'UG_API',
 'UG_AIANOLD',
 'UG_HISPOLD',
 'PPTUG_EF',
 'PPTUG_EF2',
 'CURROPER',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT41_PUB',
 'NPT42_PUB',
 'NPT43_PUB',
 'NPT44_PUB',
 'NPT45_PUB',
 'NPT41_PRIV',
 'NPT42_PRIV',
 'NPT43_PRIV',
 'NPT44_PRIV',
 'NPT45_PRIV',
 'NPT41_PROG',
 'NPT42_PROG',
 'NPT43_PROG',
 'NPT44_PROG',
 'NPT45_PROG',
 'NPT41_OTHER',
 'NPT42_OTHER',
 'NPT43_OTHER',
 'NPT44_OTHER',
 'NPT45_OTHER',
 'NPT4_048_PUB',
 'NPT4_048_PRIV',
 'NPT4_048_PROG',
 'NPT4_048_OTHER',
 'NPT4_3075_PUB',
 'NPT4_3075_PRIV',
 'NPT4_75UP_PUB',
 'NPT4_75UP_PRIV',
 'NPT4_3075_PROG',
 'NPT4_3075_OTHER',
 'NPT4_75UP_PROG',
 'NPT4_75UP_OTHER',
 'NUM4_PUB',
 'NUM4_PRIV',
 'NUM4_PROG',
 'NUM4_OTHER',
 'NUM41_PUB',
 'NUM42_PUB',
 'NUM43_PUB',
 'NUM44_PUB',
 'NUM45_PUB',
 'NUM41_PRIV',
 'NUM42_PRIV',
 'NUM43_PRIV',
 'NUM44_PRIV',
 'NUM45_PRIV',
 'NUM41_PROG',
 'NUM42_PROG',
 'NUM43_PROG',
 'NUM44_PROG',
 'NUM45_PROG',
 'NUM41_OTHER',
 'NUM42_OTHER',
 'NUM43_OTHER',
 'NUM44_OTHER',
 'NUM45_OTHER',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'PCTPELL',
 'C150_4',
 'C150_L4',
 'C150_4_POOLED',
 'C150_L4_POOLED',
 'POOLYRS',
 'PFTFTUG1_EF',
 'D150_4',
 'D150_L4',
 'D150_4_POOLED',
 'D150_L4_POOLED',
 'C150_4_WHITE',
 'C150_4_BLACK',
 'C150_4_HISP',
 'C150_4_ASIAN',
 'C150_4_AIAN',
 'C150_4_NHPI',
 'C150_4_2MOR',
 'C150_4_NRA',
 'C150_4_UNKN',
 'C150_4_WHITENH',
 'C150_4_BLACKNH',
 'C150_4_API',
 'C150_4_AIANOLD',
 'C150_4_HISPOLD',
 'C150_L4_WHITE',
 'C150_L4_BLACK',
 'C150_L4_HISP',
 'C150_L4_ASIAN',
 'C150_L4_AIAN',
 'C150_L4_NHPI',
 'C150_L4_2MOR',
 'C150_L4_NRA',
 'C150_L4_UNKN',
 'C150_L4_WHITENH',
 'C150_L4_BLACKNH',
 'C150_L4_API',
 'C150_L4_AIANOLD',
 'C150_L4_HISPOLD',
 'C200_4',
 'C200_L4',
 'D200_4',
 'D200_L4',
 'RET_FT4',
 'RET_FTL4',
 'RET_PT4',
 'RET_PTL4',
 'C200_4_POOLED',
 'C200_L4_POOLED',
 'POOLYRS200',
 'D200_4_POOLED',
 'D200_L4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'CDR2',
 'CDR3',
 'DEATH_YR2_RT',
 'COMP_ORIG_YR2_RT',
 'COMP_4YR_TRANS_YR2_RT',
 'COMP_2YR_TRANS_YR2_RT',
 'WDRAW_ORIG_YR2_RT',
 'WDRAW_4YR_TRANS_YR2_RT',
 'WDRAW_2YR_TRANS_YR2_RT',
 'ENRL_ORIG_YR2_RT',
 'ENRL_4YR_TRANS_YR2_RT',
 'ENRL_2YR_TRANS_YR2_RT',
 'UNKN_ORIG_YR2_RT',
 'UNKN_4YR_TRANS_YR2_RT',
 'UNKN_2YR_TRANS_YR2_RT',
 'LO_INC_DEATH_YR2_RT',
 'LO_INC_COMP_ORIG_YR2_RT',
 'LO_INC_COMP_4YR_TRANS_YR2_RT',
 'LO_INC_COMP_2YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_ORIG_YR2_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR2_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR2_RT',
 'LO_INC_ENRL_ORIG_YR2_RT',
 'LO_INC_ENRL_4YR_TRANS_YR2_RT',
 'LO_INC_ENRL_2YR_TRANS_YR2_RT',
 'LO_INC_UNKN_ORIG_YR2_RT',
 'LO_INC_UNKN_4YR_TRANS_YR2_RT',
 'LO_INC_UNKN_2YR_TRANS_YR2_RT',
 'MD_INC_DEATH_YR2_RT',
 'MD_INC_COMP_ORIG_YR2_RT',
 'MD_INC_COMP_4YR_TRANS_YR2_RT',
 'MD_INC_COMP_2YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_ORIG_YR2_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR2_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR2_RT',
 'MD_INC_ENRL_ORIG_YR2_RT',
 'MD_INC_ENRL_4YR_TRANS_YR2_RT',
 'MD_INC_ENRL_2YR_TRANS_YR2_RT',
 'MD_INC_UNKN_ORIG_YR2_RT',
 'MD_INC_UNKN_4YR_TRANS_YR2_RT',
 'MD_INC_UNKN_2YR_TRANS_YR2_RT',
 'HI_INC_DEATH_YR2_RT',
 'HI_INC_COMP_ORIG_YR2_RT',
 'HI_INC_COMP_4YR_TRANS_YR2_RT',
 'HI_INC_COMP_2YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_ORIG_YR2_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR2_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR2_RT',
 'HI_INC_ENRL_ORIG_YR2_RT',
 'HI_INC_ENRL_4YR_TRANS_YR2_RT',
 'HI_INC_ENRL_2YR_TRANS_YR2_RT',
 'HI_INC_UNKN_ORIG_YR2_RT',
 'HI_INC_UNKN_4YR_TRANS_YR2_RT',
 'HI_INC_UNKN_2YR_TRANS_YR2_RT',
 'DEP_DEATH_YR2_RT',
 'DEP_COMP_ORIG_YR2_RT',
 'DEP_COMP_4YR_TRANS_YR2_RT',
 'DEP_COMP_2YR_TRANS_YR2_RT',
 'DEP_WDRAW_ORIG_YR2_RT',
 'DEP_WDRAW_4YR_TRANS_YR2_RT',
 'DEP_WDRAW_2YR_TRANS_YR2_RT',
 'DEP_ENRL_ORIG_YR2_RT',
 'DEP_ENRL_4YR_TRANS_YR2_RT',
 'DEP_ENRL_2YR_TRANS_YR2_RT',
 'DEP_UNKN_ORIG_YR2_RT',
 'DEP_UNKN_4YR_TRANS_YR2_RT',
 'DEP_UNKN_2YR_TRANS_YR2_RT',
 'IND_DEATH_YR2_RT',
 'IND_COMP_ORIG_YR2_RT',
 'IND_COMP_4YR_TRANS_YR2_RT',
 'IND_COMP_2YR_TRANS_YR2_RT',
 'IND_WDRAW_ORIG_YR2_RT',
 'IND_WDRAW_4YR_TRANS_YR2_RT',
 'IND_WDRAW_2YR_TRANS_YR2_RT',
 'IND_ENRL_ORIG_YR2_RT',
 'IND_ENRL_4YR_TRANS_YR2_RT',
 'IND_ENRL_2YR_TRANS_YR2_RT',
 'IND_UNKN_ORIG_YR2_RT',
 'IND_UNKN_4YR_TRANS_YR2_RT',
 'IND_UNKN_2YR_TRANS_YR2_RT',
 'FEMALE_DEATH_YR2_RT',
 'FEMALE_COMP_ORIG_YR2_RT',
 'FEMALE_COMP_4YR_TRANS_YR2_RT',
 'FEMALE_COMP_2YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_ORIG_YR2_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR2_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR2_RT',
 'FEMALE_ENRL_ORIG_YR2_RT',
 'FEMALE_ENRL_4YR_TRANS_YR2_RT',
 'FEMALE_ENRL_2YR_TRANS_YR2_RT',
 'FEMALE_UNKN_ORIG_YR2_RT',
 'FEMALE_UNKN_4YR_TRANS_YR2_RT',
 'FEMALE_UNKN_2YR_TRANS_YR2_RT',
 'MALE_DEATH_YR2_RT',
 'MALE_COMP_ORIG_YR2_RT',
 'MALE_COMP_4YR_TRANS_YR2_RT',
 'MALE_COMP_2YR_TRANS_YR2_RT',
 'MALE_WDRAW_ORIG_YR2_RT',
 'MALE_WDRAW_4YR_TRANS_YR2_RT',
 'MALE_WDRAW_2YR_TRANS_YR2_RT',
 'MALE_ENRL_ORIG_YR2_RT',
 'MALE_ENRL_4YR_TRANS_YR2_RT',
 'MALE_ENRL_2YR_TRANS_YR2_RT',
 'MALE_UNKN_ORIG_YR2_RT',
 'MALE_UNKN_4YR_TRANS_YR2_RT',
 'MALE_UNKN_2YR_TRANS_YR2_RT',
 'PELL_DEATH_YR2_RT',
 'PELL_COMP_ORIG_YR2_RT',
 'PELL_COMP_4YR_TRANS_YR2_RT',
 'PELL_COMP_2YR_TRANS_YR2_RT',
 'PELL_WDRAW_ORIG_YR2_RT',
 'PELL_WDRAW_4YR_TRANS_YR2_RT',
 'PELL_WDRAW_2YR_TRANS_YR2_RT',
 'PELL_ENRL_ORIG_YR2_RT',
 'PELL_ENRL_4YR_TRANS_YR2_RT',
 'PELL_ENRL_2YR_TRANS_YR2_RT',
 'PELL_UNKN_ORIG_YR2_RT',
 'PELL_UNKN_4YR_TRANS_YR2_RT',
 'PELL_UNKN_2YR_TRANS_YR2_RT',
 'NOPELL_DEATH_YR2_RT',
 'NOPELL_COMP_ORIG_YR2_RT',
 'NOPELL_COMP_4YR_TRANS_YR2_RT',
 'NOPELL_COMP_2YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_ORIG_YR2_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR2_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR2_RT',
 'NOPELL_ENRL_ORIG_YR2_RT',
 'NOPELL_ENRL_4YR_TRANS_YR2_RT',
 'NOPELL_ENRL_2YR_TRANS_YR2_RT',
 'NOPELL_UNKN_ORIG_YR2_RT',
 'NOPELL_UNKN_4YR_TRANS_YR2_RT',
 'NOPELL_UNKN_2YR_TRANS_YR2_RT',
 'LOAN_DEATH_YR2_RT',
 'LOAN_COMP_ORIG_YR2_RT',
 'LOAN_COMP_4YR_TRANS_YR2_RT',
 'LOAN_COMP_2YR_TRANS_YR2_RT',
 'LOAN_WDRAW_ORIG_YR2_RT',
 'LOAN_WDRAW_4YR_TRANS_YR2_RT',
 'LOAN_WDRAW_2YR_TRANS_YR2_RT',
 'LOAN_ENRL_ORIG_YR2_RT',
 'LOAN_ENRL_4YR_TRANS_YR2_RT',
 'LOAN_ENRL_2YR_TRANS_YR2_RT',
 'LOAN_UNKN_ORIG_YR2_RT',
 'LOAN_UNKN_4YR_TRANS_YR2_RT',
 'LOAN_UNKN_2YR_TRANS_YR2_RT',
 'NOLOAN_DEATH_YR2_RT',
 'NOLOAN_COMP_ORIG_YR2_RT',
 'NOLOAN_COMP_4YR_TRANS_YR2_RT',
 'NOLOAN_COMP_2YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_ORIG_YR2_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR2_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_ORIG_YR2_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR2_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_ORIG_YR2_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR2_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR2_RT',
 'FIRSTGEN_DEATH_YR2_RT',
 'FIRSTGEN_COMP_ORIG_YR2_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR2_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_ORIG_YR2_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR2_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_ORIG_YR2_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR2_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_ORIG_YR2_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR2_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR2_RT',
 'NOT1STGEN_DEATH_YR2_RT',
 'NOT1STGEN_COMP_ORIG_YR2_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR2_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_ORIG_YR2_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR2_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_ORIG_YR2_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR2_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_ORIG_YR2_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR2_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR2_RT',
 'DEATH_YR3_RT',
 'COMP_ORIG_YR3_RT',
 'COMP_4YR_TRANS_YR3_RT',
 'COMP_2YR_TRANS_YR3_RT',
 'WDRAW_ORIG_YR3_RT',
 'WDRAW_4YR_TRANS_YR3_RT',
 'WDRAW_2YR_TRANS_YR3_RT',
 'ENRL_ORIG_YR3_RT',
 'ENRL_4YR_TRANS_YR3_RT',
 'ENRL_2YR_TRANS_YR3_RT',
 'UNKN_ORIG_YR3_RT',
 'UNKN_4YR_TRANS_YR3_RT',
 'UNKN_2YR_TRANS_YR3_RT',
 'LO_INC_DEATH_YR3_RT',
 'LO_INC_COMP_ORIG_YR3_RT',
 'LO_INC_COMP_4YR_TRANS_YR3_RT',
 'LO_INC_COMP_2YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_ORIG_YR3_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR3_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR3_RT',
 'LO_INC_ENRL_ORIG_YR3_RT',
 'LO_INC_ENRL_4YR_TRANS_YR3_RT',
 'LO_INC_ENRL_2YR_TRANS_YR3_RT',
 'LO_INC_UNKN_ORIG_YR3_RT',
 'LO_INC_UNKN_4YR_TRANS_YR3_RT',
 'LO_INC_UNKN_2YR_TRANS_YR3_RT',
 'MD_INC_DEATH_YR3_RT',
 'MD_INC_COMP_ORIG_YR3_RT',
 'MD_INC_COMP_4YR_TRANS_YR3_RT',
 'MD_INC_COMP_2YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_ORIG_YR3_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR3_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR3_RT',
 'MD_INC_ENRL_ORIG_YR3_RT',
 'MD_INC_ENRL_4YR_TRANS_YR3_RT',
 'MD_INC_ENRL_2YR_TRANS_YR3_RT',
 'MD_INC_UNKN_ORIG_YR3_RT',
 'MD_INC_UNKN_4YR_TRANS_YR3_RT',
 'MD_INC_UNKN_2YR_TRANS_YR3_RT',
 'HI_INC_DEATH_YR3_RT',
 'HI_INC_COMP_ORIG_YR3_RT',
 'HI_INC_COMP_4YR_TRANS_YR3_RT',
 'HI_INC_COMP_2YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_ORIG_YR3_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR3_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR3_RT',
 'HI_INC_ENRL_ORIG_YR3_RT',
 'HI_INC_ENRL_4YR_TRANS_YR3_RT',
 'HI_INC_ENRL_2YR_TRANS_YR3_RT',
 'HI_INC_UNKN_ORIG_YR3_RT',
 'HI_INC_UNKN_4YR_TRANS_YR3_RT',
 'HI_INC_UNKN_2YR_TRANS_YR3_RT',
 'DEP_DEATH_YR3_RT',
 'DEP_COMP_ORIG_YR3_RT',
 'DEP_COMP_4YR_TRANS_YR3_RT',
 'DEP_COMP_2YR_TRANS_YR3_RT',
 'DEP_WDRAW_ORIG_YR3_RT',
 'DEP_WDRAW_4YR_TRANS_YR3_RT',
 'DEP_WDRAW_2YR_TRANS_YR3_RT',
 'DEP_ENRL_ORIG_YR3_RT',
 'DEP_ENRL_4YR_TRANS_YR3_RT',
 'DEP_ENRL_2YR_TRANS_YR3_RT',
 'DEP_UNKN_ORIG_YR3_RT',
 'DEP_UNKN_4YR_TRANS_YR3_RT',
 'DEP_UNKN_2YR_TRANS_YR3_RT',
 'IND_DEATH_YR3_RT',
 'IND_COMP_ORIG_YR3_RT',
 'IND_COMP_4YR_TRANS_YR3_RT',
 'IND_COMP_2YR_TRANS_YR3_RT',
 'IND_WDRAW_ORIG_YR3_RT',
 'IND_WDRAW_4YR_TRANS_YR3_RT',
 'IND_WDRAW_2YR_TRANS_YR3_RT',
 'IND_ENRL_ORIG_YR3_RT',
 'IND_ENRL_4YR_TRANS_YR3_RT',
 'IND_ENRL_2YR_TRANS_YR3_RT',
 'IND_UNKN_ORIG_YR3_RT',
 'IND_UNKN_4YR_TRANS_YR3_RT',
 'IND_UNKN_2YR_TRANS_YR3_RT',
 'FEMALE_DEATH_YR3_RT',
 'FEMALE_COMP_ORIG_YR3_RT',
 'FEMALE_COMP_4YR_TRANS_YR3_RT',
 'FEMALE_COMP_2YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_ORIG_YR3_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR3_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR3_RT',
 'FEMALE_ENRL_ORIG_YR3_RT',
 'FEMALE_ENRL_4YR_TRANS_YR3_RT',
 'FEMALE_ENRL_2YR_TRANS_YR3_RT',
 'FEMALE_UNKN_ORIG_YR3_RT',
 'FEMALE_UNKN_4YR_TRANS_YR3_RT',
 'FEMALE_UNKN_2YR_TRANS_YR3_RT',
 'MALE_DEATH_YR3_RT',
 'MALE_COMP_ORIG_YR3_RT',
 'MALE_COMP_4YR_TRANS_YR3_RT',
 'MALE_COMP_2YR_TRANS_YR3_RT',
 'MALE_WDRAW_ORIG_YR3_RT',
 'MALE_WDRAW_4YR_TRANS_YR3_RT',
 'MALE_WDRAW_2YR_TRANS_YR3_RT',
 'MALE_ENRL_ORIG_YR3_RT',
 'MALE_ENRL_4YR_TRANS_YR3_RT',
 'MALE_ENRL_2YR_TRANS_YR3_RT',
 'MALE_UNKN_ORIG_YR3_RT',
 'MALE_UNKN_4YR_TRANS_YR3_RT',
 'MALE_UNKN_2YR_TRANS_YR3_RT',
 'PELL_DEATH_YR3_RT',
 'PELL_COMP_ORIG_YR3_RT',
 'PELL_COMP_4YR_TRANS_YR3_RT',
 'PELL_COMP_2YR_TRANS_YR3_RT',
 'PELL_WDRAW_ORIG_YR3_RT',
 'PELL_WDRAW_4YR_TRANS_YR3_RT',
 'PELL_WDRAW_2YR_TRANS_YR3_RT',
 'PELL_ENRL_ORIG_YR3_RT',
 'PELL_ENRL_4YR_TRANS_YR3_RT',
 'PELL_ENRL_2YR_TRANS_YR3_RT',
 'PELL_UNKN_ORIG_YR3_RT',
 'PELL_UNKN_4YR_TRANS_YR3_RT',
 'PELL_UNKN_2YR_TRANS_YR3_RT',
 'NOPELL_DEATH_YR3_RT',
 'NOPELL_COMP_ORIG_YR3_RT',
 'NOPELL_COMP_4YR_TRANS_YR3_RT',
 'NOPELL_COMP_2YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_ORIG_YR3_RT',
 'NOPELL_WDRAW_4YR_TRANS_YR3_RT',
 'NOPELL_WDRAW_2YR_TRANS_YR3_RT',
 'NOPELL_ENRL_ORIG_YR3_RT',
 'NOPELL_ENRL_4YR_TRANS_YR3_RT',
 'NOPELL_ENRL_2YR_TRANS_YR3_RT',
 'NOPELL_UNKN_ORIG_YR3_RT',
 'NOPELL_UNKN_4YR_TRANS_YR3_RT',
 'NOPELL_UNKN_2YR_TRANS_YR3_RT',
 'LOAN_DEATH_YR3_RT',
 'LOAN_COMP_ORIG_YR3_RT',
 'LOAN_COMP_4YR_TRANS_YR3_RT',
 'LOAN_COMP_2YR_TRANS_YR3_RT',
 'LOAN_WDRAW_ORIG_YR3_RT',
 'LOAN_WDRAW_4YR_TRANS_YR3_RT',
 'LOAN_WDRAW_2YR_TRANS_YR3_RT',
 'LOAN_ENRL_ORIG_YR3_RT',
 'LOAN_ENRL_4YR_TRANS_YR3_RT',
 'LOAN_ENRL_2YR_TRANS_YR3_RT',
 'LOAN_UNKN_ORIG_YR3_RT',
 'LOAN_UNKN_4YR_TRANS_YR3_RT',
 'LOAN_UNKN_2YR_TRANS_YR3_RT',
 'NOLOAN_DEATH_YR3_RT',
 'NOLOAN_COMP_ORIG_YR3_RT',
 'NOLOAN_COMP_4YR_TRANS_YR3_RT',
 'NOLOAN_COMP_2YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_ORIG_YR3_RT',
 'NOLOAN_WDRAW_4YR_TRANS_YR3_RT',
 'NOLOAN_WDRAW_2YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_ORIG_YR3_RT',
 'NOLOAN_ENRL_4YR_TRANS_YR3_RT',
 'NOLOAN_ENRL_2YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_ORIG_YR3_RT',
 'NOLOAN_UNKN_4YR_TRANS_YR3_RT',
 'NOLOAN_UNKN_2YR_TRANS_YR3_RT',
 'FIRSTGEN_DEATH_YR3_RT',
 'FIRSTGEN_COMP_ORIG_YR3_RT',
 'FIRSTGEN_COMP_4YR_TRANS_YR3_RT',
 'FIRSTGEN_COMP_2YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_ORIG_YR3_RT',
 'FIRSTGEN_WDRAW_4YR_TRANS_YR3_RT',
 'FIRSTGEN_WDRAW_2YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_ORIG_YR3_RT',
 'FIRSTGEN_ENRL_4YR_TRANS_YR3_RT',
 'FIRSTGEN_ENRL_2YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_ORIG_YR3_RT',
 'FIRSTGEN_UNKN_4YR_TRANS_YR3_RT',
 'FIRSTGEN_UNKN_2YR_TRANS_YR3_RT',
 'NOT1STGEN_DEATH_YR3_RT',
 'NOT1STGEN_COMP_ORIG_YR3_RT',
 'NOT1STGEN_COMP_4YR_TRANS_YR3_RT',
 'NOT1STGEN_COMP_2YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_ORIG_YR3_RT',
 'NOT1STGEN_WDRAW_4YR_TRANS_YR3_RT',
 'NOT1STGEN_WDRAW_2YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_ORIG_YR3_RT',
 'NOT1STGEN_ENRL_4YR_TRANS_YR3_RT',
 'NOT1STGEN_ENRL_2YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_ORIG_YR3_RT',
 'NOT1STGEN_UNKN_4YR_TRANS_YR3_RT',
 'NOT1STGEN_UNKN_2YR_TRANS_YR3_RT',
 'DEATH_YR4_RT',
 'COMP_ORIG_YR4_RT',
 'COMP_4YR_TRANS_YR4_RT',
 'COMP_2YR_TRANS_YR4_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_4YR_TRANS_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'ENRL_ORIG_YR4_RT',
 'ENRL_4YR_TRANS_YR4_RT',
 'ENRL_2YR_TRANS_YR4_RT',
 'UNKN_ORIG_YR4_RT',
 'UNKN_4YR_TRANS_YR4_RT',
 'UNKN_2YR_TRANS_YR4_RT',
 'LO_INC_DEATH_YR4_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_COMP_4YR_TRANS_YR4_RT',
 'LO_INC_COMP_2YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR4_RT',
 'LO_INC_WDRAW_4YR_TRANS_YR4_RT',
 'LO_INC_WDRAW_2YR_TRANS_YR4_RT',
 'LO_INC_ENRL_ORIG_YR4_RT',
 'LO_INC_ENRL_4YR_TRANS_YR4_RT',
 'LO_INC_ENRL_2YR_TRANS_YR4_RT',
 'LO_INC_UNKN_ORIG_YR4_RT',
 'LO_INC_UNKN_4YR_TRANS_YR4_RT',
 'LO_INC_UNKN_2YR_TRANS_YR4_RT',
 'MD_INC_DEATH_YR4_RT',
 'MD_INC_COMP_ORIG_YR4_RT',
 'MD_INC_COMP_4YR_TRANS_YR4_RT',
 'MD_INC_COMP_2YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_ORIG_YR4_RT',
 'MD_INC_WDRAW_4YR_TRANS_YR4_RT',
 'MD_INC_WDRAW_2YR_TRANS_YR4_RT',
 'MD_INC_ENRL_ORIG_YR4_RT',
 'MD_INC_ENRL_4YR_TRANS_YR4_RT',
 'MD_INC_ENRL_2YR_TRANS_YR4_RT',
 'MD_INC_UNKN_ORIG_YR4_RT',
 'MD_INC_UNKN_4YR_TRANS_YR4_RT',
 'MD_INC_UNKN_2YR_TRANS_YR4_RT',
 'HI_INC_DEATH_YR4_RT',
 'HI_INC_COMP_ORIG_YR4_RT',
 'HI_INC_COMP_4YR_TRANS_YR4_RT',
 'HI_INC_COMP_2YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_ORIG_YR4_RT',
 'HI_INC_WDRAW_4YR_TRANS_YR4_RT',
 'HI_INC_WDRAW_2YR_TRANS_YR4_RT',
 'HI_INC_ENRL_ORIG_YR4_RT',
 'HI_INC_ENRL_4YR_TRANS_YR4_RT',
 'HI_INC_ENRL_2YR_TRANS_YR4_RT',
 'HI_INC_UNKN_ORIG_YR4_RT',
 'HI_INC_UNKN_4YR_TRANS_YR4_RT',
 'HI_INC_UNKN_2YR_TRANS_YR4_RT',
 'DEP_DEATH_YR4_RT',
 'DEP_COMP_ORIG_YR4_RT',
 'DEP_COMP_4YR_TRANS_YR4_RT',
 'DEP_COMP_2YR_TRANS_YR4_RT',
 'DEP_WDRAW_ORIG_YR4_RT',
 'DEP_WDRAW_4YR_TRANS_YR4_RT',
 'DEP_WDRAW_2YR_TRANS_YR4_RT',
 'DEP_ENRL_ORIG_YR4_RT',
 'DEP_ENRL_4YR_TRANS_YR4_RT',
 'DEP_ENRL_2YR_TRANS_YR4_RT',
 'DEP_UNKN_ORIG_YR4_RT',
 'DEP_UNKN_4YR_TRANS_YR4_RT',
 'DEP_UNKN_2YR_TRANS_YR4_RT',
 'IND_DEATH_YR4_RT',
 'IND_COMP_ORIG_YR4_RT',
 'IND_COMP_4YR_TRANS_YR4_RT',
 'IND_COMP_2YR_TRANS_YR4_RT',
 'IND_WDRAW_ORIG_YR4_RT',
 'IND_WDRAW_4YR_TRANS_YR4_RT',
 'IND_WDRAW_2YR_TRANS_YR4_RT',
 'IND_ENRL_ORIG_YR4_RT',
 'IND_ENRL_4YR_TRANS_YR4_RT',
 'IND_ENRL_2YR_TRANS_YR4_RT',
 'IND_UNKN_ORIG_YR4_RT',
 'IND_UNKN_4YR_TRANS_YR4_RT',
 'IND_UNKN_2YR_TRANS_YR4_RT',
 'FEMALE_DEATH_YR4_RT',
 'FEMALE_COMP_ORIG_YR4_RT',
 'FEMALE_COMP_4YR_TRANS_YR4_RT',
 'FEMALE_COMP_2YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_ORIG_YR4_RT',
 'FEMALE_WDRAW_4YR_TRANS_YR4_RT',
 'FEMALE_WDRAW_2YR_TRANS_YR4_RT',
 'FEMALE_ENRL_ORIG_YR4_RT',
 'FEMALE_ENRL_4YR_TRANS_YR4_RT',
 'FEMALE_ENRL_2YR_TRANS_YR4_RT',
 'FEMALE_UNKN_ORIG_YR4_RT',
 'FEMALE_UNKN_4YR_TRANS_YR4_RT',
 'FEMALE_UNKN_2YR_TRANS_YR4_RT',
 'MALE_DEATH_YR4_RT',
 'MALE_COMP_ORIG_YR4_RT',
 'MALE_COMP_4YR_TRANS_YR4_RT',
 'MALE_COMP_2YR_TRANS_YR4_RT',

In [12]:
filtered_variable_name_list = column_heading_df['VARIABLE NAME'].unique().tolist()
filtered_variable_name_list

['PCIP01',
 'PCIP04',
 'PCIP05',
 'PCIP26',
 'PCIP52',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP46',
 'PCIP13',
 'PCIP15',
 'PCIP14',
 'PCIP23',
 'PCIP19',
 'PCIP16',
 'PCIP51',
 'PCIP54',
 'PCIP43',
 'PCIP22',
 'PCIP24',
 'PCIP25',
 'PCIP27',
 'PCIP47',
 'PCIP29',
 'PCIP30',
 'PCIP03',
 'PCIP31',
 'PCIP12',
 'PCIP38',
 'PCIP40',
 'PCIP48',
 'PCIP42',
 'PCIP44',
 'PCIP41',
 'PCIP45',
 'PCIP39',
 'PCIP49',
 'PCIP50',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'CUML_DEBT_P10',
 'CUML_DEBT_P25',
 'CUML_DEBT_P75',
 'CUML_DEBT_P90',
 'GRAD_DEBT_MDN10YR',
 'CUML_DEBT_N',
 'PCTFLOAN',
 'LOAN_EVER',
 'DEP_DEBT_MDN',
 'FEMALE_DEBT_MDN',
 'FIRSTGEN_DEBT_MDN',
 'IND_DEBT_MDN',
 'MALE_DEBT_MDN',
 'NOTFIRSTGEN_DEBT_MDN',
 'GRAD_DEBT_MDN',
 'WDRAW_DEBT_MDN',
 'HI_INC_DEBT_MDN',
 'LO_INC_DEBT_MDN',
 'MD_INC_DEBT_MDN',
 'DEBT_MDN',
 'DEBT_N',
 'GRAD_DEBT_N',
 'DEP_DEBT_N',
 'FEMALE_DEBT_N',
 'FIRSTGEN_DEBT_N',
 'HI_INC_DEBT_N',
 'IND_DEBT_N',
 'LO_INC_DEBT_N',
 'MALE_DEBT_N',
 'MD_INC_DEBT_N',
 'NOTFIRSTGEN_DEBT_N',
 'WDRAW_DEBT_N',
 'C150_4',
 'C150_4_POOLED',
 'DEP_COMP_ORIG_YR6_RT',
 'WDRAW_ORIG_YR2_RT',
 'COSTT4_A',
 'COSTT4_P',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT4_PRIV',
 'NPT4_PUB',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'CIPTFBS1',
 'MN_EARN_WNE_INDEP0_P10',
 'MN_EARN_WNE_INDEP0_P6',
 'MN_EARN_WNE_MALE0_P10',
 'MN_EARN_WNE_MALE0_P6',
 'MN_EARN_WNE_INDEP1_P10',
 'MN_EARN_WNE_INDEP1_P6',
 'MN_EARN_WNE_MALE1_P10',
 'MN_EARN_WNE_MALE1_P6',
 'MN_EARN_WNE_P10',
 'MN_EARN_WNE_P6',
 'MN_EARN_WNE_P7',
 'MN_EARN_WNE_P8',
 'MN_EARN_WNE_P9',
 'MD_EARN_WNE_P10',
 'MD_EARN_WNE_P6',
 'MD_EARN_WNE_P8',
 'OPEID6',
 'OPEID',
 'LATITUDE',
 'LONGITUDE',
 'UNITID',
 'AVGFACSAL',
 'CITY',
 'CONTROL',
 'SCHTYPE',
 'LOCALE2',
 'ST_FIPS',
 'MAIN',
 'MENONLY',
 'WOMENONLY',
 'INSTNM',
 'INEXPFTE',
 'ICLEVEL',
 'LOCALE',
 'TUITFTE',
 'NUMBRANCH',
 'PFTFAC',
 'REGION',
 'STABBR',
 'INSTURL',
 'ZIP',
 'INC_PCT_H2',
 'INC_PCT_M1',
 'INC_PCT_M2',
 'INC_PCT_H1',
 'AGE_ENTRY',
 'FAMINC_IND',
 'FAMINC',
 'FSEND_COUNT',
 'AGE_ENTRY_SQ',
 'LNFAMINC',
 'LNFAMINC_IND',
 'UG',
 'UGDS',
 'MD_FAMINC',
 'MEDIAN_HH_INC',
 'AGEGE24',
 'PCT_GRAD_PROF',
 'PCT_ASIAN',
 'PCT_BLACK',
 'PCT_HISPANIC',
 'PCT_WHITE',
 'PCT_BORN_US',
 'PCT_BA',
 'UG25ABV',
 'POVERTY_RATE',
 'DEPENDENT',
 'FEMALE',
 'FIRST_GEN',
 'MARRIED',
 'VETERAN',
 'UGDS_AIAN',
 'UGDS_AIANOLD',
 'UGDS_ASIAN',
 'UGDS_API',
 'UGDS_BLACK',
 'UGDS_BLACKNH',
 'UGDS_HISP',
 'UGDS_HISPOLD',
 'UGDS_NHPI',
 'UGDS_NRA',
 'UGDS_2MOR',
 'UGDS_WHITE',
 'UGDS_WHITENH',
 'UGDS_UNKN',
 'UG_AIANOLD',
 'UG_API',
 'UG_BLACKNH',
 'UG_HISPOLD',
 'UG_NRA',
 'UG_WHITENH',
 'UG_UNKN',
 'UNEMP_RATE']

In [13]:
filtered_df = df.copy()

In [14]:
for variable in complete_variable_name_list:
    if variable not in filtered_variable_name_list:
        filtered_df.drop(columns = variable, inplace = True)

In [15]:
filtered_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,INSTURL,MAIN,NUMBRANCH,...,MN_EARN_WNE_INDEP1_P6,MN_EARN_WNE_MALE0_P6,MN_EARN_WNE_MALE1_P6,MN_EARN_WNE_P7,MN_EARN_WNE_P8,MD_EARN_WNE_P8,MN_EARN_WNE_P9,ICLEVEL,SCHTYPE,CIPTFBS1
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,1,1,...,29900,26700,30000,29600,30600,27100,33800,1,1.0,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu,1,1,...,46200,36600,43900,40000,44100,38300,44500,1,1.0,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,1,1,...,NaN,26600,45200,38700,40800,38300,42400,1,2.0,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,1,1,...,44400,35600,44900,43400,45900,41800,50200,1,1.0,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu,1,1,...,27600,23400,25500,25200,27500,25200,29400,1,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,48511112,157114,1571,Georgia Military College - Dublin,Dublin,GA,310215149,https://www.gmc.edu/index.cms,0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN
6802,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,https://www.gmc.edu/index.cms,0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN
6803,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,NaN,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3.0,15750.0
6804,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,www.hci.edu/,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3.0,NaN
6805,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,NaN,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1.0,1785.0

In [16]:
filtered_df.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'INSTURL', 'MAIN', 'NUMBRANCH',
       ...
       'MN_EARN_WNE_INDEP1_P6', 'MN_EARN_WNE_MALE0_P6', 'MN_EARN_WNE_MALE1_P6',
       'MN_EARN_WNE_P7', 'MN_EARN_WNE_P8', 'MD_EARN_WNE_P8', 'MN_EARN_WNE_P9',
       'ICLEVEL', 'SCHTYPE', 'CIPTFBS1'],
      dtype='object', length=188)

In [17]:
column_heading_df['dev-category'].unique()

array(['academics', 'admissions', 'aid', 'completion', 'cost', 'earnings',
       'root', 'school', 'student'], dtype=object)

In [18]:
#PREDEG == 3 is the university is predominately a 4 year school.
filtered_4_year_df = filtered_df.loc[df['PREDDEG'] == 3, :]
filtered_4_year_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,INSTURL,MAIN,NUMBRANCH,...,MN_EARN_WNE_INDEP1_P6,MN_EARN_WNE_MALE0_P6,MN_EARN_WNE_MALE1_P6,MN_EARN_WNE_P7,MN_EARN_WNE_P8,MD_EARN_WNE_P8,MN_EARN_WNE_P9,ICLEVEL,SCHTYPE,CIPTFBS1
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,1,1,...,29900,26700,30000,29600,30600,27100,33800,1,1.0,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu,1,1,...,46200,36600,43900,40000,44100,38300,44500,1,1.0,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,1,1,...,NaN,26600,45200,38700,40800,38300,42400,1,2.0,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,1,1,...,44400,35600,44900,43400,45900,41800,50200,1,1.0,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu,1,1,...,27600,23400,25500,25200,27500,25200,29400,1,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,492069,4276100,42761,Champion Christian College,Hot Springs,AR,71913,championchristiancollege.com,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,NaN
6314,492689,1067401,10674,Texas Tech University Health Sciences Center-E...,El Paso,TX,79905-2827,elpaso.ttuhsc.edu/,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN
6318,492759,638521,6385,Chamberlain University-Louisiana,Jefferson,LA,70121,https://www.chamberlain.edu/,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,NaN
6319,492801,246100,2461,Drury University-College of Continuing Profess...,Springfield,MO,65802,www.drury.edu/ccps/,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,NaN
6322,492962,180500,1805,Indiana Institute of Technology-College of Pro...,Fort Wayne,IN,46803,cps.indianatech.edu/,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,NaN

In [19]:
filtered_4_year_df['OPEID'].dtypes

dtype('int64')

In [20]:
college_ranking_df = pd.read_csv(path2+forbes_data)

In [21]:
college_ranking_df['OPEID'].dtypes

dtype('float64')

In [22]:
college_ranking_df = college_ranking_df.fillna(0)

In [23]:
college_ranking_df['OPEID'] = college_ranking_df['OPEID'].astype('int')
college_ranking_df

,UNITID,OPEID,OPEID6,Rank,Name,City,State,Public/Private,Undergraduate Population,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,166027.0,215500,2155.0,1,Harvard University,Cambridge,MA,Private,13844,31120,14327.0,49870.0,69600,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,243744.0,130500,1305.0,2,Stanford University,Stanford,CA,Private,8402,17534,13261.0,50134.0,69109,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,130794.0,142600,1426.0,3,Yale University,New Haven,CT,Private,6483,12974,18627.0,50897.0,71290,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,166683.0,217800,2178.0,4,Massachusetts Institute of Technology,Cambridge,MA,Private,4680,11466,20771.0,43248.0,67430,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,186131.0,262700,2627.0,5,Princeton University,Princeton,NJ,Private,5659,8273,9327.0,48088.0,66150,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,188030.0,265700,2657.0,646,New Mexico State University,Las Cruces,NM,Public,13379,14432,8625.0,9582.0,34720,96700.0,64.0,910.0,1160.0,18.0,23.0,www.nmsu.edu
646,151324.0,180700,1807.0,647,Indiana State University,Terre Haute,IN,Public,13626,13763,13012.0,9297.0,32938,85600.0,85.0,900.0,1110.0,17.0,23.0,www.indstate.edu
647,232025.0,370900,3709.0,648,Emory & Henry College,Emory,VA,Private,1094,1226,19340.0,27155.0,48100,70700.0,72.0,988.0,1170.0,19.0,25.0,www.ehc.edu
648,197230.0,290100,2901.0,649,Wells College,Aurora,NY,Private,488,516,22828.0,30207.0,55180,0.0,80.0,0.0,0.0,0.0,0.0,www.wells.edu
649,198215.0,291400,2914.0,650,Catawba College,Salisbury,NC,Private,1336,1463,19807.0,23662.0,44921,78100.0,42.0,930.0,1100.0,18.0,23.0,www.catawba.edu

In [24]:
#this will give us only the schools that have a rnaking from forbes and ones that we have on our list
filtered_ranking_4_year_df = filtered_4_year_df.merge(college_ranking_df, how = 'inner', on = 'OPEID')

In [25]:
filtered_ranking_4_year_df.columns

Index(['UNITID_x', 'OPEID', 'OPEID6_x', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'INSTURL', 'MAIN', 'NUMBRANCH',
       ...
       'Net Price', 'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object', length=207)

In [26]:
filtered_ranking_4_year_df

,UNITID_x,OPEID,OPEID6_x,INSTNM,CITY,STABBR,ZIP,INSTURL,MAIN,NUMBRANCH,...,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu,1,1,...,17535.0,9254.0,36800,87200.0,92.0,990.0,1370.0,21.0,28.0,www.uab.edu
1,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,1,1,...,19986.0,9587.0,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0,www.uah.edu
2,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0100,www.ua.edu/,1,1,...,21973.0,16494.0,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0,www.ua.edu
3,100858,100900,1009,Auburn University,Auburn,AL,36849,www.auburn.edu,1,1,...,23416.0,9030.0,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0,www.auburn.edu
4,100937,101200,1012,Birmingham-Southern College,Birmingham,AL,35254,www.bsc.edu/,1,1,...,22853.0,26594.0,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0,www.bsc.edu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,243780,182500,1825,Purdue University-Main Campus,West Lafayette,IN,47907-2040,https://www.purdue.edu,1,10,...,13746.0,10703.0,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0,www.purdue.edu
636,245652,209300,2093,St. John's College,Santa Fe,NM,87505-4599,www.sjc.edu,1,1,...,20605.0,31845.0,65456,0.0,63.0,1190.0,1350.0,23.0,32.0,www.sjca.edu
637,262129,3957400,39574,New College of Florida,Sarasota,FL,34243-2109,www.ncf.edu,1,1,...,10248.0,9341.0,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0,www.ncf.edu
638,433660,3255300,32553,Florida Gulf Coast University,Fort Myers,FL,33965-6565,www.fgcu.edu,1,1,...,15376.0,4726.0,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0,www.fgcu.edu
639,482680,158500,1585,University of North Georgia,Dahlonega,GA,30597,www.ung.edu,1,1,...,9854.0,5483.0,28094,85600.0,78.0,910.0,1130.0,20.0,25.0,www.ung.edu

In [27]:
filtered_ranking_4_year_df.columns

Index(['UNITID_x', 'OPEID', 'OPEID6_x', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'INSTURL', 'MAIN', 'NUMBRANCH',
       ...
       'Net Price', 'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object', length=207)

In [28]:
#need to drop all text based columns
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['UNITID_x', 'OPEID6_x', 'Name','City','State','Public/Private','Website', 'OPEID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'INSTURL'])

In [29]:
#lets also drop some nonsense columns like latitude, longitude, SCH_DEG, MAIN, PREDDEG, NUMBRANCH, REGION, ST_FIPS
filtered_ranking_4_year_df = filtered_ranking_4_year_df.drop(columns = ['REGION', 'ST_FIPS', 'MAIN', 'NUMBRANCH','LATITUDE','LONGITUDE'])

In [30]:
filtered_ranking_4_year_df

,CONTROL,LOCALE,LOCALE2,MENONLY,WOMENONLY,ADM_RATE,ADM_RATE_ALL,SATVRMID,SATMTMID,SATWRMID,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,1,12.0,NaN,0.0,0.0,0.9211,0.9211,555.0,555.0,NaN,...,20902,17535.0,9254.0,36800,87200.0,92.0,990.0,1370.0,21.0,28.0
1,1,12.0,NaN,0.0,0.0,0.8087,0.8087,630.0,565.0,NaN,...,9101,19986.0,9587.0,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0
2,1,12.0,NaN,0.0,0.0,0.5906,0.5906,590.0,580.0,540.0,...,38563,21973.0,16494.0,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0
3,1,13.0,NaN,0.0,0.0,0.7543,0.7543,615.0,615.0,570.0,...,29776,23416.0,9030.0,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0
4,2,12.0,NaN,0.0,0.0,0.5666,0.5666,570.0,560.0,NaN,...,1325,22853.0,26594.0,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,1,13.0,NaN,0.0,0.0,0.5798,0.5798,635.0,660.0,570.0,...,42699,13746.0,10703.0,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0
636,2,41.0,NaN,0.0,0.0,0.6704,0.6704,665.0,645.0,NaN,...,386,20605.0,31845.0,65456,0.0,63.0,1190.0,1350.0,23.0,32.0
637,1,13.0,NaN,0.0,0.0,0.7679,0.7679,675.0,645.0,620.0,...,885,10248.0,9341.0,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0
638,1,21.0,NaN,0.0,0.0,0.6492,0.6492,580.0,555.0,520.0,...,15317,15376.0,4726.0,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0
639,1,31.0,NaN,0.0,0.0,0.8094,0.8094,588.0,540.0,NaN,...,20811,9854.0,5483.0,28094,85600.0,78.0,910.0,1130.0,20.0,25.0

In [31]:
#the next few lines are simply to move the school rank to the first column
col_list = filtered_ranking_4_year_df.columns.to_list()

In [32]:
col_list.pop(col_list.index('Rank'))

'Rank'

In [33]:
col_list.insert(0, 'Rank')
col_list

['Rank',
 'CONTROL',
 'LOCALE',
 'LOCALE2',
 'MENONLY',
 'WOMENONLY',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'UGDS',
 'UG',
 'UGDS_WHITE',
 'UGDS_BLACK',
 'UGDS_HISP',
 'UGDS_ASIAN',
 'UGDS_AIAN',
 'UGDS_NHPI',
 'UGDS_2MOR',
 'UGDS_NRA',
 'UGDS_UNKN',
 'UGDS_WHITENH',
 'UGDS_BLACKNH',
 'UGDS_API',
 'UGDS_AIANOLD',
 'UGDS_HISPOLD',
 'UG_NRA',
 'UG_UNKN',
 'UG_WHITENH',
 'UG_BLACKNH',
 'UG_API',
 'UG_AIANOLD',
 'UG_HISPOLD',
 'NPT4_PUB',
 'NPT4_PRIV',
 'NPT4_PROG',
 'NPT4_OTHER',
 'COSTT4_A',
 'COSTT4_P',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'TUITFTE',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'C150_4',
 'C150_4_POOLED',
 'PCTFLOAN',
 'UG25ABV',
 'WDRAW_ORIG_YR2_RT',
 'DEP_COMP_ORIG_YR6_RT',
 'INC_PCT_M1',
 'INC_PCT_M2',
 'INC_PCT_H1',
 'INC_PCT_H2',
 'DEBT_MDN',
 'GRAD_DEBT_MDN',
 'WDRAW_DEBT_MDN',
 'LO_INC_DEBT_MDN',
 'MD_INC_DEBT_MDN',
 'HI_INC_DEBT_MDN',
 'DEP_DEBT_MDN',
 'IND_DEBT_MDN',
 'FEMALE_DEBT_MDN',
 'MALE_DEBT_MDN',
 'FIRSTGEN_DEBT_MDN',
 'NOTFIRSTGEN_DEBT_MDN',
 'DEBT_N',
 'GRAD_DEBT_N',
 'WDRAW_DEBT_N',
 'LO_INC_DEBT_N',
 'MD_INC_DEBT_N',
 'HI_INC_DEBT_N',
 'DEP_DEBT_N',
 'IND_DEBT_N',
 'FEMALE_DEBT_N',
 'MALE_DEBT_N',
 'FIRSTGEN_DEBT_N',
 'NOTFIRSTGEN_DEBT_N',
 'GRAD_DEBT_MDN10YR',
 'CUML_DEBT_N',
 'CUML_DEBT_P90',
 'CUML_DEBT_P75',
 'CUML_DEBT_P25',
 'CUML_DEBT_P10',
 'LOAN_EVER',
 'AGE_ENTRY',
 'AGE_ENTRY_SQ',
 'AGEGE24',
 'FEMALE',
 'MARRIED',
 'DEPENDENT',
 'VETERAN',
 'FIRST_GEN',
 'FAMINC',
 'MD_FAMINC',
 'FAMINC_IND',
 'LNFAMINC',
 'LNFAMINC_IND',
 'PCT_WHITE',
 'PCT_BLACK',
 'PCT_ASIAN',
 'PCT_HISPANIC',
 'PCT_BA',
 'PCT_GRAD_PROF',
 'PCT_BORN_US',
 'MEDIAN_HH_INC',
 'POVERTY_RATE',
 'UNEMP_RATE',
 'FSEND_COUNT',
 'MN_EARN_WNE_P10',
 'MD_EARN_WNE_P10',
 'MN_EARN_WNE_INDEP0_P10',
 'MN_EARN_WNE_INDEP1_P10',
 'MN_EARN_WNE_MALE0_P10',
 'MN_EARN_WNE_MALE1_P10',
 'MN_EARN_WNE_P6',
 'MD_EARN_WNE_P6',
 'MN_EARN_WNE_INDEP0_P6',
 'MN_EARN_WNE_INDEP1_P6',
 'MN_EARN_WNE_MALE0_P6',
 'MN_EARN_WNE_MALE1_P6',
 'MN_EARN_WNE_P7',
 'MN_EARN_WNE_P8',
 'MD_EARN_WNE_P8',
 'MN_EARN_WNE_P9',
 'ICLEVEL',
 'SCHTYPE',
 'CIPTFBS1',
 'UNITID_y',
 'OPEID6_y',
 'Undergraduate Population',
 'Student Population',
 'Net Price',
 'Average Grant Aid',
 'Total Annual Cost',
 'Alumni Salary',
 'Acceptance Rate',
 'SAT Lower',
 'SAT Upper',
 'ACT Lower',
 'ACT Upper']

In [34]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df[col_list]

In [35]:
filtered_ranking_4_year_df = filtered_ranking_4_year_df.fillna(0)
filtered_ranking_4_year_df

,Rank,CONTROL,LOCALE,LOCALE2,MENONLY,WOMENONLY,ADM_RATE,ADM_RATE_ALL,SATVRMID,SATMTMID,...,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper
0,456,1,12.0,0.0,0.0,0.0,0.9211,0.9211,555.0,555.0,...,20902,17535.0,9254.0,36800,87200.0,92.0,990.0,1370.0,21.0,28.0
1,475,1,12.0,0.0,0.0,0.0,0.8087,0.8087,630.0,565.0,...,9101,19986.0,9587.0,36881,103900.0,81.0,1080.0,1330.0,25.0,31.0
2,252,1,12.0,0.0,0.0,0.0,0.5906,0.5906,590.0,580.0,...,38563,21973.0,16494.0,46744,97400.0,53.0,1050.0,1280.0,23.0,32.0
3,166,1,13.0,0.0,0.0,0.0,0.7543,0.7543,615.0,615.0,...,29776,23416.0,9030.0,49954,104500.0,84.0,1130.0,1310.0,24.0,30.0
4,463,2,12.0,0.0,0.0,0.0,0.5666,0.5666,570.0,560.0,...,1325,22853.0,26594.0,52414,88300.0,62.0,1030.0,1260.0,23.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,118,1,13.0,0.0,0.0,0.0,0.5798,0.5798,635.0,660.0,...,42699,13746.0,10703.0,41614,110000.0,57.0,1150.0,1380.0,25.0,31.0
636,577,2,41.0,0.0,0.0,0.0,0.6704,0.6704,665.0,645.0,...,386,20605.0,31845.0,65456,0.0,63.0,1190.0,1350.0,23.0,32.0
637,277,1,13.0,0.0,0.0,0.0,0.7679,0.7679,675.0,645.0,...,885,10248.0,9341.0,43678,86500.0,69.0,1190.0,1380.0,25.0,30.0
638,519,1,21.0,0.0,0.0,0.0,0.6492,0.6492,580.0,555.0,...,15317,15376.0,4726.0,39434,80000.0,64.0,1060.0,1210.0,21.0,25.0
639,505,1,31.0,0.0,0.0,0.0,0.8094,0.8094,588.0,540.0,...,20811,9854.0,5483.0,28094,85600.0,78.0,910.0,1130.0,20.0,25.0

In [36]:
filtered_ranking_4_year_df['Rank'].dtype

dtype('int64')

In [37]:
#I need to bin the school ranks into bins of 10% each
filtered_ranking_4_year_df['Rank'].describe()

count    640.000000
mean     327.025000
std      186.419385
min        1.000000
25%      166.750000
50%      327.500000
75%      487.250000
max      650.000000
Name: Rank, dtype: float64

In [38]:
filtered_ranking_4_year_df['10%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=10, labels = False)

In [39]:
filtered_ranking_4_year_df['5%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=20, labels = False)

In [40]:
filtered_ranking_4_year_df['20%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=5, labels = False)

In [41]:
filtered_ranking_4_year_df['50%_cut'] = pd.qcut(filtered_ranking_4_year_df['Rank'], q=2, labels = False)

In [42]:
filtered_ranking_4_year_df

,Rank,CONTROL,LOCALE,LOCALE2,MENONLY,WOMENONLY,ADM_RATE,ADM_RATE_ALL,SATVRMID,SATMTMID,...,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,10%_cut,5%_cut,20%_cut,50%_cut
0,456,1,12.0,0.0,0.0,0.0,0.9211,0.9211,555.0,555.0,...,87200.0,92.0,990.0,1370.0,21.0,28.0,7,14,3,1
1,475,1,12.0,0.0,0.0,0.0,0.8087,0.8087,630.0,565.0,...,103900.0,81.0,1080.0,1330.0,25.0,31.0,7,14,3,1
2,252,1,12.0,0.0,0.0,0.0,0.5906,0.5906,590.0,580.0,...,97400.0,53.0,1050.0,1280.0,23.0,32.0,3,7,1,0
3,166,1,13.0,0.0,0.0,0.0,0.7543,0.7543,615.0,615.0,...,104500.0,84.0,1130.0,1310.0,24.0,30.0,2,4,1,0
4,463,2,12.0,0.0,0.0,0.0,0.5666,0.5666,570.0,560.0,...,88300.0,62.0,1030.0,1260.0,23.0,29.0,7,14,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,118,1,13.0,0.0,0.0,0.0,0.5798,0.5798,635.0,660.0,...,110000.0,57.0,1150.0,1380.0,25.0,31.0,1,3,0,0
636,577,2,41.0,0.0,0.0,0.0,0.6704,0.6704,665.0,645.0,...,0.0,63.0,1190.0,1350.0,23.0,32.0,8,17,4,1
637,277,1,13.0,0.0,0.0,0.0,0.7679,0.7679,675.0,645.0,...,86500.0,69.0,1190.0,1380.0,25.0,30.0,4,8,2,0
638,519,1,21.0,0.0,0.0,0.0,0.6492,0.6492,580.0,555.0,...,80000.0,64.0,1060.0,1210.0,21.0,25.0,7,15,3,1
639,505,1,31.0,0.0,0.0,0.0,0.8094,0.8094,588.0,540.0,...,85600.0,78.0,910.0,1130.0,20.0,25.0,7,15,3,1

In [43]:
#lets output this data file and run a neural network model on the dataset to see if it is better than randomforest.
filtered_ranking_4_year_df.to_csv(path2 + 'filtered_ranking_4_year_df.csv')

In [44]:
filtered_ranking_4_year_df['10%_cut'].value_counts()

9    64
8    64
7    64
6    64
5    64
4    64
3    64
2    64
1    64
0    64
Name: 10%_cut, dtype: int64

In [45]:
filtered_ranking_4_year_df['5%_cut'].value_counts()

19    32
18    32
1     32
2     32
3     32
4     32
5     32
6     32
7     32
8     32
9     32
10    32
11    32
12    32
13    32
14    32
15    32
16    32
17    32
0     32
Name: 5%_cut, dtype: int64

In [46]:
#begin randomforest classifier work
X = filtered_ranking_4_year_df.drop(columns = ['Rank', '10%_cut', '5%_cut', '20%_cut', '50%_cut'])
column_list = X.columns.to_list()

In [47]:
# here we need to choose either 10%_cut or 5%_cut.  Choose 10% first then redo with 5%
y = filtered_ranking_4_year_df['10%_cut']
y

0      7
1      7
2      3
3      2
4      7
      ..
635    1
636    8
637    4
638    7
639    7
Name: 10%_cut, Length: 640, dtype: int64

In [48]:
print(X.shape, y.shape)

(640, 187) (640,)

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .4)

In [50]:
# random forest generator classifier
from sklearn.ensemble import RandomForestClassifier

In [51]:
rf = RandomForestClassifier()
rf_a = rf.fit(X_train, y_train)
rf_a.score(X_test, y_test)

0.4348958333333333

In [52]:
# We can sort the features by their importance
importance_a = sorted(zip(rf_a.feature_importances_, column_list), reverse=True)
importance_a

[(0.03544554756866874, 'C150_4'),
 (0.02702884824224245, 'C150_4_POOLED'),
 (0.019679822491281772, 'MN_EARN_WNE_P10'),
 (0.017864780826670063, 'Acceptance Rate'),
 (0.01689203850998524, 'Alumni Salary'),
 (0.0161256771139456, 'SAT_AVG'),
 (0.015890714712814023, 'ADM_RATE'),
 (0.015346571158694257, 'SAT_AVG_ALL'),
 (0.01516398556426971, 'MD_EARN_WNE_P8'),
 (0.014957700444867533, 'ADM_RATE_ALL'),
 (0.014374997977383015, 'ACT Lower'),
 (0.013612603230671223, 'INEXPFTE'),
 (0.013169563722104798, 'ACTCMMID'),
 (0.012955578938609895, 'MN_EARN_WNE_P8'),
 (0.012612557291380992, 'MD_EARN_WNE_P10'),
 (0.012043904320854512, 'MN_EARN_WNE_P9'),
 (0.011778560969784989, 'SATMTMID'),
 (0.011053556230233479, 'SAT Upper'),
 (0.010882020638243072, 'MN_EARN_WNE_MALE1_P10'),
 (0.010612859291368975, 'MN_EARN_WNE_MALE0_P10'),
 (0.010460950306815571, 'SAT Lower'),
 (0.010428257187920544, 'PCTFLOAN'),
 (0.010291078258740396, 'WDRAW_ORIG_YR2_RT'),
 (0.009732145904044176, 'DEP_COMP_ORIG_YR6_RT'),
 (0.009557674653119444, 'AVGFACSAL'),
 (0.009243426214299614, 'MD_EARN_WNE_P6'),
 (0.008933108881001012, 'SATVRMID'),
 (0.008837924281679739, 'PCT_BA'),
 (0.00859423142478698, 'ACT Upper'),
 (0.008416970670836126, 'Average Grant Aid'),
 (0.008200867996174185, 'MN_EARN_WNE_P7'),
 (0.008138256897554179, 'PCT_GRAD_PROF'),
 (0.008124532301380289, 'UGDS_2MOR'),
 (0.007861590457528909, 'MN_EARN_WNE_INDEP1_P10'),
 (0.00782435992312418, 'FIRST_GEN'),
 (0.007612167809527924, 'MN_EARN_WNE_P6'),
 (0.007542685698352293, 'MN_EARN_WNE_INDEP0_P10'),
 (0.007535236560947865, 'FEMALE'),
 (0.007328650531666103, 'TUITIONFEE_OUT'),
 (0.007189095891536721, 'INC_PCT_H2'),
 (0.007107440700282415, 'UGDS_BLACK'),
 (0.007051818431956534, 'OPEID6_y'),
 (0.006991944311132607, 'INC_PCT_M1'),
 (0.006988101902618462, 'FAMINC'),
 (0.006977073193574359, 'INC_PCT_M2'),
 (0.006729778101378167, 'UG25ABV'),
 (0.00662157800475997, 'UGDS_ASIAN'),
 (0.006606158229741175, 'PCIP50'),
 (0.006572369092301099, 'GRAD_DEBT_MDN'),
 (0.006557100231997217, 'MN_EARN_WNE_MALE0_P6'),
 (0.006539608691867939, 'PCIP45'),
 (0.006377826394862292, 'PCT_BLACK'),
 (0.006316587165931712, 'UGDS_NRA'),
 (0.006261033658736009, 'PCT_ASIAN'),
 (0.0062350046281659886, 'CUML_DEBT_P90'),
 (0.006080121654313137, 'WDRAW_DEBT_N'),
 (0.0060654025106519046, 'Net Price'),
 (0.0060605790724864265, 'GRAD_DEBT_MDN10YR'),
 (0.006003358393847497, 'SATWRMID'),
 (0.005975404343906093, 'MD_FAMINC'),
 (0.005962613027374307, 'PCIP52'),
 (0.005857456440385302, 'TUITFTE'),
 (0.0058262029307404985, 'UNITID_y'),
 (0.00581710299796612, 'Total Annual Cost'),
 (0.005710907471598133, 'MEDIAN_HH_INC'),
 (0.005698745350921318, 'ACTENMID'),
 (0.005672602456164494, 'LOAN_EVER'),
 (0.0055739775953883765, 'FEMALE_DEBT_N'),
 (0.005518585518146713, 'LO_INC_DEBT_MDN'),
 (0.005511339504212427, 'PCT_BORN_US'),
 (0.0054818956418684365, 'PCIP11'),
 (0.005402857816655501, 'PCIP42'),
 (0.005390042509673878, 'PCIP23'),
 (0.005273969019368143, 'ACTMTMID'),
 (0.005247713199179844, 'PCIP40'),
 (0.005162636554157421, 'HI_INC_DEBT_N'),
 (0.005143674539375986, 'PCIP09'),
 (0.005105209070573546, 'POVERTY_RATE'),
 (0.005056721912092451, 'PCIP43'),
 (0.005048005584980808, 'AGEGE24'),
 (0.005041970249152309, 'UGDS_HISP'),
 (0.005032678962928344, 'INC_PCT_H1'),
 (0.005025331454637069, 'TUITIONFEE_IN'),
 (0.00501605428410073, 'MD_INC_DEBT_MDN'),
 (0.004991347889961711, 'PCT_HISPANIC'),
 (0.004981318782534414, 'FAMINC_IND'),
 (0.004960597770751042, 'IND_DEBT_MDN'),
 (0.004913774833033364, 'UGDS_AIAN'),
 (0.004893072064503063, 'FIRSTGEN_DEBT_N'),
 (0.004872139147902482, 'UGDS_WHITE'),
 (0.00481629608038169, 'DEPENDENT'),
 (0.004809439623415777, 'PCIP24'),
 (0.00479386873235409, 'CUML_DEBT_P10'),
 (0.004779103500984031, 'DEBT_N'),
 (0.004710796657506148, 'PCIP27'),
 (0.0047025160463563045, 'PCIP13'),
 (0.0046918887776122254, 'WDRAW_DEBT_MDN'),
 (0.004683966572359391, 'HI_INC_DEBT_MDN'),
 (0.004678843950345691, 'PCIP30'),
 (0.004603570827596799, 'MN_EARN_WNE_INDEP1_P6'),
 (0.0046013435932885, 'PCIP16'),
 (0.004595317061355084, 'DEP_DEBT_MDN'),
 (0.004535125798574326, 'MARRIED'),
 (0.004518643160865351, 'IND_DEBT_N'),
 (0.004485092434330372, 'AGE_ENTRY'),
 (0.00447657448217743, 'PCIP14'),
 (0.004444531063450479, 'MN_EARN_WNE_INDEP0_P6'),
 (0.004355627535826239, 'PFTFAC'),
 (0.004340414754831554, 'Student Population'),
 (0.004308459520806715, 'FIRSTGEN_DEBT_MDN'),
 (0.004293246466085423, 'MALE_DEBT_N'),
 (0.004273483814266517, 'MN_EARN_WNE_MALE1_P6'),
 (0.004198008577340221, 'DEP_DEBT_N'),
 (0.004165940522564977, 'CUML_DEBT_N'),
 (0.004143433088119841, 'PCIP38'),
 (0.004141807410170061, 'PCIP44'),
 (0.004072493160159241, 'CUML_DEBT_P75'),
 (0.00397707702597223, 'LO_INC_DEBT_N'),
 (0.003951677778465916, 'PCIP26'),
 (0.003940008971161372, 'PCT_WHITE'),
 (0.003921472492868213, 'GRAD_DEBT_N'),
 (0.003905757562142035, 'UGDS_NHPI'),
 (0.003793743587082984, 'PCIP03'),
 (0.003790212552095541, 'NPT4_PRIV'),
 (0.0037714452804637542, 'MD_INC_DEBT_N'),
 (0.003610389596478475, 'UGDS_UNKN'),
 (0.003605911578835821, 'MALE_DEBT_MDN'),
 (0.003587403565818801, 'NOTFIRSTGEN_DEBT_MDN'),
 (0.003571741873706727, 'NOTFIRSTGEN_DEBT_N'),
 (0.003563804320003581, 'PCIP51'),
 (0.0035449041045986247, 'PCIP54'),
 (0.0034881201204346405, 'UGDS'),
 (0.003481224846728841, 'Undergraduate Population'),
 (0.003432348139853279, 'UNEMP_RATE'),
 (0.003369496538604508, 'PCIP05'),
 (0.003323888362826, 'COSTT4_A'),
 (0.003278759853350773, 'PCIP31'),
 (0.0030571211431789334, 'FEMALE_DEBT_MDN'),
 (0.0030493765752820584, 'CUML_DEBT_P25'),
 (0.002872472449149962, 'DEBT_MDN'),
 (0.0025072493970649395, 'LOCALE'),
 (0.002078115001257027, 'VETERAN'),
 (0.001969383692411076, 'PCIP19'),
 (0.0018046672755077653, 'ACTWRMID'),
 (0.0016565298394054298, 'NPT4_PUB'),
 (0.0014619495533057902, 'PCIP22'),
 (0.0013577940466223213, 'PCIP04'),
 (0.0013244195733414796, 'PCIP01'),
 (0.0009599992329868881, 'PCIP39'),
 (0.0007489373636935324, 'PCIP15'),
 (0.0007274915119347598, 'SCHTYPE'),
 (0.0005361943797804701, 'PCIP49'),
 (0.0003085276692581283, 'CONTROL'),
 (0.00029667949816930707, 'WOMENONLY'),
 (0.000235929216287255, 'PCIP10'),
 (0.00012214012715923805, 'PCIP12'),
 (8.38227358693204e-05, 'PCIP29'),
 (5.8043963767869486e-05, 'PCIP47'),
 (0.0, 'UG_WHITENH'),
 (0.0, 'UG_UNKN'),
 (0.0, 'UG_NRA'),
 (0.0, 'UG_HISPOLD'),
 (0.0, 'UG_BLACKNH'),
 (0.0, 'UG_API'),
 (0.0, 'UG_AIANOLD'),
 (0.0, 'UGDS_WHITENH'),
 (0.0, 'UGDS_HISPOLD'),
 (0.0, 'UGDS_BLACKNH'),
 (0.0, 'UGDS_API'),
 (0.0, 'UGDS_AIANOLD'),
 (0.0, 'UG'),
 (0.0, 'TUITIONFEE_PROG'),
 (0.0, 'PCIP48'),
 (0.0, 'PCIP46'),
 (0.0, 'PCIP41'),
 (0.0, 'PCIP25'),
 (0.0, 'NPT4_PROG'),
 (0.0, 'NPT4_OTHER'),
 (0.0, 'MENONLY'),
 (0.0, 'LOCALE2'),
 (0.0, 'LNFAMINC_IND'),
 (0.0, 'LNFAMINC'),
 (0.0, 'ICLEVEL'),
 (0.0, 'FSEND_COUNT'),
 (0.0, 'COSTT4_P'),
 (0.0, 'CIPTFBS1'),
 (0.0, 'AGE_ENTRY_SQ')]

In [53]:
column_list_b = []
for tuple in importance_a:
    if tuple[0] > .01:
        column_list_b.append(tuple[1])
X_a = X[column_list_b]

In [54]:
X_a

,C150_4,C150_4_POOLED,MN_EARN_WNE_P10,Acceptance Rate,Alumni Salary,SAT_AVG,ADM_RATE,SAT_AVG_ALL,MD_EARN_WNE_P8,ADM_RATE_ALL,...,MN_EARN_WNE_P8,MD_EARN_WNE_P10,MN_EARN_WNE_P9,SATMTMID,SAT Upper,MN_EARN_WNE_MALE1_P10,MN_EARN_WNE_MALE0_P10,SAT Lower,PCTFLOAN,WDRAW_ORIG_YR2_RT
0,0.5829,0.5567,48400,92.0,87200.0,1220.0,0.9211,1220.0,38300,0.9211,...,44100,41200,44500,555.0,1370.0,57400,43200,990.0,0.5127,0.189010989011
1,0.5187,0.5020,52000,81.0,103900.0,1314.0,0.8087,1314.0,41800,0.8087,...,45900,46700,50200,565.0,1330.0,58700,46000,1080.0,0.4192,0.177021276596
2,0.7188,0.6998,51600,53.0,97400.0,1252.0,0.5906,1252.0,40300,0.5906,...,45600,44500,47200,580.0,1280.0,59100,45100,1050.0,0.3863,0.112621753247
3,0.7812,0.7732,56300,84.0,104500.0,1289.0,0.7543,1289.0,44900,0.7543,...,50800,48800,49700,615.0,1310.0,63800,48000,1130.0,0.3169,0.104221635884
4,0.6800,0.6711,53100,62.0,88300.0,1232.0,0.5666,1232.0,38600,0.5666,...,43500,46700,44700,560.0,1260.0,61100,47600,1030.0,0.4567,0.105769230769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,0.8061,0.7945,62200,57.0,110000.0,1309.0,0.5798,1309.0,50400,0.5798,...,55700,55100,56200,660.0,1380.0,68700,53300,1150.0,0.2909,0.075909330522
636,0.6364,0.6437,41400,63.0,0.0,1301.0,0.6704,1301.0,32400,0.6704,...,38600,33500,37300,645.0,1350.0,46200,36100,1190.0,0.5062,0.1875
637,0.6009,0.6239,0,69.0,86500.0,1323.0,0.7679,1323.0,33600,0.7679,...,36900,0,0,645.0,1380.0,0,0,1190.0,0.3174,0.147435897436
638,0.4766,0.4787,45800,64.0,80000.0,1143.0,0.6492,1143.0,41000,0.6492,...,44000,42100,42700,555.0,1210.0,52100,42400,1060.0,0.3925,0.13664825046
639,0.3410,0.3143,46200,78.0,85600.0,1130.0,0.8094,1130.0,39400,0.8094,...,43900,41900,0,540.0,1130.0,52600,42200,910.0,0.3289,0.288838398182

In [55]:
rf_a.base_estimator_

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [56]:
# Create the RandomizedSearchCV model
from sklearn.model_selection import RandomizedSearchCV# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
#criterion
criterion = ['gini', 'entropy']
# Maximum number of levels in tree
ccp_alpha = [0., 2., 3., 4., 5.]
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
#impurity decrease
impurity_decrease = [0, 1, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4, 8]
# Method of selecting samples for training each tree
bootstrap = [True, False]# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'criterion' : criterion,
               'ccp_alpha' : ccp_alpha,
               'min_impurity_decrease' : impurity_decrease,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
                'oob_score': [True, False]}
random_grid

{'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000],
 'criterion': ['gini', 'entropy'],
 'ccp_alpha': [0.0, 2.0, 3.0, 4.0, 5.0],
 'min_impurity_decrease': [0, 1, 5, 10],
 'max_features': ['auto', 'sqrt'],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'min_samples_split': [2, 5, 10],
 'min_samples_leaf': [1, 2, 4, 8],
 'bootstrap': [True, False],
 'oob_score': [True, False]}

In [57]:
rf_random = RandomizedSearchCV(estimator = rf_a, param_distributions = random_grid, cv = 3, verbose = 2, n_iter = 200,  n_jobs = -1)

In [58]:
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 200 candidates, totalling 600 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:   33.1s
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 600 out of 600 | elapsed:  2.4min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_impurity_decrease': [0, 1, 5, 10],
                                        'min_samples_leaf': [1, 2, 4, 8],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 311, 522, 733,
                                                         944, 1155, 1366, 1577,
                                                         1788, 2000],
                                        'oob_score': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [59]:
rf_random.score(X_test, y_test)

0.4270833333333333

In [60]:
rf_random.best_params_

{'oob_score': False,
 'n_estimators': 522,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'min_impurity_decrease': 0,
 'max_features': 'auto',
 'max_depth': 40,
 'criterion': 'gini',
 'ccp_alpha': 0.0,
 'bootstrap': True}

In [61]:
# here we need to choose either 10%_cut or 5%_cut.  Choose 10% first then redo with 5%
y_a = filtered_ranking_4_year_df['10%_cut']
y_a

0      7
1      7
2      3
3      2
4      7
      ..
635    1
636    8
637    4
638    7
639    7
Name: 10%_cut, Length: 640, dtype: int64

In [62]:
X = X_a
y = y_a
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [63]:
rf_a = rf.fit(X_train, y_train)
rf_a.score(X_test, y_test)

0.45

In [64]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf_a.feature_importances_
importances

array([0.08916871, 0.08944217, 0.04364654, 0.04094219, 0.04588866,
       0.04513022, 0.04966742, 0.04451075, 0.03379896, 0.04336647,
       0.03300426, 0.03940518, 0.02060302, 0.03785326, 0.03459813,
       0.03583296, 0.03712823, 0.03226315, 0.03836717, 0.02909818,
       0.03563302, 0.06173377, 0.03891759])

In [65]:
# We can sort the features by their importance
importance_b = sorted(zip(rf.feature_importances_, column_list), reverse=True)
importance_b

[(0.08944216527994543, 'LOCALE'),
 (0.08916871056418024, 'CONTROL'),
 (0.061733774169292085, 'PCIP10'),
 (0.04966742448749715, 'ADM_RATE_ALL'),
 (0.045888662281117085, 'WOMENONLY'),
 (0.045130219106009554, 'ADM_RATE'),
 (0.04451075054163308, 'SATVRMID'),
 (0.043646538819499675, 'LOCALE2'),
 (0.04336647399921999, 'SATWRMID'),
 (0.040942189952071696, 'MENONLY'),
 (0.039405179179796315, 'ACTENMID'),
 (0.03891758754108199, 'PCIP11'),
 (0.038367169666722344, 'PCIP04'),
 (0.037853256495711834, 'ACTWRMID'),
 (0.03712823460501341, 'PCIP01'),
 (0.03583295921513269, 'SAT_AVG_ALL'),
 (0.035633019216127444, 'PCIP09'),
 (0.034598126715490875, 'SAT_AVG'),
 (0.03379895988604668, 'SATMTMID'),
 (0.03300425503502751, 'ACTCMMID'),
 (0.03226314614599859, 'PCIP03'),
 (0.02909817959589959, 'PCIP05'),
 (0.020603017501484987, 'ACTMTMID')]